<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li class="sidebar-menu-item-active">Tím</li>
          <li><a href="/clenovia">Členovia</a></li>
          <li><a href="/podporovatelia">Podporovatelia</a></li>
          <li><a href="/stanovy">Stanovy</a></li>
          <li><a href="/eticky-kodex">Etický kódex</a></li>
          <li><a href="/kariera">Kariéra</a></li>
          <li><a href="/vyrocne-spravy">Výročné správy</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Tím</h1>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Gabriel Lachmann</h3>
              <span>Výkonný riaditeľ</span>
              <p class="perex">Obchodný riaditeľ spoločnosti
                <a href="http://www.eea.sk/">EEA</a>, spoluzakladateľ neziskovej organizácie
                <a href="http://utopia.sk/">Utopia</a> a členom
                <a href="http://www.soit.sk/">Spoločnosti pre otvorené informačné technológie</a>.</p>
              <a href="mailto:gabriel.lachmann@slovensko.digital">gabriel.lachmann@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/gabriel_lachmann.jpg" class="about-img" alt="Gabriel Lachmann">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Ľubor Illek</h3>
              <span>Predseda rady, Opatrenia a verejná správa</span>
              <p class="perex">Zakladajúci člen
                <a href="http://www.soit.sk/">Spoločnosti pre otvorené informačné technológie</a>, odborník na informačnú bezpečnosť, spolupracoval na viacerých projektoch vo verejnej správe.
              </p>
              <a href="mailto:lubor.illek@slovensko.digital">lubor.illek@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/lubomir_illek.jpg" class="about-img" alt="Lubor Illek">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Ján Suchal</h3>
              <span>Vývoj a komunita</span>
              <p class="perex">Programátor, spoluautor projektov využívajúcich otvorené dáta -
                <a href="http://foaf.sk/">foaf.sk</a>,
                <a href="http://www.otvorenezmluvy.sk/">otvorenezmluvy.sk</a>,
                <a href="http://datanest.sk/">datanest.sk</a>. Spoluvlastní softvérovú firmu minio, s.r.o.</p>
              <a href="mailto:jan.suchal@slovensko.digital">jan.suchal@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/jan_suchal.jpg" class="about-img" alt="Ján Suchal">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Ján Hargaš</h3>
              <span>Podpredseda rady</span>
              <p class="perex">8 rokov pôsobil ako konzultant pre verejnú správu so skúsenosťami na Slovensku aj na zahraničných projektoch. 2 roky pracoval vo Veľkej Británii pre klienta HM Revenue & Customs. Je zakladajúci člen Slovensko.Digital a od februára 2016 do februára 2019 pôsobil ako výkonný riaditeľ združenia.</p>
              <a href="mailto:jan.hargas@slovensko.digital">jan.hargas@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/jan_hargas.jpg" class="about-img" alt="Ján Hargaš">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Peter Kulich</h3>
              <span>Senior expert</span>
              <p class="perex">Vyštudoval Ekonomickú fakultu UMB v Banskej Bystrici. V rokoch 2007 až 2017 pracoval na viacerých pozíciách v štátnych inštitúciách a viac ako 8 rokov bol projektový manažér štátnych IT projektov. V Slovensko.Digital sa venuje témam ako lepší nákup štátneho IT či otvorené API.</p>
              <a href="mailto:peter.kulich@slovensko.digital">peter.kulich@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/peter_kulich.jpg" class="about-img" alt="Peter Kulich" height="256px">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Vladimír Raučina</h3>
              <span>Senior expert</span>
              <p class="perex">Je absolventom študijného odboru Technická kybernetika, zameranie Robotika, na Elektrotechnickej fakulte SVŠT (dnes STU). Prešiel vacerými vrcholovými manažérskymi pozíciami v IT spoločnostiach a pôsobil ako poradca ministerky spravodlivosti SR. V Slovensko.Digital sa venuje téme budovania personálnych kapacít a zručností v štátnom IT.</p>
              <a href="mailto:vladimir.raucina@slovensko.digital">vladimir.raucina@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <!-- <img src="/img/onas/vladimir_raucina.jpg" class="about-img" alt="Vladimír Raučina">-->
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Miroslav Cák</h3>
              <span>Expert na verejné obstarávanie</span>
              <p class="perex">Venuje sa verejným obstarávaniam a veľkým obstarávacím projektom. Vyštudoval Právnickú fakultu v Brne. Pracoval 3 roky na Ministerstve financií Českej republiky a viac ako 7 rokov v nadnárodných stavebných spoločnostiach na pozícii projektového právnika so zameraním na verejné obstarávania.</p>
              <a href="mailto:miroslav.cak@slovensko.digital">miroslav.cak@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/miroslav_cak.jpg" class="about-img" alt="Miroslav Cák" height="256px" width="196px">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Vladimír Falťan</h3>
              <span>Senior expert</span>
              <p class="perex">Vyštudoval Prírodovedeckú fakultu Univerzity Komenského v Bratislave, od roku 2000 na nej vyučuje študentov geografických odborov, vedie vedecky a aplikačne zamerané projekty s využitím geografických informačných systémov. V Slovensko.Digital sa venuje problematike issue managementu.</p>
              <a href="mailto:vladimir.faltan@slovensko.digital">vladimir.faltan@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/vlado_faltan.jpg" class="about-img" alt="Vladimír Falťan" height="256px" width="196px">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Hana Benediktová</h3>
              <span>Koordinátorka dobrovoľníkov a vývojárov</span>
              <p class="perex">V minulosti riadila technickú podporu. V Slovensko.Digital sa venuje portálu Návody.Digital.</p>
              <a href="mailto:hana.benediktova@slovensko.digital">hana.benediktova@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <!-- <img src="/img/onas/hana_benediktova.jpg" class="about-img" alt="Hana Benediktová">-->
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Alena Schmidt</h3>
              <span>Finančná manažérka</span>
              <p class="perex">Dlhodobo sa venuje finančným analýzam a produktovej cenotvorbe. Pracovala pre dánsku pobočku GE Money Bank, ZSE Energiu a Maersk Line.</p>
              <a href="mailto:alena.schmidt@slovensko.digital">alena.schmidt@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/alena_schmidt.jpg" class="about-img" alt="Alena Schmidt">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Matúš Kollár</h3>
              <span>Marketing a komunikácia</span>
              <p class="perex">Dlhodobo sa venuje reklamným, marketingovým a komunikačným kampaniam v komerčnom aj neziskovom sektore. V Slovensko.Digital má na starosti externú komunikáciu a PR.</p>
              <a href="mailto:matus.kollar@slovensko.digital">matus.kollar@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <!-- <img src="/img/onas/matus_kollar.jpg" class="about-img" alt="Matúš Kollár">-->
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Eva Ruttkayová</h3>
              <span>Office manažment a zákaznícka podpora</span>
              <p class="perex">Vyštudovala Fakultu politických vied a medzinárodných vzťahov UMB v Banskej Bystrici. V Slovensko.Digital sa venuje prevažne administratívnemu chodu spoločnosti, ako aj komunikácii s klientmi a tretími stranami.</p>
              <a href="mailto:eva.ruttkayova@slovensko.digital">eva.ruttkayova@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/eva_ruttkayova.jpg" class="about-img" alt="Eva Ruttkayová">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Pavol Zbell</h3>
              <span>Programátor</span>
              <p class="perex">Programátor, spoluautor projektu otvorenesudy.sk.</p>
              <a href="mailto:pavol.zbell@slovensko.digital">pavol.zbell@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/pavol_zbell.jpg" class="about-img" alt="Pavol Zbell">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Michal Roháček</h3>
              <span>Programátor</span>
              <p class="perex">Je študentom inžinierskeho štúdia na Fakulte elektrotechniky a informatiky STU.</p>
              <a href="mailto:michal.rohacek@slovensko.digital">michal.rohacek@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <!-- <img src="/img/onas/michal_rohacek.jpg" class="about-img" alt="Michal Roháček">-->
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Stanislav Modrák</h3>
              <span>Programátor</span>
              <p class="perex">Absolvent LEAF Academy. Momentálne študujúci v zahraničí. Účastník vo viacerých IT projektoch doma a v zahraničí.</p>
              <a href="mailto:stanislav.modrak@slovensko.digital">stanislav.modrak@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/stanislav_modrak.png" class="about-img" alt="Stanislav Modrák">
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
