<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li class="sidebar-menu-item-active">Tím</li>
          <li><a href="/podporovatelia">Podporovatelia</a></li>
          <li><a href="/stanovy">Stanovy</a></li>
          <li><a href="/eticky-kodex">Etický kódex</a></li>
          <li><a href="/kariera">Kariéra</a></li>
          <li><a href="/vyrocne-spravy">Výročné správy</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Tím</h1>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Ján Hargaš</h3>
              <span>Výkonný riaditeľ</span>
              <p class="perex">8 rokov pôsobil ako konzultant pre verejnú správu so skúsenosťami na Slovensku aj na zahraničných projektoch. Posledné 2 roky pracoval vo Veľkej Británii pre klienta HM Revenue & Customs.</p>
              <a href="mailto:jan.hargas@slovensko.digital">jan.hargas@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/jan_hargas.jpg" class="about-img" alt="Ján Hargaš">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Ľubor Illek</h3>
              <span>Opatrenia a verejná správa</span>
              <p class="perex">Zakladajúci člen <a href="http://www.soit.sk/">Spoločnosti pre otvorené informačné technológie</a>, odborník na informačnú bezpečnosť, spolupracoval na viacerých projektoch vo verejnej správe.</p>
              <a href="mailto:lubor.illek@slovensko.digital">lubor.illek@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/lubomir_illek.jpg" class="about-img" alt="Lubor Illek">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Ján Suchal</h3>
              <span>Vývoj a komunita</span>
              <p class="perex">Programátor, spoluautor projektov využívajúcich otvorené dáta - <a href="http://foaf.sk/">foaf.sk</a>,
                <a href="http://www.otvorenezmluvy.sk/">otvorenezmluvy.sk</a>, <a href="http://datanest.sk/">datanest.sk</a>. Spoluvlastní softvérovú firmu minio, s.r.o.</p>
              <a href="mailto:jan.suchal@slovensko.digital">jan.suchal@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/jan_suchal.jpg" class="about-img" alt="Ján Suchal">
            </div>
          </div>
          <hr>
        </div>
        
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Gabriel Lachmann</h3>
              <span>Predseda rady</span>
              <p class="perex">Obchodný riaditeľ spoločnosti <a href="http://www.eea.sk/">EEA</a>, spoluzakladateľ neziskovej organizácie
                <a href="http://utopia.sk/">Utopia</a> a členom <a href="http://www.soit.sk/">Spoločnosti pre otvorené informačné technológie</a>.</p>
              <a href="mailto:gabriel.lachmann@slovensko.digital">gabriel.lachmann@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/gabriel_lachmann.jpg" class="about-img" alt="Gabriel Lachmann">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Michal Haman</h3>
              <span>Projektový manažment a podpora chodu</span>
              <p class="perex">Pracuje v neziskovom sektore a realizuje projekty najmä v oblasti neformálneho vzdelávania. Pôsobil ako projektový manažér v Centre pre európsku politiku.</p>
              <a href="mailto:michal.haman@slovensko.digital">michal.haman@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/michal_haman.jpg" class="about-img" alt="Michal Haman">
            </div>
          </div>
          <hr>
        </div>
        
        <h3 class="dark-heading"><strong>Stážisti v Slovensko.Digital</strong></h3>
        <div class="row team-wider">
          <div class="col-sm-4">
            <div class="content-wrap">
              <img src="/img/onas/ivan_bartos.jpg" alt="Ivan Bartoš">
              <h3>Ivan Bartoš</h3>
              <span>Analytika a WebDev</span>
            </div>
          </div>
        </div>
        <h3 class="dark-heading"><strong>Širší team Slovensko.Digital</strong></h3>
        <div class="row team-wider">
          <div class="col-sm-4 col-sm-offset-2">
            <div class="content-wrap">
              <img src="/img/onas/jakub_ptacin.jpg" alt="Jakub Ptačin">
              <h3>Jakub Ptačin</h3>
              <span>Dizajn a komunikácia</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="content-wrap">
              <img src="/img/onas/jan_gondol.jpg" alt="Ján Gondoľ">
              <h3>Ján Gondoľ</h3>
              <span>Medzinárodná spolupráca</span>
            </div>
          </div>
        </div>
        <h3 class="dark-heading"><strong>Priložili ruku k dielu</strong></h3>
        <div class="row team-wider">

          <div class="col-sm-4">
            <div class="content-wrap">
              <img src="/img/onas/michal_truban.jpg" alt="Michal Truban">
              <h3>Michal Truban</h3>
              <span>Zakladajúci člen</span>
              <!-- <p class="perex">Majiteľ hostingovej spoločnosti <a href="https://www.websupport.sk/">WebSupport, s.r.o.</a>, v roku 2015 bol vyhlásený za IT osobnosť roka na Slovensku.</p>
              <a href="mailto:michal.truban@slovensko.digital">michal.truban@slovensko.digital</a> -->
            </div>
          </div>

          <div class="col-sm-4">
            <div class="content-wrap">
              <img src="/img/onas/michal_cheben.jpg" alt="Michal Cheben">
              <h3>Michal Cheben</h3>
              <span>Zakladajúci člen</span>
              <!-- <p class="perex">Vyštudoval Automatizované systémy riadenia. Od roku 2005 sa zaujíma o informatizáciu verejnej správy a spolupracoval na viacerých projektoch vo verejnej správe.</p>
              <a href="mailto:jan.hargas@slovensko.digital">michal.cheben@slovensko.digital</a> -->
            </div>
          </div>

          <div class="col-sm-4">
            <div class="content-wrap">
              <img src="/img/onas/miroslav_hettes.jpg" alt="Miroslav Hetteš">
              <h3>Miroslav Hetteš</h3>
              <span>Programátor</span>
              <!-- <p class="perex">Programátor, spoluzakladateľ softvérovej spoločnosti WEBYNAMIERU s.r.o. a spoluautor <a href="http://datanest.fair-play.sk/">datanest.sk</a>.</p> -->
            </div>
          </div>

          <div class="col-xs-12" style="height:50px;"></div>

          <div class="col-sm-4">
            <div class="content-wrap">
              <img src="/img/onas/lukas_pucovsky.jpg" alt="Lukáš Pucovský">
              <h3>Lukáš Pucovský</h3>
              <span>Marketing a Sales</span>
            </div>
          </div>
        
          <div class="col-sm-4">
            <div class="content-wrap">
              <img src="/img/onas/lubos_pernis.jpg" alt="Luboš Perniš">
              <h3>Luboš Perniš</h3>
              <span>Rozvoj zahraničnej spolupráce</span>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="content-wrap">
              <img src="/img/onas/alexandra_urbanikova.jpg" alt="Alexandra Urbaníková">
              <h3>Alexandra Urbaníková</h3>
              <span>Rozvoj zahraničnej spolupráce</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
