<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li class="sidebar-menu-item-active">Tím</li>
          <li><a href="/clenovia">Členovia</a></li>
          <li><a href="/podporovatelia">Podporovatelia</a></li>
          <li><a href="/stanovy">Stanovy</a></li>
          <li><a href="/eticky-kodex">Etický kódex</a></li>
          <li><a href="/kariera">Kariéra</a></li>
          <li><a href="/vyrocne-spravy">Výročné správy</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Tím</h1>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Peter Kulich</h3>
              <span>Výkonný riaditeľ</span>
              <p class="perex">Vyštudoval Ekonomickú fakultu
                <a href="https://www.umb.sk/">UMB v Banskej Bystrici</a>. V rokoch 2007 až 2017 pracoval na viacerých pozíciách v štátnych inštitúciách a viac ako 8 rokov bol projektový manažér štátnych IT projektov. V Slovensko.Digital sa venuje témam ako lepší nákup štátneho IT či otvorené API.
              </p>
              <a href="mailto:peter.kulich@slovensko.digital">peter.kulich@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/peter_kulich.jpg" class="about-img" alt="Peter Kulich" height="256px">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Ľubor Illek</h3>
              <span>Predseda rady, Opatrenia a verejná správa</span>
              <p class="perex">Zakladajúci člen
                <a href="http://www.soit.sk/">Spoločnosti pre otvorené informačné technológie</a>, odborník na informačnú bezpečnosť, spolupracoval na viacerých projektoch vo verejnej správe.
              </p>
              <a href="mailto:lubor.illek@slovensko.digital">lubor.illek@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/lubomir_illek.jpg" class="about-img" alt="Lubor Illek">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Ján Suchal</h3>
              <span>Vývoj a komunita</span>
              <p class="perex">Programátor, spoluautor projektov využívajúcich otvorené dáta -
                <a href="http://foaf.sk/">foaf.sk</a>,
                <a href="http://www.otvorenezmluvy.sk/">otvorenezmluvy.sk</a>,
                <a href="http://datanest.sk/">datanest.sk</a>. Spoluvlastní softvérovú firmu minio, s.r.o.</p>
              <a href="mailto:jan.suchal@slovensko.digital">jan.suchal@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/jan_suchal.jpg" class="about-img" alt="Ján Suchal">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Vladimír Falťan</h3>
              <span>Senior expert</span>
              <p class="perex">Vyštudoval Prírodovedeckú fakultu
                <a href="https://uniba.sk/">Univerzity Komenského v Bratislave</a>, od roku 2000 na nej vyučuje študentov geografických odborov, vedie vedecky a aplikačne zamerané projekty s využitím geografických informačných systémov. V Slovensko.Digital sa venuje problematike issue managementu.
              </p>
              <a href="mailto:vladimir.faltan@slovensko.digital">vladimir.faltan@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/vlado_faltan.jpg" class="about-img" alt="Vladimír Falťan" height="256px" width="196px">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
        <div class="row">
          <div class="col-sm-8">
            <h3>Juraj Dillinger</h3>
            <span>Red Flags, Senior expert</span>
            <p class="perex">Od začiatku roka 2021 sa do nášho tímu Red Flags, hodnotiaceho štátne IT projekty, zapojil aj Juraj Dillinger. Juraj má dlhoročné skúsenosti spojené s prípravou, realizáciou, prevádzkou a ďalším rozvojom projektov v rezortoch úradu vlády SR, ministerstiev vnútra, kultúry, práce, životného prostredia, či NASES. Prácu na projekte Red Flags vie preto oceniť práve z pohľadu realizátora projektu.</p>
            <a href="mailto:juraj.dillinger@slovensko.digital">juraj.dillinger@slovensko.digital</a>
          </div>
        </div>
        <hr>
      </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Gabriel Lachmann</h3>
              <span>Člen rady, Senior expert</span>
              <p class="perex">Obchodný riaditeľ spoločnosti <a href="http://www.eea.sk/">EEA</a>, spoluzakladateľ neziskovej organizácie <a href="http://utopia.sk/">Utopia</a> a člen <a href="http://www.soit.sk/">Spoločnosti pre otvorené informačné technológie</a>.</p>
              <a href="mailto:gabriel.lachmann@slovensko.digital">gabriel.lachmann@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/gabriel_lachmann.jpg" class="about-img" alt="Gabriel Lachmann">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Peter Steinhübl</h3>
              <span>Člen rady</span>
              <p class="perex"></p>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/peter_steinhubl.png" class="about-img" alt="Peter Steinhübl" height="256px" width="196px">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Matej Stuška</h3>
              <span>Člen rady</span>
              <p class="perex"></p>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/matej_stuska.png" class="about-img" alt="Matej Stuška" height="256px" width="196px">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Petra Konkoľová</h3>
              <span>Finančná manažérka</span>
              <p class="perex">Dlhodobo sa venuje finančnému controllingu. Niekoľko rokov pracovala pre spoločnosť <a href="https://new.siemens.com/sk/sk.html">Siemens</a> na pozíciách v oblasti controllingu a financií. </p>
              <a href="mailto:petra.konkolova@slovensko.digital">petra.konkolova@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <!--  <img src="/img/onas/petra_konkolova.jpg" class="about-img" alt="a picture of Petra Konkoľová">  -->
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Matúš Kollár</h3>
              <span>Marketing a komunikácia</span>
              <p class="perex">Dlhodobo sa venuje reklamným, marketingovým a komunikačným kampaniam v komerčnom aj neziskovom sektore. V Slovensko.Digital má na starosti externú komunikáciu a PR.</p>
              <a href="mailto:matus.kollar@slovensko.digital">matus.kollar@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <!-- <img src="/img/onas/matus_kollar.jpg" class="about-img" alt="Matúš Kollár">-->
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Zuzana Jankechová</h3>
              <span>Office manažment a zákaznícka podpora</span>
              <p class="perex">Viac ako 10 rokov sa pohybuje v prostredí neziskových organizácií a venovala sa poradenstvu, administrácii a rozvoju projektov v oblasti sociálnej práce, dobrovoľníctva a práce s mládežou. V Slovensko.Digital je zodpovedná za office manažment a komunikáciu s klientmi.</p>
              <a href="mailto:zuzana.jankechova@slovensko.digital">zuzana.jankechova@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
               <img src="/img/onas/zuzana_jankechova.jpg" class="about-img" alt="a picture of Zuzana Jankechová">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Petra Plesníková</h3>
              <span>Komunitný manažér</span>
              <p class="perex">Vyštudovala strategický manažment v rakúskom Innsbrucku. Má skúsenosti v oblasti tvorby a riadenia vzdelávacích konferencií, ako aj riadenia menších IT projektov. V Slovensko.Digital sa venuje najmä spolupráci s komunitou a členskými spoločnosťami a ich zapájaniu do aktivít organizácie.</p>
              <a href="mailto:petra.plesnikova@slovensko.digital">petra.plesnikova@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/petra_plesnikova.png" class="about-img" alt="a picture of Petra Plesníková">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Pavol Zbell</h3>
              <span>Programátor</span>
              <p class="perex">Programátor, spoluautor projektu <a href="https://otvorenesudy.sk/">otvorenesudy.sk</a>.
              </p>
              <a href="mailto:pavol.zbell@slovensko.digital">pavol.zbell@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/pavol_zbell.jpg" class="about-img" alt="Pavol Zbell">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Michal Roháček</h3>
              <span>Programátor</span>
              <p class="perex">Je študentom inžinierskeho štúdia na
                <a href="https://www.fei.stuba.sk/">Fakulte elektrotechniky a informatiky STU</a>.</p>
              <a href="mailto:michal.rohacek@slovensko.digital">michal.rohacek@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <!-- <img src="/img/onas/michal_rohacek.jpg" class="about-img" alt="Michal Roháček">-->
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Lucia Janíková</h3>
              <span>Programátorka</span>
              <p class="perex">Je študentkou na
                <a href="https://www.fiit.stuba.sk/">Fakulte informatiky a informačných technológií STU</a>.</p>
              <a href="mailto:lucia.janikova@slovensko.digital">lucia.janikova@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/lucia_janikova.png" class="about-img" alt="Lucia Janíková">
            </div>
          </div>
          <hr>
        </div>
        <div class="content-wrap">
          <div class="row">
            <div class="col-sm-8">
              <h3>Marek Ceľuch</h3>
              <span>Programátor</span>
              <p class="perex">Je študentom na
                <a href="https://www.fiit.stuba.sk/">Fakulte informatiky a informačných technológií STU</a>.</p>
              <a href="mailto:marek.celuch@slovensko.digital">marek.celuch@slovensko.digital</a>
            </div>
            <div class="col-sm-4">
              <img src="/img/onas/marek_celuch.jpg" class="about-img" alt="Marek Ceľuch">
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
