<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Lepšie digitálne služby štátu <strong>nie sú</strong> sci-fi</h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="http://ekosystem.slovensko.digital/sluzby/govbox"><img src="/img/sluzby/govbox_banner.png" class="img-responsive"></a>
      </div>
      <br>
      <div class="col-md-4">
        <h2>Občianske združenie zamerané na zvýšenie kvality digitálnych služieb štátu na Slovensku</h2>
        <div class="hl hl-red"></div>
      </div>
      <div class="col-md-offset-1 col-md-7">
        <h3 class="lead"><strong>Na informatizáciu sa od roku 2007 minulo 900 miliónov eur, ale úradníkom stále robíme poštára.</strong> Začalo sa nové obdobie čerpania eurofondov a potrebujeme zásadnú zmenu.</h3>
        <h3>Chceme, aby digitálne služby štátu boli jednoduché, dávali zmysel a mali normálne ceny. Nutne musíme zvýšiť transparentnosť a efektívnosť vynakladania verejných zdrojov ako aj participáciu odbornej verejnosti pri elektronizácii verejnej správy.</h3>
        <p>Sme občianske združenie Slovensko.Digital a v našich postojoch a návrhoch sa inšpirujeme skúsenosťami krajín, ktoré sú na popredných miestach kvality elektronizácie verejnej správy. Veríme, že Slovensko má potenciál využiť tieto skúsenosti vo svoj prospech a zaradiť sa k svetovým lídrom v tejto oblasti.</p>
        <p>Robíme všetko preto, aby sa mohol zapojiť každý a prispel k zmene k lepšiemu.</p>
        <p><strong>Za 12 mesiacov</strong> sa nám spoločne už podarilo:
          <ul>
          <li><strong>získať 7.000 ľudí</strong> pod výzvu Slovensko.Digital,</li>
          <li><strong>zmobilizovať 1500 členov IT komunity</strong> na platforme Slovensko.Digital,</li>
          <li>pripraviť a presadiť <strong>20 konkrétnych opatrení</strong> na zlepšenie štátneho IT,</li>
          <li>sledovať 100+ štátnych projektov na platforme</li>
          <li>upozorniť na deväť najväčších nevýhodných IT projektov</li>
          <li>umožniť <strong>20 tisíc občanom zúčastniť sa volieb</strong> cez Volby.Digital,</li>
          <li><strong>získať 2200 podpisov pod hromadnú pripomienku</strong> k stratégii informatizácie</li></li>
          <li>spustiť <strong><a href="https://ekosystem.slovensko.digital/">Ekosystém.Slovensko.Digital</a></strong></li>
          <li><strong>zastaviť tri nezmyselné projekty spolu za 250 miliónov eur</strong></li>
          </ul>
        </p>
        <p class="lead">Má to zmysel. <a href="/podpora">Zapojte sa tiež.</a></p>
      </div>
    </div>
  </div>
</div>

