<ul class="list-unstyled">
  <li><strong>Slovensko.Digital</strong></li>
  <li>Staré grunty 18, 841 04 Bratislava</li>
  <li>IČO: 50158635</li>
  <li><small>Spoločnosť zapísaná v registri Mestského súdu Bratislava III, oddiel: Sro, vložka č. 119763/B, ZI 5.000,-Eur - splatené</small></li>
</ul>
