<div class="hero"></div>

<div class="section main-content rules">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/o-nas">Tím</a></li>
          <li><a href="/clenovia">Členovia</a></li>
          <li><a href="/podporovatelia">Podporovatelia</a></li>
          <li><a href="/stanovy">Stanovy</a></li>
          <li class="sidebar-menu-item-active">Etický kódex</li>
          <li><a href="/kariera">Kariéra</a></li>
          <li><a href="/vyrocne-spravy">Výročné správy</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Dodržiavanie Etického kódexu</h1>
        <p>
          Členské firmy Slovensko.Digital chcú ísť príkladom. Spoločne sme vytvorili <a href="/eticky-kodex">Etický kódex</a>,
          ktorý obsahuje konkrétne opatrenia v oblastiach <strong>podpory whistleblowerov, súťaže vo verejnom obstarávaní
          a stransparentnenia procesu vysielania zamestnancov IT firiem</strong>.
          Jednotlivé opatrenia sme predstavili na tlačovom briefingu:
        </p>
        <p class="text-center">
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fslovensko.digital%2Fvideos%2F2093080084284986%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </p>
        <p>
          Záleží nám na tom, aby opatrenia nezostali len na papieri. Na tejto stránke preto nájdete všetky informácie o
          tom ako sa nám v spolupráci s členskými firmami darí plniť jednotlivé opatrenia Etického kódexu v praxi.
        </p>
      </div>
    </div>
  </div>
</div>
