<div class="hero"></div>

<div class="section main-content rules">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/o-nas">Tím</a></li>
          <li><a href="/clenovia">Členovia</a></li>
          <li><a href="/podporovatelia">Podporovatelia</a></li>
          <li><a href="/stanovy">Stanovy</a></li>
          <li class="sidebar-menu-item-active">Etický kódex</li>
          <li><a href="/kariera">Kariéra</a></li>
          <li><a href="/vyrocne-spravy">Výročné správy</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <a id="top" class="anchor"></a>
        <h1 class="content-heading text-center">Dodržiavanie Etického kódexu</h1>
        <p class="lead">
          Záleží nám na tom, aby opatrenia Etického kódexu nezostali len na papieri. Na tejto stránke preto nájdete všetky informácie o
          tom ako sa nám v spolupráci s členskými firmami darí plniť jednotlivé opatrenia Etického kódexu v praxi:
        </p>

        <ul>
          <li><a href="#video-podme-spolu-prikladom">Video: Poďme spolu príkladom!</a></li>
          <li><a href="#skolenie-nekale-praktiky">Nekalé praktiky v hospodárskej súťaži. Ako sa správne zachovať?</a></li>
          <li><a href="#podpisovanie-etickeho-kodexu">Pospisovanie etického kódexu</a></li>
          <li><a href="#diskusia-eticke-kodexy">Diskusia: Prispejú etické kódexy k slušnejšiemu IT?</a></li>
          <li><a href="#tlacovy-brifing">Tlačový brífing k etickému kódexu Slovensko.Digital</a></li>
        </ul>

        <hr />

        <a id="video-podme-spolu-prikladom" class="anchor"></a>
        <h2 class="mb-0">Video: Poďme spolu príkladom!</h2>
        <p class="text-muted">13.5.2019</p>
        <div class="text-center">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/6h9aBXGNqnQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p class="mt-5 mb-0 text-muted text-right"><a class="jump-to-top" href="#top">&uarr; Nahor</a></p>
        <hr class="mt-0" />

        <a id="skolenie-nekale-praktiky" class="anchor"></a>
        <h2 class="mb-0">Nekalé praktiky v hospodárskej súťaži. Ako sa správne zachovať?</h2>
        <p class="text-muted">21.12.2018</p>
        <p>
          Dňa 12.12. 2018 sme v spolupráci s TaylorWessing organizovali prvé pilotné školenie pre zamestnancov členských
          firiem Slovensko.Digital na tému "Nekalé praktiky v hospodárskej súťaži. Ako sa správne zachovať?" K
          organizovaniu školení sme sa prihlásili v článku 4 Etického kódexu.
        </p>
        <p>
          Školenie viedol Peter Demčák, bývalý riaditeľ odboru kartelov Protimonopolného úradu, v súčastnosti pôsobiaci
          v advokátskej kancelárii TaylorWessing. Školenie sa venovalo nekalým praktikám v hospodárskej súťaži v dvoch
          rovinách, a to <strong>vo vzťahu firma a štát, firmy medzi sebou</strong>. Cieľom školenia bolo zvýšiť
          povedomie o legislatívnych východiskách, o tom ako vyzerajú nekalé praktiky,  ako sa správne zachovať, ak sme
          ich svedkami a ako im dať červenú.
        </p>
        <div class="text-center">
          <img src="img/eticky-kodex/skolenie_taylor_wessing.png">
        </div>

        <p class="mt-5 mb-0 text-muted text-right"><a class="jump-to-top" href="#top">&uarr; Nahor</a></p>
        <hr class="mt-0" />

        <a id="podpisovanie-etickeho-kodexu" class="anchor"></a>
        <h2 class="mb-0">Pospisovanie etického kódexu</h2>
        <p class="text-muted">2.12.2018</p>
        <p>
          Symbolický podpis etického kódexu našimi členskými firmami. Viac fotografií nájdete na <a href="https://www.facebook.com/pg/slovensko.digital/photos/?tab=album&album_id=2299089717017354">našom Facebooku</a>.
        </p>
        <div class="text-center">
          <a href="https://www.facebook.com/pg/slovensko.digital/photos/?tab=album&album_id=2299089717017354" title="Podpisovanie Etického kódexu na Facebooku Slovensko.Digital">
            <img src="img/eticky-kodex/podpisovanie.png" alt="Podpisovanie Etického kódexu na Facebooku Slovensko.Digital" width="560" >
          </a>
        </div>

        <p class="mt-5 mb-0 text-muted text-right"><a class="jump-to-top" href="#top">&uarr; Nahor</a></p>
        <hr class="mt-0" />

        <a id="diskusia-eticke-kodexy" class="anchor"></a>
        <h2 class="mb-0">Diskusia: Prispejú etické kódexy k slušnejšiemu IT?</h2>
        <p class="text-muted">30.7.2018</p>
        <div class="text-center">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/oTztftLbUIA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p class="mt-5 mb-0 text-muted text-right"><a class="jump-to-top" href="#top">&uarr; Nahor</a></p>
        <hr class="mt-0" />

        <a id="tlacovy-brifing" class="anchor"></a>
        <h2 class="mb-0">Tlačový brífing k etickému kódexu Slovensko.Digital</h2>
        <p class="text-muted">3.7.2018</p>
        <p>
          Členské firmy Slovensko.Digital chcú ísť príkladom. Spoločne sme vytvorili <a href="/eticky-kodex">Etický kódex</a>,
          ktorý obsahuje konkrétne opatrenia v oblastiach <strong>podpory whistleblowerov, súťaže vo verejnom obstarávaní
          a stransparentnenia procesu vysielania zamestnancov IT firiem</strong>.
          Jednotlivé opatrenia sme predstavili na tlačovom briefingu:
        </p>
        <p class="text-center">
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fslovensko.digital%2Fvideos%2F2093080084284986%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </p>
      </div>
    </div>
  </div>
</div>
