<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/o-nas">Tím</a></li>
          <li><a href="/podporovatelia">Podporovatelia</a></li>
          <li><a href="/stanovy">Stanovy</a></li>
          <li><a href="/eticky-kodex">Etický kódex</a></li>
          <li><a href="/kariera">Kariéra</a></li>
          <li><a href="/pre-media">Pre médiá</a></li>
          <li class="sidebar-menu-item-active">Výročné správy</li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Výročné správy</h1>

        <div class="content-wrap">
          <h3>Výročná správa 2016</h3>
          <p class="perex">Zistite viac o tom, ako sme prispeli k zastaveniu nevýhodných projektov za 250 miliónov eur, presadili lepšie pravidlá informatizácie a ukázali, že štátne IT sa dá robiť kvalitne.</p>
          <a href="https://drive.google.com/file/d/0B3q6f0KyeRnsVHNoQy1SUHJjLUU/view" class="btn btn-primary">Stiahni výročnú správu</a>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
