<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/o-nas">Tím</a></li>
          <li><a href="/clenovia">Členovia</a></li>
          <li><a href="/podporovatelia">Podporovatelia</a></li>
          <li><a href="/stanovy">Stanovy</a></li>
          <li><a href="/eticky-kodex">Etický kódex</a></li>
          <li><a href="/kariera">Kariéra</a></li>
          <li class="sidebar-menu-item-active">Výročné správy</li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Výročné správy</h1>

        <div class="content-wrap">
          <h3>Výročná správa 2019</h3>
          <p class="perex">Zistite viac o našich aktivitách. Počas roka sme upravili v spolupráci s komunitou a členmi projekt Volby.Digital, rozšírili návody na portáli Navody.Digital a aktívne pôsobili aj v pracovných skupinách a prepájali expertízu z IT komunity s verejnou správou.</p>
          <a href="/files/slovensko-digital-vyrocna-sprava-2019.pdf" class="btn btn-primary">Stiahni výročnú správu</a>
          <hr>

          <h3>Výročná správa 2018</h3>
          <p class="perex">Pozrite si informácie o našich aktivitách v oblasti tvorby návrhov verejných politík a hodnotenia projektov v rámci metodiky Red Flags.</p>
          <a href="/files/slovensko-digital-vyrocna-sprava-2018.pdf" class="btn btn-primary">Stiahni výročnú správu</a>
          <hr>

          <h3>Výročná správa 2017</h3>
          <p class="perex">Prečítajte si, ako vznikol náš projekt Red Flags, ktorým hodnotíme veľké štátne IT projekty, ako sme spustili službu GovBox, aby sa podnikatelia mohli dostať sa k štátnej pošte jednoducho či ako sa nám podarilo spojiť 18 firiem a jednotlivcov, ktorým záleží na férových podmienkach na podnikanie.</p>
          <a href="/files/slovensko-digital-vyrocna-sprava-2017.pdf" class="btn btn-primary">Stiahni výročnú správu</a>
          <hr>

          <h3>Výročná správa 2016</h3>
          <p class="perex">Zistite viac o tom, ako sme prispeli k zastaveniu nevýhodných projektov za 250 miliónov eur, presadili lepšie pravidlá informatizácie a ukázali, že štátne IT sa dá robiť kvalitne.</p>
          <a href="/files/slovensko-digital-vyrocna-sprava-2016.pdf" class="btn btn-primary">Stiahni výročnú správu</a>
        </div>
      </div>
    </div>
  </div>
</div>
