<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/aktuality">Novinky</a></li>
          <li><a href="/pre-media">Tlačové správy</a></li>
          <li class="sidebar-menu-item-active">Zverejnené výzvy</li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Zverejnené výzvy</h1>

        <div class="content-wrap">
          <h3>Poskytnutie služieb odborného charakteru v oblasti verejných obstarávaní IKT</h3>
          <span>30.5.2019</span>
          <p class="perex">“Lepšie riešenia eGovernmentu v SR”, ITMS kód projektu 314011M065, a to najmä v oblasti práva duševného vlastníctva, verejných obstarávaní IKT a súvisiacich zmluvných vzťahov.</p>
          <a href="https://docs.google.com/document/d/1dJyx-5uI8G8QPbHIcNPLxMc1Ql6nuakq/view" class="btn btn-primary">Stiahni zverejnenú výzvu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Poskytnutie služieb odborného charakteru v téme Platformy/otvorené API verejnej správy</h3>
          <span>30.5.2019</span>
          <p class="perex">“Lepšie riešenia eGovernmentu v SR”, ITMS kód projektu 314011M065, a to najmä v téme Platformy/Otvorené API systémov verejnej správy.</p>
          <a href="https://docs.google.com/document/d/1mkv9FgrESUaUPYWMrus0jtFFJviNAmgU/view" class="btn btn-primary">Stiahni zverejnenú výzvu</a>
          <hr>
        </div>

      </div>
    </div>
  </div>
</div>
