<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><a href="/clenstvo">Staňte sa naším <strong>členom</strong> a buďte aj vy Slovensko.Digital</a></h1>
      </div>
    </div>
  </div>
</div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/podpora">Podporte finančne</a></li>
          <li><a href="/venujte-svoj-cas">Venujte svoj čas</a></li>
          <li><a href="/clenstvo">Členstvo</a></li>
          <li><a href="/dve_percenta_info">2% z dane</a></li>
          <li class="sidebar-menu-item-active">Benefit Plus</li>
        </ul>
      </div>
      <div class="col-md-9">
        <h1 class="content-heading text-center">Benefit Plus</h1>
        <p class="lead">Táto možnosť podpory sa týka firiem a ich zamestnancov, ktorí sú súčasťou programu <a href="https://www.benefit-plus.eu/sk/">BENEFIT PLUS</a></p>
        
        <p>Stačí, ak sa jednoducho prihlásite do svojho konta a vyhľadáte Slovensko.Digital v zozname organizácii.</p>

        <strong>Pre firmy</strong>
        <p>Využívate vo vašej firme program Benefit Plus? Ak áno, budeme radi ak sa rozhodnete ponúknuť vašim zamestnancom možnosť poukázať finančné prostriedky aj združeniam ako je Slovensko.Digital a zaradíte nás do vášho zoznamu.</p>

        <strong>Pre zamestnancov</strong>
        <p>Ak ste sa rozhodli poukázať časť svojich finančných prostriedkov Slovensko.Digital, ale nenašli ste nás v zozname, kontaktujte človeka, ktorý zodpovedá za program Benefit Plus vo vašej firme a požiadajte ho/ju o zaradenie Slovensko.Digital do zoznamu.</p>
        
        <p>Vopred srdečne ďakujeme všetkým, ktorí sa rozhodnete podporiť nás týmto spôsobom.</p>

        <div class="col-xs-12" style="height:50px;"></div>
      </div>
    </div>
  </div>
</div>
