<div class="hero"></div>

<div class="section main-content rules">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/o-nas">Tím</a></li>
          <li><a href="/clenovia">Členovia</a></li>
          <li><a href="/podporovatelia">Podporovatelia</a></li>
          <li><a href="/stanovy">Stanovy</a></li>
          <li><a href="/eticky-kodex">Etický kódex</a></li>
          <li class="sidebar-menu-item-active">Kariéra</li>
          <li><a href="/vyrocne-spravy">Výročné správy</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Kariéra</h1>
        <p class="lead">Aktuálne otvorené pozície v Slovensko.Digital</p>
        <h2><a href="https://euractiv.sk/praca/slovensko-digital-bratislava-slovensko-digital-marketing-starostlivost-o-clenov-slovensko-digital/">Marketing</a></h2>
        <h2><a href="https://euractiv.sk/praca/slovensko-digital-bratislava-slovensko-digital-senior-odbornik-hodnotenie-projektov-red-flags/">Red Flags – Senior odborník</a></h2>
        <h2><a href="https://euractiv.sk/praca/slovensko-digital-bratislava-slovensko-digital-senior-odbornik-it-platformy-a-cloud-3/">Senior odborník (IT platformy a Cloud)</a></h2>
        <h2><a href="https://euractiv.sk/praca/slovensko-digital-bratislava-staz-slovensko-digital-2/">Stáž</a></h2>
      </div>
    </div>
  </div>
</div>
