<div class="hero"></div>

<div class="section main-content rules">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/o-nas">Tím</a></li>
          <li><a href="/podporovatelia">Podporovatelia</a></li>
          <li><a href="/stanovy">Stanovy</a></li>
          <li><a href="/eticky-kodex">Etický kódex</a></li>
          <li class="sidebar-menu-item-active">Kariéra</li>
          <li><a href="/pre-media">Pre médiá</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Kariéra</h1>
        <p class="lead">Aktuálne otvorené pozície v Slovensko.Digital</p>
        <h2><a href="https://inhiro.com/job/id/11496">Ruby programátor/ka</a></h2>
        <h2><a href="https://inhiro.com/job/id/11498">Analytik / Bojovník proti rozhadzovaniu peňazí</a></h2>
        <h2><a href="https://inhiro.com/job/id/11499">Projektový manažér / Neúnavný líder</a></h2>
      </div>
    </div>
  </div>
</div>
