<div class="hero"></div>

<div class="section main-content rules">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/o-nas">Tím</a></li>
          <li><a href="/clenovia">Členovia</a></li>
          <li><a href="/podporovatelia">Podporovatelia</a></li>
          <li><a href="/stanovy">Stanovy</a></li>
          <li class="sidebar-menu-item-active">Etický kódex</li>
          <li><a href="/kariera">Kariéra</a></li>
          <li><a href="/vyrocne-spravy">Výročné správy</a></li>
          <li><a href="/pre-media">Tlačové správy</a></li>
          <li><a href="/zverejnene-vyzvy">Zverejnené výzvy</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Etický kódex</h1>
        <p class="tip">Pozrite si, ako vyzerá <a href="/dodrziavanie-etickeho-kodexu">dodržiavanie Etického kódexu</a> v praxi.</p>
        <p class="lead">Etický kódex občianskeho združenia Slovensko.Digital</p>
        <p>Etický kódex (ďalej len „Kódex“) vydáva Rada občianskeho združenia Slovensko.Digital. Kódex definuje  jednotný štandard a pravidlá správania sa členov a podporovateľov združenia Slovensko.Digital, predovšetkým v obchodnom alebo dodávateľskom vzťahu s orgánmi verejnej moci na Slovensku. Dodržiavanie Kódexu je  slobodné rozhodnutie členov a podporovateľov konať v súlade s princípmi Kódexu a aplikovať ich vo svojej  praxi:</p>

        <h2>Článok 1</h2>
        <p>Členovia a podporovatelia združenia Slovensko.Digital rešpektujú a konajú v zmysle platných zákonov Slovenskej republiky.</p>

        <h2>Článok 2</h2>
        <p>Členovia a podporovatelia združenia Slovensko.Digital konajú transparentne.</p>

        <h2>Článok 3</h2>
        <p>Členovia a podporovatelia združenia Slovensko.Digital svojim konaním demonštrujú profesionálnu a odbornú integritu.</p>

        <h2>Článok 4</h2>
        <p>Členovia združenia Slovensko.Digital dbajú na rozvoj etického správania svojich zamestnancov. Za rok zorganizujú aspoň jedno školenie od tímu Slovensko.Digital pre zamestnancov, ktorí môžu potenciálne naraziť na korupčné správanie alebo naopak mať príležitosť konať korupčne.</p>

        <h2>Článok 5</h2>
        <p>Členovia združenia Slovensko.Digital podporujú whistleblowerov z radov úradníkov alebo dodávateľov v prostredí informatizácie, ktorí zákonným spôsobom upozornia na protispoločenskú činnosť. Svoju podporu im vyjadrujú napríklad ponukou pracovného miesta, ak whistleblower spĺňa podmienky prijatia.</p>

        <h2>Článok 6</h2>
        <p>Členovia podporujú konkurenciu medzi firmami. S cieľom zamedziť obmedzovaniu konkurencie cez podmienky účasti, členovia Slovensko.Digital nebudú poskytovať referencie alebo životopisy expertov bez následného plnenia na projekte v prípade úspechu v obstarávaní.</p>

        <h2>Článok 7</h2>
        <p>Členovia Slovensko.Digital nebudú vyvíjať aktivity proti konaniu verejného obstarávania a zaväzujú sa podporovať zástupcov verejnej správy pri snahe o otvorenú súťaž.</p>

        <h2>Článok 8</h2>
        <p>Členovia Slovensko.Digital budú proaktívne zdieľať informácie o  podozrivých praktikách v tendroch s Radou občianskeho združenia Slovensko.Digital.</p>

        <h2>Článok 9</h2>
        <p>Členovia a podporovatelia združenia Slovensko.Digital sa pri svojom konaní vyhýbajú konfliktu záujmov, korupčnému alebo inak nekalému správaniu. Pri spolupráci so štátom formou vyslania zamestnancov alebo formou zúčastňovania sa na tvorbe verejných politík, transparentne zverejnia životopis svojich zástupcov, meno vysielajúcej firmy, obdobie a náplň ich práce.</p>

        <h2>Článok 10</h2>
        <p>Členovia a podporovatelia združenia Slovensko.Digital konajú v zmysle cieľov občianskeho združenia a zdržiavajú sa konania, ktoré by mohlo škodiť združeniu alebo ohroziť jeho dobré meno. Členovia a podporovatelia združenia budú využívať meno združenia a spojitosť s ním len na základe predchádzajúceho osobitného súhlasu združenia.</p>

        <h2>Článok 11</h2>
        <p>Členovia združenia Slovensko.Digital, ktorí sú právnickými osobami, zverejnia záväzok vrcholového manažmentu dbať na dodržiavanie tohto etického kódexu.</p>

        <p>Členovia a podporovatelia združenia Slovensko.Digital berú na vedomie, že akékoľvek konanie v rozpore s týmto Kódexom je dôvodom na výmaz zo zoznamu podporovateľov, resp. na zrušenie členstva v zmysle platných Stanov.</p>

        <p>Bratislava, 1.7.2018</p>

        <p class="tip">Pozrite si, ako vyzerá <a href="/dodrziavanie-etickeho-kodexu">dodržiavanie Etického kódexu</a> v praxi.</p>
      </div>
    </div>
  </div>
</div>
