<div class="hero"></div>

<div class="section main-content rules">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/o-nas">Tím</a></li>
          <li><a href="/podporovatelia">Podporovatelia</a></li>
          <li><a href="/stanovy">Stanovy</a></li>
          <li class="sidebar-menu-item-active">Etický kódex</li>
          <li><a href="/kariera">Kariéra</a></li>
          <li><a href="/pre-media">Pre médiá</a></li>
          <li><a href="/vyrocne-spravy">Výročné správy</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Etický kódex</h1>
        <p class="lead">Etický kódex občianskeho združenia Slovensko.Digital</p>
        <p>Etický kódex (ďalej len Kódex) vydáva Rada občianskeho združenia Slovensko.Digital. Cieľom Kódexu je zabezpečiť jednotný štandard a pravidlá správania sa členov a podporovateľov združenia Slovensko.Digital, predovšetkým v obchodnom alebo dodávateľskom vzťahu s orgánmi verejnej moci. Kódex vyjadruje slobodné rozhodnutie členov a podporovateľov konať v súlade s nasledovnými princípmi:</p>

        <h2>Článok. 1</h2>
        <p>Členovia a podporovatelia združenia Slovensko.Digital rešpektujú a konajú v zmysle platných zákonov Slovenskej republiky.</p>

        <h2>Článok. 2</h2>
        <p>Členovia a podporovatelia združenia Slovensko.Digital konajú transparentne.</p>

        <h2>Článok. 3</h2>
        <p>Členovia a podporovatelia združenia Slovensko.Digital svojim konaním demonštrujú vysokú profesionálnu a odbornú integritu.</p>

        <h2>Článok. 4</h2>
        <p>Členovia a podporovatelia združenia Slovensko.Digital sa pri svojom konaní vyhýbajú konfliktu záujmov, korupčnému alebo inak nekalému správaniu.</p>

        <h2>Článok. 5</h2>
        <p>Členovia a podporovatelia združenia Slovensko.Digital konajú v zmysle cieľov občianskeho združenia a zdržiavajú sa konania, ktoré by mohlo škodiť združeniu alebo ohroziť jeho dobré meno. Členovia a podporovatelia združenia budú využívať meno združenia a spojitosť s ním len na základe predchádzajúceho osobitného súhlasu združenia.</p>
        <p>Členovia a podporovatelia združenia Slovensko.Digital berú na vedomie, že akékoľvek konanie v rozpore s týmto Kódexom je dôvodom na výmaz zo zoznamu podporovateľov, resp. na zrušenie členstva v zmysle platných Stanov.</p>
      </div>
    </div>
  </div>
</div>