<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><a href="/clenstvo">Staňte sa naším <strong>členom</strong> a budte aj vy Slovensko.digital</a></h1>
      </div>
    </div>
  </div>
</div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/podpora">Podporte finančne</a></li>
          <li class="sidebar-menu-item-active">Venujte svoj čas</li>
          <li><a href="/clenstvo">Členstvo</a></li>
        </ul>
      </div>
      <div class="col-md-9">
        <h1 class="content-heading text-center">Venujte svoj čas</h1>
        <p class="lead">Máte chuť a čas venovať sa štátnemu IT? Chcete sa aktívne zapojiť do Slovensko.Digital?</p>

        <p>Či ste úradník, programátor, dizajnér, analytik, obchodník, novinár alebo hocikto iný vieme Vás zapojiť. Práce je veľa a spôsobov ako sa zapojiť tiež:</p>
        <ol>
          <li><strong><a href="https://platforma.slovensko.digital/t/pracovne-skupiny/1293">Odborné pracovné skupiny</a></strong> - staňte sa členom niektorej z už 15 tematických skupín, ktoré sa venujú príprave a presadzovaniu opatrení na zlepšenie štátneho IT.</li>
          <li><strong><a href="https://platforma.slovensko.digital">Diskusia na platforme</a></strong> - zapojte sa do diskusie na platforme, na ktorej možno vzniknú nové Volby.Digital.</li>
          <li><strong><a href="https://platforma.slovensko.digital/c/statne-projekty">Investigatíva</a></strong> - pomôžte nám analyzovať a rozpracovať podozrivé projekty. </li>
          <li><strong><Organizovanie podujatí a propagácia Slovensko.Digital</strong> - zorganizujte prednášku alebo debatu na tvojej škole, v tvojej firme alebo kdekoľvek inde. <a href="/kontakt">Radi pomôžeme.</a></li>
          <li>Programátori a dizajnéri, vytvárajte s nami lepší <a href="https://github.com/slovensko-digital/ekosystem">ekosystém.slovensko.digital</a>.</li>
          <li>Zlepšovať existujúce a navrhovať nové služby štátu na platforme.</li>
          <li>Nahlasovať tipy na korupčné správanie.</li>
          <li><strong>A ešte <a href="https://platforma.slovensko.digital/t/ako-mozem-ja-pomoct-slovensko-digital/2689">mnoho iného</a>.</strong></li>
        </ol>
        <p>
          Máte nápad ako inak by ste vedeli pomôcť? <a href="/kontakt">Napíšte nám krátko a výstižne</a> a my sa ozveme. Ak na toto čas nemáte
          <a href="/podpora">podporte nás finančne</a>. Ďakujeme.
        </p>
      </div>
    </div>
  </div>
</div>
