<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><a href="/clenstvo">Staňte sa naším <strong>členom</strong> a buďte aj vy Slovensko.Digital</a></h1>
      </div>
    </div>
  </div>
</div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li class="sidebar-menu-item-active">Podporte finančne</li>
          <li><a href="/venujte-svoj-cas">Venujte svoj čas</a></li>
          <li><a href="/clenstvo">Členstvo</a></li>
          <li><a href="/dve_percenta_info">2% z dane</a></li>
          <li><a href="/benefit-plus">Benefit Plus</a></li>
        </ul>
      </div>
      <div class="col-md-9">
        <h1 class="content-heading text-center">Podporte finančne</h1>
        <p>
          Robíme všetko preto, aby bolo štátne IT lepšie. Ak nás chcete na tejto ceste podporovať, najľahšie je to finančným darom alebo svojim časom.
        </p>
        <p>
          Slovensko.Digital je nezávislé občianske združenie, ktoré je financované výhradne z&nbsp;transparetných zdrojov a&nbsp;od ľudí, ktorí sa otvorene prihlásia k&nbsp;našemu
          <a href="/eticky-kodex">etickému kódexu</a>. Nemáme čo skrývať a&nbsp;preto výšku a&nbsp;využitie darov budeme
          <a href="/podporovatelia">transparentne zverejňovať</a>.
        </p>
        <p>Ak je to možné, staňte sa prosím pravidelným darcom. Pomôžete nám tak robiť túto prácu dlhodobo a bez obáv o financie. <strong>Ďakujeme.</strong></p>
        <p>
          <a href="https://slovensko-digital.darujme.sk/podporte-nas-5e527/" class="btn btn-primary">Podporiť finančne</a>
        </p>

        <div class="col-xs-12" style="height:50px;"></div>
      </div>
    </div>
  </div>
</div>
