<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>U nás máte kód a dvere vždy otvorené.</h1>
      </div>
    </div>
  </div>
</div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
	      <h2><a href="mailto:kontakt@slovensko.digital">kontakt@slovensko.digital</a></h2>
	      <h2>Zákaznícka podpora <br><a href="tel:+421948338080">+421 948 338 080</a></h2>
        <div class="hl hl-red"></div>
      </div>
      <div class="col-md-offset-1 col-md-7">
        <h3>Ak máte nápad či otázku, neváhajte nás kontaktovať. Radi pomôžeme ako vieme a odpovedáme rýchlo.</h3>
        <%= erb :address %>
        <h4>Kancelária a korešpondenčná adresa</h4>
        <a href="https://goo.gl/maps/SrPwabYddtoHYZBc8">Binárium, Staré grunty 18, 841 04 Bratislava</a>
      </div>
    </div>
  </div>
</div>
