<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>U nás máte kód a dvere vždy otvorené.</h1>
      </div>
    </div>
  </div>
</div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
	      <h2><a href="mailto:kontakt@slovensko.digital">kontakt@slovensko.digital</a></h2>
	      <h2>Zákaznícka podpora <br><a href="tel:+421951289008">+421 948 338 080</a></h2>
        <div class="hl hl-red"></div>
      </div>
      <div class="col-md-offset-1 col-md-7">
        <h3>Ak máte nápad či otázku, neváhajte nás kontaktovať. Radi pomôžeme ako vieme a odpovedáme rýchlo.</h3>
        <%= erb :address %>
        <h4>Kancelária a korešpondenčná adresa</h4>
        <p>Binárium, Staré grunty 18, 841 04 Bratislava</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1330.810289589033!2d17.071261340089258!3d48.15611963866454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476c8bed4f3f2b41%3A0xc33a2ba6b67b70b7!2sBinarium!5e0!3m2!1sen!2ssk!4v1487083316217" width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
