<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Lepšie digitálne služby štátu <strong>nie sú</strong> sci-fi</h1>
      </div>

    </div>
  </div>
</div>
<!--/.hero -->


<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Občianske združenie zamerané na zvýšenie kvality digitálnych služieb štátu na Slovensku</h2>
        <div class="hl hl-red"></div>
      </div>
      <div class="col-md-offset-1 col-md-7">
        <h3 class="lead"><strong>Na informatizáciu sa od roku 2007 minulo 900 miliónov eur, ale úradníkom stále robíme poštára.</strong> Začalo sa nové obdobie čerpania eurofondov a potrebujeme zásadnú zmenu.</h3>
        <h3>Chceme, aby digitálne služby štátu boli jednoduché, dávali zmysel a mali normálne ceny. Nutne musíme zvýšiť transparentnosť a efektívnosť vynakladania verejných zdrojov ako aj participáciu odbornej verejnosti pri elektronizácii verejnej správy.</h3>
        <p>Sme občianske združenie Slovensko.Digital a v našich postojoch a návrhoch sa inšpirujeme skúsenosťami krajín, ktoré sú na popredných miestach kvality elektronizácie verejnej správy. Veríme, že Slovensko má potenciál využiť tieto skúsenosti vo svoj prospech a zaradiť sa k svetovým
          lídrom v tejto oblasti.</p>
        <p>Robíme všetko preto, aby sa mohol zapojiť každý a prispel k zmene k lepšiemu.</p>
        <p><strong>Za 6 mesiacov</strong> sa nám spoločne už podarilo:
          <ul>
          <li><strong>získať 7.000 ľudí</strong> pod výzvu Slovensko.Digital,</li>
          <li><strong>zmobilizovať 1300 členov IT komunity</strong> na platforme Slovensko.Digital,</li>
          <li>pripraviť <strong>20 konkrétnych opatrení</strong> na zlepšenie štátneho IT,</li>
          <li>upozorniť na nevýhodné IT projekty za viac ako <strong>350 miliónov eur</strong></li>
          <li>umožniť <strong>20 tisíc občanom zúčastniť sa volieb</strong> cez Volby.Digital,</li>
          <li><strong>získať 2200 podpisov pod hromadnú pripomienku</strong> k stratégii informatizácie</li></li>
          <li><strong>zastaviť nezmyselné projekty</strong> Elektronické kartičky a Automatické pokuty spolu <strong>za 200 miliónov eur</strong></li>
          </ul>
        </p>
        <p class="lead">Má to zmysel. <a href="/podpora">Zapojte sa tiež.</a></p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="panel with-nav-tabs panel-default">
    <div class="container container-offset">
      <div class="row">
        <div class="col-md-12">
          <div class="panel-heading">
            <ul id="audience-nav-tabs" class="nav nav-tabs">
              <li class="active">
                <a href="#tab1default" data-toggle="tab">
                  <div class="text-center"><span>Verejnosť <i class="glyphicon glyphicon-chevron-up"></i></span></div>
                </a>
              </li>
              <li>
                <a href="#tab2default" data-toggle="tab">
                  <div class="text-center"><span>Úradníci <i class="glyphicon glyphicon-chevron-down"></i></span></div>
                </a>
              </li>
              <li>
                <a href="#tab3default" data-toggle="tab">
                  <div class="text-center"><span>Politici <i class="glyphicon glyphicon-chevron-down"></i></span></div>
                </a>
              </li>
              <li>
                <a href="#tab4default" data-toggle="tab">
                  <div class="text-center"><span>IT odborníci a&nbsp;komunita <i class="glyphicon glyphicon-chevron-down"></i></span></div>
                </a>
              </li>
              <li>
                <a href="#tab5default" data-toggle="tab">
                  <div class="text-center"><span>IT firmy <i class="glyphicon glyphicon-chevron-down"></i></span></div>
                </a>
              </li>
              <li>
                <a href="#tab6default" data-toggle="tab">
                  <div class="text-center"><span>Občianske iniciatívy <i class="glyphicon glyphicon-chevron-down"></i></span></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab1default">
                <div class="row">
                  <div class="col-md-4">
                    <h2>Buďme nároční, zaslúžime si lepšie služby štátu.</h2>
                    <div class="hl hl-blue"></div>
                  </div>
                  <div class="col-md-offset-1 col-md-7 tab-pane-content">
                    <div class="row">
                      <div class="col-md-12">
                        <h3>Naša vízia</h3>
                        <p>Občania si zaslúžia služby štátu, ktoré budú minimálne v kvalite tých komerčných. Také, z ktorých bude cítiť záujem štátu o občana. Vieme, že nie všetko bude zábava, ale všetko by malo byť jednoduché, prehľadné a plynulé. </p>
                        <h3>Naša ponuka</h3>
                        <p>Slovensko.Digital bude presadzovať kvalitné elektronické služby štátu. Budeme dohliadať nad efektívnym používaním verejných zdrojov, informovať a vzdelávať, aby na Slovensku vznikol dopyt po lepších službách štátu. Budeme tiež spolupracovať s hlavnými aktérmi v systéme, aby sa naša vízia naplnila.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <h3><strong>Máte otázku alebo nám chcete pomôcť? </strong> <a href="/kontakt" class="btn btn-primary">Kontakt</a></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab2default">
                <div class="row">
                  <div class="col-md-4">
                    <h2>Aj úradník môže vytŕčať z radu.</h2>
                    <div class="hl hl-blue"></div>
                  </div>
                  <div class="col-md-offset-1 col-md-7 tab-pane-content">
                    <div class="row">
                      <div class="col-md-12">
                        <h3>Naša vízia</h3>
                        <p>Chceme, aby štátne IT pomáhalo úradníkom robiť svoju prácu lepšie a odbornejšie. Aby sa rozhodnutia robili na základe rýchlo dostupných informácii, aby služba občanom bola jednoduchá a rýchla. Naša vízia je štátne IT, v ktorom budú aj úradníci spokojní a motivovaní. Potrebujeme, aby sa ľuďia, ktorí riadia a rozhodujú a miliónoch eur v informatizácii mohli sústrediť na odbornú prácu a nepociťovali bočné politické tlaky. </p>
                        <h3>Naša ponuka</h3>
                        <p>Slovensko.Digital ponúka nezávislý odborný pohľad a podporu pri ambicióznych nápadoch vo verejnej správe. Chceme pomôcť iniciatívnym úradom a ich zamestnancom presadzovať lepšie služby občanom. Prinášame inšpiratívne nápady, pomoc s riešením výziev, verejnú podporu alebo školenia a nástroje na zvyšovanie zručností.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <h3><strong>Máte otázku alebo nám chcete pomôcť? </strong> <a href="/kontakt" class="btn btn-primary">Kontakt</a></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab3default">
                <div class="row">
                  <div class="col-md-4">
                    <h2>Digitálne služby sú témou dávno, štát nesmie zaspať dobu.</h2>
                    <div class="hl hl-blue"></div>
                  </div>
                  <div class="col-md-offset-1 col-md-7 tab-pane-content">
                    <div class="row">
                      <div class="col-md-12">
                        <h3>Naša vízia</h3>
                        <p>V našej vízii sú digitálne služby štátu politickou prioritou a majú jasné politické vlastníctvo. Našou víziou je štátne IT, ktoré bude príkladom úspešného programu spolupráce medzi verejným a súkromným sektorom s jasným a merateľným prínosom pre občana.</p>
                        <h3>Naša ponuka</h3>
                        <p>Podporujeme inovačnú agendu cez odborné opatrenia v štátnom IT. Pinúkame odborné stanoviská k legislatívnym iniciatívam a odbornú podporu pre zavádzanie systémových zmien v štátnom IT.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <h3><strong>Máte otázku alebo nám chcete pomôcť? </strong> <a href="/kontakt" class="btn btn-primary">Kontakt</a></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab4default">
                <div class="row">
                  <div class="col-md-4">
                    <h2>Ako IT komunita to máme hlavne vo svojich rukách.</h2>
                    <div class="hl hl-blue"></div>
                  </div>
                  <div class="col-md-offset-1 col-md-7 tab-pane-content">
                    <div class="row">
                      <div class="col-md-12">
                        <h3>Naša vízia</h3>
                        <p>Chceme štátne IT, kde úradníci aktívne spolupracujú so širokou odbornou komunitou a vytvárajú jej nové príležitosti na nové služby. Príprava riešení je participatívna, hlas komunity počuť a môže sama navrhovať nové služby štátu, vylepšovať ich a tvoriť pridanú hodnotu nad tým, čo sa vybudovalo z verejných zdrojov. </p>
                        <h3>Naša ponuka</h3>
                        <p>Slovensko.Digital ti ponúka zapojenie do inšpiratívnych aktivít, širokú komunitu, sieť kontaktov a know-how. Ponúkame priestor na odbornú diskusiu a možnosť prispieť k lepším službám štátu. Ponúkame ti tiež priestor na realizáciu a vytváranie vlastných služieb, ktoré občanom uľahčiia život.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <h3><strong>Máte otázku alebo nám chcete pomôcť? </strong> <a href="/kontakt" class="btn btn-primary">Kontakt</a></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab5default">
                <div class="row">
                  <div class="col-md-4">
                    <h2>Štátne IT môže byť férový sektor.</h2>
                    <div class="hl hl-blue"></div>
                  </div>
                  <div class="col-md-offset-1 col-md-7 tab-pane-content">
                    <div class="row">
                      <div class="col-md-12">
                        <h3>Naša vízia</h3>
                        <p>Chceme štátne IT, kde IT firmy veria, že má zmysel súťažiť a snažiť sa o najlepšie riešenia. Firmy veria v korektné podnikateľské prostredie, ktoré nikoho nezvýhodňuje ani neznevýhodňuje. Chceme, aby sa s nápadmi vytvorenými na Slovensku dalo uspieť aj v zahraničí. </p>
                        <h3>Naša ponuka</h3>
                        <p>Slovensko.Digital ponúka IT firmám podporu spoločensky zodpovedného správania, odborné poradenstvo v projektoch, sieť kontaktov a know-how všade tam, kde bude úprimný záujem dodávať kvalitnejšie výstupy.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <h3><strong>Máte otázku alebo nám chcete pomôcť? </strong> <a href="/kontakt" class="btn btn-primary">Kontakt</a></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab6default">
                <div class="row">
                  <div class="col-md-4">
                    <h2>Nikto nevie všetko. Potrebujeme spájať sily.</h2>
                    <div class="hl hl-blue"></div>
                  </div>
                  <div class="col-md-offset-1 col-md-7 tab-pane-content">
                    <div class="row">
                      <div class="col-md-12">
                        <h3>Naša vízia</h3>
                        <p>Chceme štátne IT, v ktorom neziskový sektor pracuje koordinovane a spája sa za spoločnými cieľmi. Je počuť hlas verejnosti a občianske iniciatívy sú pre vládu rovnocenným partnerom na diskusiu.</p>
                        <h3>Naša ponuka</h3>
                        <p>Slovensko.Digital ponúka odborné stanoviská, konzultácie a nástroje v oblasti IT a úzku spoluprácu na presadzovaní spoločných programov a opatrení.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <h3><strong>Máte otázku alebo nám chcete pomôcť? </strong> <a href="/kontakt" class="btn btn-primary">Kontakt</a></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
