<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><a href="/clenstvo">Staňte sa naším <strong>členom</strong> a buďte aj vy Slovensko.Digital</a></h1>
      </div>
    </div>
  </div>
</div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/podpora">Podporte finančne</a></li>
          <li><a href="/venujte-svoj-cas">Venujte svoj čas</a></li>
          <li class="sidebar-menu-item-active">Členstvo</li>
          <li><a href="/dve_percenta_info">2% z dane</a></li>
          <li><a href="/benefit-plus">Benefit Plus</a></li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col">
            <img class="img-responsive" src="/img/clenstvo/manifest.png" alt="Manifest">
          </div>
        </div>
        <h1 class="content-heading text-center">Prečo byť členom?</h1>
        <p class="lead"> Lebo spolu, ako komunita, dosiahneme viac. Tvoríme alianciu firiem a jednotlivcov, ktorým záleží na lepších službách štátu a budúcnosti tejto krajiny. Sme hrdí, že Členovia Slovensko.Digital podnikajú a pracujú poctivo a spájame ľudí, ktorí to vidia rovnako.</p>

        <strong>Pridajte sa k nám a získate:</strong>
          <ul>
            <li>Možnosť rozhodovať o budúcnosti Slovensko.Digital</li>
            <li>Network, komunitu a výmenu skúseností</li>
            <li>Informácie o dianí v štátnom IT - členský newsletter s aktualitami a príležitosťami</li>
            <li>Propagáciu v IT komunite a na verejnosti</li>
            <li>Bezplatné služby pre Vaše podnikanie</li>
          </ul>

        Pozrite si zoznam <a href="/clenovia">našich členov</a>

        <h2 class="content-heading text-center">Typy členstva:</h2>
       </div>
    </div>
  </div>
</div>

<div class="section main-content">
  <div class="panel with-nav-tabs panel-default">
    <div class="container container-offset">
      <div class="row">
      <div class="sidebar col-md-3"></div>
        <div class="col-md-9">
          <div class="panel-heading">
            <ul id="audience-nav-tabs" class="nav nav-tabs">
              <li class="active">
                <a href="#tab1default" data-toggle="tab">
                  <div class="text-center"><span>Základný člen<i class="glyphicon glyphicon-chevron-up"></i></span></div>
                </a>
              </li>
              <li>
                <a href="#tab2default" data-toggle="tab">
                  <div class="text-center"><span>Malá firma<i class="glyphicon glyphicon-chevron-down"></i></span></div>
                </a>
              </li>
              <li>
                <a href="#tab3default" data-toggle="tab">
                  <div class="text-center"><span>Stredná firma<i class="glyphicon glyphicon-chevron-down"></i></span></div>
                </a>
              </li>
              <li>
                <a href="#tab4default" data-toggle="tab">
                  <div class="text-center"><span>Liga výnimočných<i class="glyphicon glyphicon-chevron-down"></i></span></div>
                </a>
              </li>
              <li>
                <a href="#tab5default" data-toggle="tab">
                  <div class="text-center"><span>TOP člen<i class="glyphicon glyphicon-chevron-down"></i></span></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="container">
        <div class="row">
          <div class="col-md-14">
            <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1default">
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-9 tab-pane-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Benefity</h3>
                        <p>Kategória určená pre fyzické osoby:</p>
                        <ul>
                          <li>Účasť na chode o.z.</li>
                          <li>Meno v zozname členov</li>
                          <li>Networking akcie</li>
                          <li>Informovanosť o eGovernmente</li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <h3>Ročné členstvo</h3>
                        <strong>100&euro;</strong>
                      </div>
                      <div class="col-md-12">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab2default">
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-9 tab-pane-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Benefity</h3>
                        <p>Ako základný člen, no naviac:</p>
                        <ul>
                            <li>Logo na web stránke</li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <h3>Ekosystém</h3>
                        Datahub: <p>1024 prístupov mesačne</p>
                        Autoform: <p>1024 prístupov mesačne</p>
                        GovBox: <p>20 správ mesačne</p>
                      </div>
                      <div class="col-md-3">
                        <h3>Ročné členstvo</h3>
                        <strong>1000&euro;</strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab3default">
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-9 tab-pane-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Benefity</h3>
                        <p>Ako malá firma, no naviac:</p>
                        <ul>
                          <li>Logo na oficiálnych materiáloch</li>
                          <li>Tematický workshop pod záštitou spoločnosti</li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <h3>Ekosystém</h3>
                        Datahub: <p>Bez obmedzenia</p>
                        Autoform: <p>Bez obmedzenia</p>
                        GovBox: <p>100 správ mesačne</p>
                      </div>
                      <div class="col-md-3">
                        <h3>Ročné členstvo</h3>
                        <strong>3000&euro;</strong>
                      </div>
                      <div class="col-md-12">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab4default">
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-9 tab-pane-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Benefity</h3>
                        <p>Ako stredná firma, no naviac:</p>
                        <ul>
                          <li>Logo na rollup-e</li>
                          <li>PR rozhovor</li>
                          <li>2x priestor na prezentáciu na komunitných stretnutiach</li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <h3>Ekosystém</h3>
                        Datahub: <p>Bez obmedzenia</p>
                        Autoform: <p>Bez obmedzenia</p>
                        GovBox: <p>500 správ mesačne</p>
                      </div>
                      <div class="col-md-3">
                        <h3>Ročné členstvo</h3>
                        <strong>10 000&euro;</strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab5default">
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-9 tab-pane-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Benefity</h3>
                        <p>Ako liga výnimočných, no naviac:</p>
                        <ul>
                          <li>4x priestor na prezentáciu na komunitných stretnutiach</li>
                          <li>4x vstup na newslettri</li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <h3>Ekosystém</h3>
                        Datahub: <p>Bez obmedzenia</p>
                        Autoform: <p>Bez obmedzenia</p>
                        GovBox: <p>Bez obmedzenia</p>
                      </div>
                      <div class="col-md-3">
                        <h3>Ročné členstvo</h3>
                        <strong>20 000&euro;</strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
      </div>
      <div class="col-md-9">
        <h2 class="content-heading text-center">Ako sa stať členom</h2>
        <p>Členstvo v Slovensko.Digital je na pozvanie. V prípade záujmu nás kontaktujte na <strong><a href="mailto:kontakt@slovensko.digital">kontakt@slovensko.digital</a></strong></p>

        <p>Páči sa Vám naša práca, ale zatiaľ nechcete byť členom? Budeme radi ak nás podporíte <strong><a href="/podpora">finančne</a></strong> alebo <strong><a href="/venujte-svoj-cas">svojim časom</a></strong>.</p>

        <p>Ďakujeme!</p>

        <div class="col-xs-12" style="height:50px;"></div>
      </div>
    </div>
  </div>
</div>

