<div class="hero"></div>

<div class="section main-content rules">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/o-nas">Tím</a></li>
          <li class="sidebar-menu-item-active">Členovia</li>
          <li><a href="/podporovatelia">Podporovatelia</a></li>
          <li><a href="/stanovy">Stanovy</a></li>
          <li><a href="/eticky-kodex">Etický kódex</a></li>
          <li><a href="/kariera">Kariéra</a></li>
          <li><a href="/vyrocne-spravy">Výročné správy</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Členovia</h1>
        <p class="lead">Sme združenie organizácií a jednotlivcov, ktorým záleží na lepších službách štátu a lepšej krajine pre život. Sme hrdí na to, že pracujeme a podnikáme poctivo. <a href="/clenstvo">Pridajte sa k nám</a> a buďte aj vy Slovensko.Digital. </p>

        <h2 class="content-heading text-center mb-0">Liga výnimočných</h2>
          <div class="row logos">
            <div class="col-sm-offset-2 col-sm-4"><a href="http://o2.sk"><img class="img-responsive" src="/img/logo/o2.png" alt="O2"></a></div>
            <div class="col-sm-4"><a href="https://www.eset.com/sk"><img class="img-responsive" src="/img/logo/eset.png" alt="ESET"></a></div>
          </div>

        <h2 class="content-heading text-center mb-0">Veľká firma</h2>
          <div class="row logos">
            <div class="col-sm-4"><a href="https://www.crystalconsulting.sk"><img class="img-responsive" src="/img/logo/crystal-consulting.png" alt="Crystal Consulting"></a></div>
            <div class="col-sm-4"><a href="http://solver.sk/"><img class="img-responsive" src="/img/logo/solver_logo.png" alt="SolverIT"></a></div>
            <div class="col-sm-4"><a href="https://www.unifiedpost.com/sk-sk/krajiny/slovakia"><img class="img-responsive" src="/img/logo/unifiedpost.png" alt="Unifiedpost"></a></div>
          </div>
          <div class="row logos">
            <div class="col-sm-4"><a href="https://www.tatrabanka.sk"><img class="img-responsive" src="/img/logo/tatra_banka.jpg" alt="Tatra banka"></a></div>
          </div>

        <h2 class="content-heading text-center mb-0">Stredná firma</h2>
          <div class="row logos">
            <div class="col-sm-4"><a href="http://viamo.sk"><img class="img-responsive" src="/img/logo/viamo.png" alt="VIAMO"></a></div>
            <div class="col-sm-4 pt-2"><a href="https://www.radiolan.sk"><img class="img-responsive" src="/img/logo/radiolan.png" alt="RadioLAN"></a></div>
            <div class="col-sm-4"><a href="https://www.hotovo.org"><img class="img-responsive" src="/img/logo/hotovo.png" alt="Hotovo"></a></div>
          </div>
          <div class="row logos">
            <div class="col-sm-4"><a href="https://vacuumlabs.com/"><img class="img-responsive" src="/img/logo/vacuumlabs.png" alt="Vacuumlabs"></a></div>
            <div class="col-sm-4"><a href="https://www.profesia.sk"><img class="img-responsive" src="/img/logo/profesia.png" alt="Profesia"></a></div>
            <div class="col-sm-4 px-5"><a href="http://eea.sk"><img class="img-responsive" src="/img/logo/eea.png" alt="EEA"></a></div>
          </div>
          <div class="row logos">
            <div class="col-sm-4 pt-3"><a href="https://www.accenture.com/sk-en"><img class="img-responsive" src="/img/logo/accenture.png" alt="Accenture"></a></div>
            <div class="col-sm-4"><a href="https://www.titans.sk"><img class="img-responsive" src="/img/logo/titans.png" alt="TITANS"></a></div>
            <div class="col-sm-4"><a href="https://finstat.sk"><img class="img-responsive" src="/img/logo/finstat.png" alt="Finstat"></a></div>
          </div>
          <div class="row logos">
            <div class="col-sm-4"><a href="https://www.kros.sk"><img class="img-responsive" src="/img/logo/kros.png" alt="KROS"></a></div>
            <div class="col-sm-4 pt-5"><a href="https://www.qualityunit.com"><img class="img-responsive" src="/img/logo/qualityunit.png" alt="Quality Unit"></a></div>
            <div class="col-sm-4"><a href="https://www.hour.sk"><img class="img-responsive" src="/img/logo/hour.png" alt="HOUR, spol s r.o."></a></div>
          </div>
          <div class="row logos">
            <div class="col-sm-4"><a href="https://www.stormware.sk"><img class="img-responsive" src="/img/logo/stormware.png" alt="STORMWARE"></a></div>
            <div class="col-sm-4"><a href="https://gd-team.sk"><img class="img-responsive" src="/img/logo/gd-team.jpg" alt="GD-TEAM"></a></div>
            <div class="col-sm-4"><a href="https://www.innovatrics.com"><img class="img-responsive" src="/img/logo/innovatrics.png" alt="Innovatrics"></a></div>
          </div>
          <div class="row logos">
            <div class="col-sm-4 pt-4"><a href="http://www.kbsystems.co"><img class="img-responsive" src="/img/logo/kb-systems-dark.png" alt="K.B. Systems"></a></div>
            <div class="col-sm-4 pt-3"><a href="http://websupport.sk"><img class="img-responsive" src="/img/logo/websupport.png" alt="WebSupport"></a></div>
            <div class="col-sm-4"><a href="https://www.gerulata.com/"><img class="img-responsive" src="/img/logo/gerulata.png" alt="Gerulata"></a></div>
          </div>
          <div class="row logos">
            <div class="col-sm-4 pt-4"><a href="https://solitea.com/sk-sk"><img class="img-responsive" src="/img/logo/solitea.jpg" alt="Solitea"></a></div>
          </div>

        <h2 class="content-heading text-center mb-0">Malá firma</h2>

          <div class="row logos">
            <div class="col-sm-4"><a href="https://www.everlution.sk"><img class="img-responsive" src="/img/logo/everlution.png" alt="Everlution"></a></div>
            <div class="col-sm-4 pt-4"><a href="https://www.superfaktura.sk"><img class="img-responsive" src="/img/logo/superfaktura.png" alt="SuperFaktúra"></a></div>
            <div class="col-sm-4 pt-4"><a href="http://ableneo.com"><img class="img-responsive" src="/img/logo/ableneo.png" alt="ableneo"></a></div>
          </div>

        <div class="row logos">
          <div class="col-sm-4 pt-0"><a href="https://www.vnet.sk/sk"><img class="img-responsive" src="/img/logo/vnet.jpg" alt="VNET"></a></div>
          <div class="col-sm-4 pt-2"><a href="http://bonet.sk"><img class="img-responsive" src="/img/logo/bonet.png" alt="BONET Systems"></a></div>
          <div class="col-sm-4 pt-2"><a href="https://goodrequest.com/sk"><img class="img-responsive" src="/img/logo/good-request.png" alt="GoodRequest"></a></div>
        </div>

        <div class="row logos">
          <div class="col-sm-4 pt-0"><a href="https://inqool.cz/sk"><img class="img-responsive" src="/img/logo/inqool.png" alt="inQool"></a></div>
          <div class="col-sm-4 pt-1"><a href="https://www.26house.com"><img class="img-responsive" src="/img/logo/26house.png" alt="26HOUSE"></a></div>
          <div class="col-sm-4 pt-2"><a href="https://www.buckleup.sk"><img class="img-responsive" src="/img/logo/buckle-up-digital-agency.png" alt="buckle up"></a></div>
        </div>

        <div class="row logos">
          <div class="col-sm-4 pt-2"><a href="https://softpoint.tech"><img class="img-responsive" src="/img/logo/softpoint.png" alt="SoftPoint"></a></div>
          <div class="col-sm-4 pt-2"><a href="https://www.ui42.sk"><img class="img-responsive" src="/img/logo/ui42_logo_circle.png" alt="SoftPoint"></a></div>
          <div class="col-sm-4 pt-2"><a href="https://sk.adastragrp.com"><img class="img-responsive" src="/img/logo/adastra.png" alt="Adastra SK"></a></div>
        </div>

        <div class="row logos">
          <div class="col-sm-4 pt-2"><a href="https://www.softwareone.com/sk-sk"><img class="img-responsive" src="/img/logo/software-one.png" alt="SoftwareONE"></a></div>
          <div class="col-sm-4 pt-2"><a href="https://dc.iops.sk"><img class="img-responsive" src="/img/logo/iops.png" alt="Iops"></a></div>
        </div>

        <h2 class="content-heading text-center mb-5">Základný člen</h2>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 text-center">
            <ul id="basic-members">
              <li>Marián Dudek</li>
              <li>Michal Barla</li>
              <li>Michal Blažej</li>
              <li>Peter Papp</li>
              <li>Pavol Lukáč</li>
              <li>Erika Kusyová</li>
              <li>Martin Kuštek</li>
              <li>Filip Likavčan</li>
            </ul>
          </div>
        </div>

        <h2 class="content-heading text-center mb-5">Zakladajúci členovia</h2>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 text-center">
            <ul id="basic-members">
              <li>Ján Hargaš</li>
              <li>Michal Cheben</li>
              <li>Ľubor Illek</li>
              <li>Gabriel Lachmann</li>
              <li>Ján Suchal</li>
              <li>Michal Truban</li>
            </ul>
          </div>
        </div>

        <p class="lead">Chcem sa pridať a <a href="/clenstvo">stať sa členom</a> Slovensko.Digital</p>

      </div>
    </div>
  </div>
</div>
