<div class="hero"></div>

<div class="section main-content rules">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/o-nas">Tím</a></li>
          <li class="sidebar-menu-item-active">Členovia</li>
          <li><a href="/podporovatelia">Podporovatelia</a></li>
          <li><a href="/stanovy">Stanovy</a></li>
          <li><a href="/eticky-kodex">Etický kódex</a></li>
          <li><a href="/kariera">Kariéra</a></li>
          <li><a href="/vyrocne-spravy">Výročné správy</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Členovia</h1>
       
          <p class="lead">Sme združenie organizácií a jednotlivcov, ktorým záleží na lepších službách štátu a lepšej krajine pre život. Sme hrdí na to, že pracujeme a podnikáme poctivo. <a href="/clenstvo">Pridajte sa k nám</a> a buďte aj vy Slovensko.Digital. </p>

        <h2 class="content-heading text-center">TOP člen</h2>
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"><a href="http://websupport.sk"><img class="img-responsive" src="/img/logo/websupport.png" alt="WebSupport"></a></div>
          </div>  


        <h2 class="content-heading text-center">Liga výnimočných</h2>
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"><a href="http://o2.sk"><img class="img-responsive" src="/img/logo/o2.png" alt="O2"></a></div>
          </div>

        <h2 class="content-heading text-center">Stredná firma</h2>
          <div class="row">

            <div class="col-sm-4"><a href="http://viamo.sk"><img class="img-responsive" src="/img/logo/viamo.png" alt="VIAMO"></a></div>
            <div class="col-sm-4"><a href="https://www.crystalconsulting.sk/"><img class="img-responsive" src="/img/logo/crystal-consulting.png" alt="Crystal Consulting"></a></div>
            <div class="col-sm-4"><a href="https://www.hotovo.org/"><img class="img-responsive" src="/img/logo/hotovo.png" alt="Hotovo"></a></div>
	
          </div>
          <div class="row">
            <div class="col-sm-4"><a href="https://www.profesia.sk/"><img class="img-responsive" src="/img/logo/profesia.png" alt="Profesia"></a></div>
            <div class="col-sm-4"><a href="https://www.radiolan.sk/"><img class="img-responsive" src="/img/logo/radiolan.png" alt="RadioLAN"></a></div>
            <div class="col-sm-4"><a href="http://solver.sk/"><img class="img-responsive" src="/img/logo/solver_logo.png" alt="SolverIT"></a></div>
          </div>

          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"><a href="https://www.martinus.sk/"><img class="img-responsive" src="/img/logo/martinus_logo.jpg" alt="Martinus"></a></div>
            <div class="col-sm-4"></div>
          </div>

        <h2 class="content-heading text-center">Malá firma</h2>

          <div class="row">
            <div class="col-sm-4"><a href="https://www.everlution.sk/"><img class="img-responsive" src="/img/logo/everlution.png" alt="Everlution"></a></div>
            <div class="col-sm-4"><a href="https://plat4m.com/"><img class="img-responsive" src="/img/logo/platform.png" alt="Everlution"></a></div>
            <div class="col-sm-4"><a href="https://www.mimacom.com/"><img class="img-responsive" src="/img/logo/mimacom.png" alt="mimacom"></a></div>
          </div>

        <h2 class="content-heading text-center">Základný člen</h2>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <ul id="basic-members">
              <li>Marián Dudek</li>
              <li>Michal Barla</li>
            </ul>
          </div>
        </div>

        <p class="lead">Chcem sa pridať a <a href="/clenstvo">stať sa členom</a> Slovensko.Digital</p>

      </div>
    </div>
  </div>
</div>
