<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><a href="/clenstvo">Staňte sa naším <strong>členom</strong> a budte aj vy Slovensko.digital</a></h1>
      </div>
    </div>
  </div>
</div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/podpora">Podporte finančne</a></li>
          <li><a href="/venujte-svoj-cas">Venujte svoj čas</a></li>
          <li class="sidebar-menu-item-active">Členstvo</li>
        </ul>
      </div>
      <div class="col-md-9">
        <h1 class="content-heading text-center">Prečo byť členom?</h1>
        <p class="lead"> “Prečo sa stať členom?” Lebo spolu, ako komunita, dosiahneme viac. Tvoríme alianciu firiem a jednotlivcov, ktorým záleží na lepších službách štátu a budúcnosti tejto krajiny. Sme hrdí na to, že podnikáme a pracujeme poctivo a spájame ľudí, ktorí to vidia rovnako.</p>

        <p class="lead">Pridajte sa k nám a získate:</p>
          <ul>
            <li><p>Možnosť rozhodovať o budúcnosti Slovensko.Digital</p></li>
            <li><p>Network, komunitu a výmenú skúseností</p></li>
            <li><p>Informácie o dianí v štátnom IT - členský newsletter s aktualitami a príležitosťami</p></li>
            <li><p>Propagáciu v IT komunite a na verejnosti</p></li>
            <li><p>Bezplatné služby pre Vaše podnikanie</p></li>
          </ul>
       </div>
    </div>
  </div>
</div>

<div class="section main-content">
  <div class="panel with-nav-tabs panel-default">
    <div class="container container-offset">
      <div class="row">
      <div class="sidebar col-md-3"></div>
        <div class="col-md-9">
          <div class="panel-heading">
            <ul id="audience-nav-tabs" class="nav nav-tabs">
              <li class="active">
                <a href="#tab1default" data-toggle="tab">
                  <div class="text-center"><span>Základný člen<i class="glyphicon glyphicon-chevron-up"></i></span></div>
                </a>
              </li>
              <li>
                <a href="#tab2default" data-toggle="tab">
                  <div class="text-center"><span>Malá firma<i class="glyphicon glyphicon-chevron-up"></i></span></div>
                </a>
              </li>
              <li>
                <a href="#tab3default" data-toggle="tab">
                  <div class="text-center"><span>Stredná firma<i class="glyphicon glyphicon-chevron-down"></i></span></div>
                </a>
              </li>
              <li>
                <a href="#tab4default" data-toggle="tab">
                  <div class="text-center"><span>Liga výnimočných<i class="glyphicon glyphicon-chevron-down"></i></span></div>
                </a>
              </li>
              <li>
                <a href="#tab5default" data-toggle="tab">
                  <div class="text-center"><span>TOP člen<i class="glyphicon glyphicon-chevron-down"></i></span></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="container">
        <div class="row">
          <div class="col-md-14">
            <div class="tab-content">
            <div class="tab-pane fade" id="tab1default">
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-9 tab-pane-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Benefity</h3>
                        <p>Kategória určená pre fyzické osoby:</p>
                        <ul>
                          <li><p>Účasť na chode o.z.</p></li>
                          <li><p>Meno v zozname členov</p></li>
                          <li><p>Networking akcie</p></li>
                          <li><p>Informovanosť o eGovernmente</p></li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <h3>Ekosystém</h3>
                        Datahub <p>/</p>
                        Autoform <p>/</p>
                        GovBox: <p>/</p>
                      </div>
                      <div class="col-md-3">
                        <h3>Ročné členstvo</h3>
                        <strong>100 euro</strong>
                      </div>
                      <div class="col-md-12">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade in active" id="tab2default">
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-9 tab-pane-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Benefity</h3>
                        <p>Ako základný člen, no naviac:</p>
                        <ul>
                            <li><p>Logo na web stránke</p></li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <h3>Ekosystém</h3>
                        Datahub <p>1024 requestov</p>
                        Autoform <p>1024 requestov</p>
                        GovBox: <p>20 správ mesačne</p>
                      </div>
                      <div class="col-md-3">
                        <h3>Ročné členstvo</h3>
                        <strong>1000 euro</strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab3default">
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-9 tab-pane-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Benefity</h3>
                        <p>Ako malá firma, no naviac:</p>
                        <ul>
                          <li><p>Logo na oficiálnych materiáloch</p></li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <h3>Ekosystém</h3>
                        Datahub <p>No limit</p>
                        Autoform <p>No limit</p>
                        GovBox: <p>100 správ mesačne</p>
                      </div>
                      <div class="col-md-3">
                        <h3>Ročné členstvo</h3>
                        <strong>3000 euro</strong>
                      </div>
                      <div class="col-md-12">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab4default">
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-9 tab-pane-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Benefity</h3>
                        <p>Ako stredná firma, no naviac:</p>
                        <ul>
                          <li><p>Logo na rollup-e</p></li>
                          <li><p>PR rozhovor</p></li>
                          <li><p>2x priestor na prezentáciu na komunitných stretnutiach</p></li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <h3>Ekosystém</h3>
                        Datahub <p>No limit</p>
                        Autoform <p>No limit</p>
                        GovBox: <p>500 správ mesačne</p>
                      </div>
                      <div class="col-md-3">
                        <h3>Ročné členstvo</h3>
                        <strong>10000 euro</strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab5default">
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-9 tab-pane-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Benefity</h3>
                        <p>Ako liga vínimočných, no naviac:</p>
                        <ul>
                          <li><p>4x priestor na prezentáciu na komunitných stretnutiach</p></li>
                          <li><p>4x vstup na Newslettri</p></li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <h3>Ekosystém</h3>
                        Datahub <p>No limit</p>
                        Autoform <p>No limit</p>
                        GovBox: <p>No limit</p>
                      </div>
                      <div class="col-md-3">
                        <h3>Ročné členstvo</h3>
                        <strong>20000 euro</strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
      </div>
      <div class="col-md-9">
        <h1 class="content-heading text-center">Ako sa stať členom</h1>
        <p class="lead"> Členstvo v Slovensko.Digital je na pozvanie. V prípade záujmu nás kontaktujte na kontakt@slovensko.digital </p>

        <p class="lead">Páči sa Vám naša práca, ale zatiaľ nechcete byť členom? Budeme radi ak nás podporíte finančne alebo svojim časom. </p>

        <div class="col-xs-12" style="height:50px;"></div>
      </div>
    </div>
  </div>
</div>

