#section removed 2017-09-30 as it is obsolete

<div class="hero"></div>

<div class="section main-content news-section">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li class="sidebar-menu-item-active">Novinky</li>
          <li><a href="/pre-media">Tlačové správy</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Novinky</h1>

        <p class="lead">Chcete vedieť, na čom pracujeme? Najlepšie to zistíte cez náš newsletter (posielame raz mesačne), na <a href="https://www.facebook.com/slovensko.digital/">Facebooku</a> alebo na našej <a href="https://platforma.slovensko.digital/">diskusnej platforme</a>. Naše verejné výstupy a vyjadrenia tiež nájdete v <a href="https://slovensko.digital/pre-media/">Tlačové správy</a>.</p>

      </div>
    </div>
  </div>
</div>
