<div class="hero"></div>
<!--/.hero -->

<div class="section main-content news-section">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li class="sidebar-menu-item-active">Novinky</li>
          <li><a href="/temy">Na čom pracujeme?</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Novinky</h1>

        <p class="lead">Novinky môžete sledovať aj na Facebook stránke <a href="https://www.facebook.com/slovensko.digital/">Slovensko.Digital</a> alebo sa prihláste k odberu emailom</a>.</p>

        <ul class="news">
          <li>
            <span class="date">1. marec 2016</span> &mdash;
            Zverejňujeme <a href="https://www.facebook.com/slovensko.digital/photos/a.1659409590985373.1073741828.1659408844318781/1688812521378413/?type=3&theater">zoznam opatrení pre lepšie štátne IT</a>.
            <a class="comments" href="https://platforma.slovensko.digital/t/opatrenia-slovensko-digital-pre-zlepsenie-informatizacie-a-nakupu-ikt/1653"><i class="fa fa-comments-o"></i></a>
          </li>
          <li>
            <span class="date">17&ndash;19. február 2016</span> &mdash;
            Podávame <a href="https://www.facebook.com/slovensko.digital/photos/a.1659409590985373.1073741828.1659408844318781/1684147395178259/?type=1&theater">hromadnú pripomienku k národnej koncepcii informatizácie verejnej správy</a> s podporou vyše 2300 podpisov.
          </li>
          <li>
            <span class="date">4. február 2016</span> &mdash;
            Na Rade vlády pre digitalizáciu verejnej správy predkladáme materiál, v ktorom navrhujeme povinné verejné pripomienkovanie veľkých IKT projektov a zvažovanie alternatív.
          </li>
          <li>
            <span class="date">3. február 2016</span> &mdash; Spoločne s Alianciou Fair-Play <a href="https://www.facebook.com/alianciafairplay/posts/1088785857808824">upozorňujeme na neštandardné obstarávania</a> v hodnote takmer 300 miliónov eur a žiadame ich pozastavenie.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
