<!-- sekcia vynechana 2017-08-03 kedze nebola updatovana -->

<div class="hero"></div>

<div class="section main-content news-section">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li class="sidebar-menu-item-active">Novinky</li>
          <li><a href="/temy">Na čom pracujeme?</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Novinky</h1>

        <p class="lead">Novinky môžete sledovať aj na Facebook stránke <a href="https://www.facebook.com/slovensko.digital/">Slovensko.Digital</a> alebo sa prihláste k odberu emailom</a>.</p>

        <ul class="news">
          <li>
            <span class="date">4. október 2016</span> &mdash;
            Pripravili sme zjednodušený <a href="https://dennikn.sk/blog/co-slubuje-novy-plan-informatizacie/">sumár hlavných zmien</a>, ktoré prináša nová Národná koncepcia informatizácie verejnej správy, ktorú minulý týždeň prijala vláda.
          </li>
          <li>
            <span class="date">28. september 2016</span> &mdash;
            <a href="https://www.facebook.com/slovensko.digital/posts/1781015152158149">Nová koncepcia pre štátne IT bola schválená Vládou SR</a>. Aj vďaka zapojeniu odborných združení dnes máme oveľa lepšiu koncepciu ako vo februári.
          </li>
          <li>
            <span class="date">19. august 2016</span> &mdash;
            <a href="http://www.tyzden.sk/podlampou/34047/pod-lampou-ludia-ktori-brania-statu-kradnut/">Ján Hargaš vysvetľuje Pod lampou</a>, ako si IT komunita upratuje vo vlastnom sektore, prečo sa držíme odborných argumentov a ako sa s verejnou správou komunikuje.
          </li>
          <li>
            <span class="date">18. August 2016</span> &mdash;
            <a href="https://www.facebook.com/slovensko.digital/posts/1761803350745996">Spustili sme</a> <a href="https://ekosystem.slovensko.digital/">Ekosystém.slovensko.digital</a>. Platformu, kde nad štátnymi dátami budú vznikať lepšie služby pre občanov a podnikateľov.
          </li>
          <li>
            <span class="date">12. august 2016</span> &mdash;
            Projekt Atlas pasívnej infraštruktúry, ktorý Ministerstvo dopravy chcelo nakúpiť za takmer 50 miliónov eur bol <a href="https://www.facebook.com/slovensko.digital/posts/1758965557696442">zastavený</a>. Spoločne s komunitou, ktorá pripomienkovala a nedovolila, aby projekt upadol do zapadnutia sa nám to podarilo.
          </li>
          <li>
            <span class="date">26. júl 2016</span> &mdash;
            Konzultáciami <a href="https://www.facebook.com/slovensko.digital/posts/1751481128444885">sme prispeli k vzniku prvej správy o hodnote za peniaze v informatizácii</a>, ktorú dnes po mesiacoch práce zverejnil Inštitút finančnej politiky na Ministerstve financií SR.
          </li>
          <li>
            <span class="date">22. júl 2016</span> &mdash;
            Michal Cheben, jeden zo zakladateľov Slovensko.Digital, <a href="https://www.facebook.com/slovensko.digital/posts/1749678405291824">prijal ponuku ísť pracovať na nový Pellegriniho úrad</a>. Mišo je spoluautorom našich opatrení pre zlepšenie informatizácie a veríme, že prechod na úrad využije ako šancu presadiť ich aj v praxi.
          </li>
          <li>
            <span class="date">28. jún 2016</span> &mdash;
            <a href="https://dennikn.sk/498614/it-odbornik-nevsimol-ziadnu-kampan-statu-povinne-e-schranky-vy-ano/?ref=tit">Ľubor Illek vysvetluje</a>, prečo dnes stále nie je zavedený princíp "jedenkrát a dosť", čo na to potrebujeme a aké ďalšie výzvy čakajú štátne IT v najbližších rokoch.
          </li>
          <li>
            <span class="date">21. jún 2016</span> &mdash;
            <a href="https://dennikn.sk/blog/ked-kricime-na-uradnikov/">Jano Suchal v blogu vysvetľuje</a>, prečo zdanie niekedy klame a aký je rozdiel medzi Štatistickým úradom a Slovenským národným divadlom.
          </li>
          <li>
            <span class="date">20. jún 2016</span> &mdash;
            Spoločne s Alianciou Fair-play <a href="https://www.facebook.com/slovensko.digital/posts/1735671210025877">sme rozobrali projekt registra právnických osôb úplne na súčiastky</a>.
          </li>
          <li>
            <span class="date">19. jún 2016</span> &mdash;
            Daniel Rabina zo Slovenského národného divadla spísal <a href="https://dennikn.sk/blog/novy-web-snd-10-dovodov-preco-to/">10 dôvodov</a>, prečo sa nákup webu SND podaril.
          </li>
          <li>
            <span class="date">16. jún 2016</span> &mdash;
            <a href="https://www.facebook.com/slovensko.digital/posts/1734003480192650">Nový web SND má víťaza</a>! Dá sa to aj transparentne.
          </li>
          <li>
            <span class="date">14. jún 2016</span> &mdash;
            Komunita funguje <a href="https://www.facebook.com/slovensko.digital/posts/1733274513598880">aj na východe</a>!
          </li>
          <li>
            <span class="date">8. jún 2016</span> &mdash;
            Hargaš zo Slovensko.digital o štátnom IT: <a href="https://dennikn.sk/481357/hargas-zo-slovensko-digital-statnom-it-restart-bez-aktualizacii-nanic/?ref=mpm">Reštart bez aktualizácií bude nanič</a>.
          </li>
          <li>
            <span class="date">23. máj 2016</span> &mdash;
            Článok <a href="https://www.uvo.gov.sk/uvod/aktualne-temy-2a8.html?id=91">„Potrebujeme zmeny v nákupe IKT“</a> bol dnes zverejnený v odbornom časopise ÚVO Revue a v našich návrhoch uvádzame aj konkrétne príklady zo zahraničia, ako sa IT dá obstarávať lepšie.
          </li>
          <li>
            <span class="date">1. máj 2016</span> &mdash;
            Pol roka fungovania Slovensko.Digital. Za tento krátky čas sa nám spoločne podarilo dosiahnuť <a href="https://www.facebook.com/slovensko.digital/photos/a.1659409590985373.1073741828.1659408844318781/1714791368780528/?type=3">tieto výsledky</a>.
          </li>
          <li>
            <span class="date">27. apríl 2016</span> &mdash;
            <a href="https://www.facebook.com/slovensko.digital/posts/1713233218936343">Slovenské národné divadlo sa rozhodlo, že to skúsi inak</a>. Nákup nového webu chce spraviť transparentne, so zapojením komunity a cez otvorený dialóg s firmami na trhu.
          </li>
          <li>
            <span class="date">20. apríl 2016</span> &mdash;
            Predstavili sme naše plány na rok 2016 a zaspomínali na to, čo sa nám už za pol roka <a href="https://www.youtube.com/watch?v=vVjfeNXd7sA">podarilo</a>.
          </li>
          <li>
            <span class="date">15. apríl 2016</span> &mdash;
            <a href="https://www.facebook.com/slovensko.digital/posts/1709880679271597">Začíname oficiálne ako občianske združenie</a>.
          </li>
          <li>
            <span class="date">14. apríl 2016</span> &mdash;
            Program novej vlády pre IT v nás vzbudzuje <a href="https://www.facebook.com/slovensko.digital/posts/1707907822802216">zmiešané pocity</a>.
          </li>
          <li>
            <span class="date">7. apríl 2016</span> &mdash;
            V pondelok <a href="https://www.facebook.com/slovensko.digital/posts/1705088546417477">sme sa stretli s podpredsedom vlády</a> pre investície k programovému vyhláseniu vlády a prebrali sme všetky body nášho vyhlásenia.
          </li>
          <li>
            <span class="date">30. marec 2016</span> &mdash;
            Spolu so Slovenskou alianciou pre internetovú ekonomiku &ndash; SAPIE a Spoločnosťou pre otvorené informačné technológie &ndash; SOIT sme ako občianske iniciatívy v oblasti IT <a href="https://www.facebook.com/slovensko.digital/posts/1701654230094242">predložili návrhy pre novú vládu</a>.
          </li>
          <li>
            <span class="date">30. marec 2016</span> &mdash;
            Projekt Radarov za 140M eur <a href="https://www.facebook.com/slovensko.digital/photos/a.1659409590985373.1073741828.1659408844318781/1701580596768272/?type=3">zastavený</a>.
          </li>
          <li>
            <span class="date">1. marec 2016</span> &mdash;
            Zverejňujeme <a href="https://www.facebook.com/slovensko.digital/photos/a.1659409590985373.1073741828.1659408844318781/1688812521378413/?type=3&theater">zoznam opatrení pre lepšie štátne IT</a>.
          </li>
          <li>
            <span class="date">17&ndash;19. február 2016</span> &mdash;
            Podávame <a href="https://www.facebook.com/slovensko.digital/photos/a.1659409590985373.1073741828.1659408844318781/1684147395178259/?type=1&theater">hromadnú pripomienku k národnej koncepcii informatizácie verejnej správy</a> s podporou vyše 2300 podpisov.
          </li>
          <li>
            <span class="date">4. február 2016</span> &mdash;
            Na Rade vlády pre digitalizáciu verejnej správy predkladáme materiál, v ktorom navrhujeme povinné verejné pripomienkovanie veľkých IKT projektov a zvažovanie alternatív.
          </li>
          <li>
            <span class="date">3. február 2016</span> &mdash; Spoločne s Alianciou Fair-Play <a href="https://www.facebook.com/alianciafairplay/posts/1088785857808824">upozorňujeme na neštandardné obstarávania</a> v hodnote takmer 300 miliónov eur a žiadame ich pozastavenie.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
