<div class="hero"></div>
<!--/.hero -->

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li class="sidebar-menu-item-active">Tlačové správy</li>
          <!--<li><a href="/media_kit.html">Media kit</a></li>-->
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Tlačové správy</h1>

        <div class="content-wrap">
          <h3>Nový úrad pre informatizáciu má zmysel, len ak presadí zásadné zmeny v&nbsp;štátnom IT</h3>
          <span>25.4.2016</span>
          <p class="perex">Slovensko.Digital vníma vytvorenie nového Úradu pre riadenie informatizácie ako šancu na razantné upratovanie v štátnom IT. Je potrebné pozorne sledovať, ako sa tejto šance podpredseda vlády Pellegrini ujme.</p>
          <a href="https://docs.google.com/document/d/1M4kE8PiUsCBTUstTm0ymJpFg12wEebkDaFRH5QgCiNM/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Podľa programu novej vlády to na zásadnú zmenu v štátnom IT nevyzerá, počkáme si na prvé konkrétne kroky</h3>
          <span>15.4.2016</span>
          <p class="perex">Program vlády pre štátne IT obsahuje viacero dobrých zámerov, ktoré sú predpokladom pre zlepšenie  súčasného  stavu  informatizácie  verejnej  správy.  Voči  doterajšiemu  výrazne             neuspokojivému  stavu  však  vidíme  potrebu  podstatných  a ráznych  zmien,  inak o  štyri roky opäť budeme iba analyzovať, kde sa stala chyba.</p>
          <a href="https://docs.google.com/document/d/16IapLJGVSmhUixOGD4uXCYKdL__M9dY75AAix4rwh2A/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Stanovisko k programovému vyhláseniu vlády</h3>
          <span>30.3.2016</span>
          <p class="perex">Slovenská aliancia pre internetovú ekonomiku (SAPIE), Slovensko.Digital a Spoločnosť preotvorené informačné technológie (SOIT) vyzývajú novú vládu SR, aby vo svojom programovom vyhlásení na najbližšie štyri roky zahrnula opatrenia na rozvoj a podporu inovatívnej ekonomiky a digitalizácie naprieč svojimi politickými prioritami a reformami, vrátane zásadných zmien v elektronizácii služieb štátu.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RQXNQQ2UxV2VhaTg/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>EDUNET kritizujú už nielen mimovládky a odborníci, ale aj dôležití hráči na trhu</h3>
          <span>2.3.2016</span>
          <p class="perex">Aliancia Fair-play, Slovensko.Digital opakovane žiadajú ministerstvo školstva, aby zastavilo a prehodnotilo obstarávanie internetu pre školy v projekte EDUNET, kým je možné zabrániť škodám. Súťaž za 80 miliónov eur podľa mimovládok a odborníko zvýhodňuje niektorých uchádzačov. Hrozí tak, že školy dostanú pomalý a pridrahý internet.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RMVZqMHZCa0g3bjA/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Výzva na systémové zmeny vo fungovaní štátneho IT</h3>
          <span>20.3.2016</span>
          <p class="perex">Občianske združenie Slovensko.Digital vyzýva poslancov NR SR a politické strany, ktoré vzišli z parlamentných volieb, aby v nadchádzajúcom volebnom období presadili zásadné a systémové zmeny vo fungovaní štátneho IT.</p>
          <a href="https://docs.google.com/document/d/15mTxhkooEUHofrhE-gnQQ_MrtAiauJa2mYtoV2fySXo/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>IT odborníci predložili pripomienky k novej stratégii informatizácie</h3>
          <span>19.2.2016</span>
          <p class="perex">O  tom,  ako  bude  vyzerať  eGovernment  o  5  rokov  sa  rozhoduje  práve  teraz.  Návrh  novej koncepcie  informatizácie  z  dielne  Ministerstva  financií  je  na  stole.  IT  odborníci  z  platformy Slovensko.Digital  oceňujú  viaceré  jej  inovatívne  prvky,  ale  požadujú  ráznejšie  riešenia             dlhodobých problémov informatizácie. Hromadnú pripomienku za 2 dni podporilo viac ako 2,200 ľudí.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RNWZlcUVLN1Job00/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Zúčastniť sa volieb nikdy nebolo jednoduchšie. Ostávajú ešte 4 dni.</h3>
          <span>11.2.2016</span>
          <p class="perex">Chcete sa zúčastniť marcových volieb, ale plánujete byť práve na lyžovačke? Nie je to žiadny
            problém. Na online žiadosť o voličský preukaz ostávajú ešte štyri dni. Cez aplikáciu
            volby.digital túto možnosť využilo už 2.000 ľudí a ich počet stále rastie.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RZjFHVnNmbDB1QnM/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>



      </div>
    </div>
  </div>
</div>
