<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/aktuality">Novinky</a></li>
          <li class="sidebar-menu-item-active">Tlačové správy</li>
          <li><a href="/zverejnene-vyzvy">Zverejnené výzvy</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Tlačové správy</h1>

        <div class="content-wrap">
          <h3>Stanovisko občianskeho združenia Slovensko.Digital k zámeru zriadiť novú IT organizáciu verejnej správy</h3>
          <span>30.7.2020</span>
          <p class="perex">Náš názor na zámer premiéra Igora Matoviča a ministerky pre investície, regionálny rozvoj a informatizáciu Veroniky Remišovej vytvoriť novú štátnu IT organizáciu.</p>
          <a href="https://drive.google.com/file/d/1fD4JlYM_RUAe1ww5ky1fnhvrVv67TvHT/view?usp=sharing" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Stanovisko občianskeho združenia Slovensko.Digital k prehodnoteniu projektov eGovernmentu</h3>
          <span>30.7.2020</span>
          <p class="perex">MIRRI sa zameralo na prehodnotenie projektov eGovernmentu s cieľom dosiahnuť úpravy v najviac rizikových oblastiach, prípadne zrušenie tých projektov, pri ktorých sú tieto riziká príliš vysoké. Počas predchádzajúcej vlády sa nepodarilo novú vlnu projektov eGovernmentu dostať ďalej ako do “papierovej” fázy. Ide pritom o obrovskú investíciu - skoro 60 projektov s celkovými nákladmi cca. 900 miliónov Eur.</p>
          <a href="https://drive.google.com/file/d/1Ux_PJULxZeWj9djFWtXHMovHTa_aRl-x/view?usp=sharing" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Reakcia na otvorený list FIIT STU</h3>
          <span>26.6.2020</span>
          <p class="perex">Slovensko.Digital reaguje na aktuálne dianie na FIIT STU. Otvoreným listom vyzývame zodpovedné osoby, abysa neprizerali na deštrukciu jednej z najkvalitnejších fakúlt, ktoré na Slovensku máme, ale aby urýchlene pristúpili k riešeniu tejto alarmujúcej situácie.</p>
          <a href="https://drive.google.com/file/d/1oUahmYIq5dyNG5B_3QNYYz-RB3B6r9c6/view?usp=sharing">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>ÚVO ukončil kontrolu na rezorte kultúry</h3>
          <span>1.6.2020</span>
          <p class="perex">Úrad pre verejné obstarávanie vykonal kontrolu dodatkov zmluvy na telekomunikačné služby, ktoré uzatvorilo ministerstvo kultúry so spoločnosťou SWAN a.s. Pri podpise dodatkov nepostupoval rezort kultúry podľa ÚVO v súlade so zákonom.</p>
          <a href="https://drive.google.com/file/d/1_D5SRCrtkwdmkAjA8m4xSpm9hE8-edGv/view?usp=sharing" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Vyzývame ministerstvo financií a ministerstvo práce na vytvorenie jednotného komunikačného kanálu</h3>
          <span>18.5.2020</span>
          <p class="perex">Slovensko.Digital a IT spoločnosti, prostredníctvom ktorých produktov sa spracúva 1 500 000 miezd mesačne, vyzývajú rezorty financií a práce, aby vytvorili komunikačné kanály, prostredníctvom ktorých by sa zefektívnila komunikácia a vyjasnila odborná diskusia k publikovaným formulárom na podporu podnikateľov.</p>
          <a href="https://drive.google.com/file/d/1l8NpEjGH5C3bMxB-Btb5BL2XhQxe2s_V/view?usp=sharing" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Ján Hargaš prijal rolu poradcu podpredsedníčky vlády</h3>
          <span>30.4.2020</span>
          <p class="perex">Ján Hargaš, jeden zo šiestich zakladateľov Slovensko.Digital, ktorý organizáciu viedol v rokoch 2016-2019, sa rozhodol prijať ponuku podpredsedníčky vlády pre investície a informatizáciu a pripája sa k jej poradnému tímu.</p>
          <a href="https://drive.google.com/file/d/14NcOkNNHfdDVWp_sQJ7JTYuJFYnrb8hi/view?usp=sharing" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Tlačová správa Slovensko.Digital a Úradu pre verejné obstarávanie</h3>
          <span>29.4.2020</span>
          <p class="perex">ÚVO v spolupráci so Slovensko Digital pripravil a realizoval obstarávanie na pokračovania prevádzkovej podpory pre Informačný systém úradu. Na základe tohto obstarávania Slovensko Digital v spolupráci s ÚVO, pripravilo Prípadovú štúdiu , ktorá preukazuje, ako sa ÚVO vysporiadal s problémom lock-inu.</p>
          <a href="https://drive.google.com/a/slovensko.digital/file/d/139xhKzqFccTrYg3YaMMb8GnOqnQfbvKD/view?usp=sharing" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>ÚVO kontroluje dodatky zmlúv na základe podnetu Slovensko.Digital</h3>
          <span>30.3.2020</span>
          <p class="perex">Úrad pre verejné obstarávanie ide vykonať kontrolu dodatkov zmluvy na telekomunikačné služby, ktoré uzatváralo ministerstvo vnútra so spoločnosťou SWAN a. s.. ÚVO si totiž osvojil podnet, ktorý podalo občianske združenie Slovensko.Digital v novembri minulého roka.</p>
          <a href="https://drive.google.com/a/slovensko.digital/file/d/1HCL_rTVyC_c9cimFMuz82ynMjtjLsrZO/view?usp=sharing" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Vyhlásenie Slovensko.Digital k plánu využiť údaje od mobilných operátorov pri riešení krízového stavu šírenia koronavírusu</h3>
          <span>25.3.2020</span>
          <p class="perex">Slovensko.Digital je členom poradného orgánu centrálnej koordinačnej autority pre oblasť IT, ktorá má koordinovať IT aktivity počas krízového obdobia. Vo verejnosti právna úprava umožňujúca realizáciu tohto riešenia vzbudila obavy.</p>
          <a href="https://drive.google.com/a/slovensko.digital/file/d/1UjSIte1Tn-8j9R2fASWsAVdRP-K3HJYQ/view?usp=sharing" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Správa o stave slovenského e-Governmentu</h3>
          <span>21.2.2020</span>
          <p class="perex">Prinášame systematické vyhodnotenie, kde sa v súčasnosti slovenský eGovernment nachádza, a aj ktorým smerom je potrebné ísť ďalej. Dokument priebežne aktualizujeme a dopĺňame.</p>
          <a href="https://sprava.slovensko.digital/" class="btn btn-primary">Navštíviť webové správy</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Aplikáciu na žiadosť o voľbu poštou využilo takmer 39 tisíc ľudí</h3>
          <span>13.1.2020</span>
          <p class="perex">V porovnaní s obdobím pred minulými parlamentnými voľbami pritom ide o viac ako dvojnásobok. V roku 2016 podobnú aplikáciu použilo viac ako 17 tisíc užívateľov.</p>
          <a href="https://drive.google.com/a/slovensko.digital/file/d/1IBuKCVA1bpVt7u8UihySUYf_Ng6RxW_0/view?usp=sharing" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Aplikácia na zápis konečného užívateľa výhod</h3>
          <span>2.12.2019</span>
          <p class="perex">Do konca roka 2019 musia takmer všetky právnické osoby zapísané v obchodnom registri zapísať svojich konečných užívateľov výhod. Občianske združenie Slovensko.Digital na svojom portáli Návody.Digital pripravilo aplikáciu, ktorá zápis konečných užívateľov výhod do obchodného registra zjednoduší.</p>
          <a href="https://drive.google.com/a/slovensko.digital/file/d/1TWABeghx9hOrFfII8C5Pk0xCfEKO-vfD/view?usp=sharing" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Aplikácia na žiadosť o hlasovací preukaz či voľbu poštou</h3>
          <span>14.11.2019</span>
          <p class="perex">Občianske združenie Slovensko.Digital opäť pripravilo aplikáciu, pomocou ktorej si môže občan vytvoriť žiadosť o hlasovací preukaz či voľbu poštou. Aplikácia výrazne zjednoduší účasť v parlamentných voľbách 2020 pre občanov, ktorí nebudú v čase volieb v mieste trvalého bydliska, či Slovákom žijúcim v zahraničí.</p>
          <a href="https://drive.google.com/a/slovensko.digital/file/d/1VrKoKCBK5a-ONxIzY9Rk0sy0Xn9nx-ws/view?usp=sharing" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Vyhlásenie občianskeho združenia Slovensko.Digital a Nadácie Zastavme korupciu</h3>
          <span>23.10.2019</span>
          <p class="perex">Proti vybraným poslaneckým zmenám zákona o VO protestujeme a obraciame sa listom na prezidentku SR so žiadosťou, aby parlamentom schválený zákon nepodpísala a využila svoje právo vrátiť ho na opätovné prerokovanie.</p>
          <a href="https://drive.google.com/a/slovensko.digital/file/d/1ulcSprcPAq5PbfWjtO2Ce7M0O-GR9OaI/view?usp=sharing" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Zákon o rušení rodných čísel</h3>
          <span>9.10.2019</span>
          <p class="perex">Zákon o zmene rodných čísel za “základné identifikátory” má byť dnes prerokovaný na rokovaní vlády SR. Odborníci zo Slovensko.Digital kritizujú, že zmena rodných čísel za iné identifikátory neprináša reálne benefity a návrh zákona nebol najprv prerokovaný v Rade vlády pre digitalizáciu.</p>
          <a href="https://drive.google.com/a/slovensko.digital/file/d/1lAxu1Y3W8Ee0d8gUKIdI5rRUYoMs6gZm/view?usp=sharing" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Hodnotenie IT projektov za takmer 300 miliónov eur</h3>
          <span>12.6.2019</span>
          <p class="perex">Dnes schvaľuje Úrad podpredsedu vlády pre investície a informatizáciu najväčšiu vlnu IT projektov v tomto roku. Schvaľovaním prejde 9 projektov s celkovými nákladmi plánovanými na 288 miliónov Eur. Nezávislí odborníci zo Slovensko.Digital v hodnotení projektov metodikou RedFlags udelili až 10 červených vlajočiek. Medzi projektami je aj najhoršie pripravený projekt od vzniku hodnotenia metodikou Red Flags.</p>
          <a href="https://drive.google.com/file/d/1xk4EtM1Hw4Xk_pHnHtzPkADRPlGLuzO1/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Hlasovací preukaz vo voľbách do Európskeho parlamentu</h3>
          <span>29.4.2019</span>
          <p class="perex">Do piatku 3.mája môžu záujemcovia o hlasovací preukaz vo voľbách do Európskeho parlamentu požiadať o jeho vydanie elektronicky. V priebehu pár minút sa tak opäť dá vybaviť cez webovú aplikáciu na novom portáli Návody.Digital.</p>
          <a href="https://drive.google.com/a/slovensko.digital/file/d/1QJ95sUFCOrP5Ku4I0CFTWUsIPE4aEvpF/view?usp=sharing" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Druhá vlna IT projektov za vyše 100 miliónov eur</h3>
          <span>25.4.2019</span>
          <p class="perex">Nezávislí odborníci zo Slovensko.Digital hodnotia metodikou Red Flags 6 nových štátnych IT projektov v hodnote vyše 100 miliónov eur. V hodnotení dopadol najhoršie pripravovaný projekt Ministerstva školstva za takmer 27 miliónov eur, ktorého hlavné udávané prínosy budú dodané skôr a mimo tohto projektu.</p>
          <a href="https://drive.google.com/file/d/1dLKJw9zKuR0PIqXVackqMbXJNavycV_r/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Návody.Digital</h3>
          <span>24.4.2019</span>
          <p class="perex">Chcete si cez internet vybaviť zmenu trvalého bydliska, splniť si povinnosti pri narodení dieťaťa či napríklad založiť živnosť? Jednoduchý a zrozumiteľný postup ako na to, spolu s príslušnými úlohami a lehotami vo forme tzv. “to-do-listov” nájdete na novom portáli Návody.Digital, ktorý pripravilo občianske združenie Slovensko.Digital v spolupráci s IT komunitou. Priamo cez tento portál si môžu užívatelia napríklad vybaviť aj hlasovací preukaz do blížiacich sa volieb do Európskeho parlamentu.</p>
          <a href="https://drive.google.com/file/d/1H4uDhXtX3Pv8NiJwYZJyUhXeNdch-DTd/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Stanovisko k návrhu zákona o ITVS</h3>
          <span>26.3.2019</span>
          <p class="perex">Tento zákon považujeme za najdôležitejšiu udalosť týkajúcu sa legislatívy informatizácie verejnej správy v aktuálnom volebnom období. Zákon stanovuje rámec, podľa ktorého má verejná správa budovať, prevádzkovať a riadiť „svoje“ informačné technológie.</p>
          <a href="https://drive.google.com/open?id=1EHlUgfqpKKsKv4OcdOYOQZiugwNEbTpF" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Hodnotenie prvej vlny IT projektov v roku 2019</h3>
          <span>11.2.2019</span>
          <p class="perex">Nezávislí odborníci zo Slovensko.Digital hodnotia metodikou Red Flags 5 nových štátnych IT projektov v hodnote viac ako 100 miliónov Eur. V hodnotení dopadli najhoršie projekty predkladané Úradom podpredsedu vlády pre investície a informatizáciu a Úradom pre verejné obstarávanie.</p>
          <a href="https://drive.google.com/open?id=1TYPix23_9evyZ9eLozsExrpMzGSomvyp" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Reakcia na vyjadrenie IT asociácie Slovenska a predsedu Úradu podpredsedu vlády SR pre investície a informatizáciu (ÚPVII) Richarda Rašiho</h3>
          <span>14.11.2018</span>
          <p class="perex">Slovensko.Digital upozornili verejnosť na to, že zo strategického dokumentu Koncepcia nákupu IKT po námietkach asociácie IT Asociácia Slovenska vypadličasti, ktoré dávali štátu väčšiu moc nad veľkými IT dodávateľmi. Reakcia prezidenta IT asociácie Slovenska Emila Fitoša na upozornenia zo strany Slovensko.Digital, ktorá nasledovala, obsahuje viacero nepravdivých a zavádzajúcich vyjadrení.</p>
          <a href="https://drive.google.com/open?id=1SFRRLw0Grzdiam8zwzAlPrNWWghAiZ8E" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Rašiho úrad neplní vlastné sľuby. Neprajú si to dodávatelia štátnych systémov</h3>
          <span>12.11.2018</span>
          <p class="perex">Vo štvrtok má pracovná skupina zložená z ministerstiev, odbornej verejnosti či dodávateľských IT firiem schvaľovať dokument o nových pravidlách pre štátne IT nákupy. Pri schvaľovaní tejto Koncepcie nákupu IKT však podľa Slovensko.Digital prevláda záujem dodávateľov štátnych IT systémov nad verejným záujmom. Štát pritom ročne minie na IT služby asi 500 miliónov EUR.</p>
          <a href="https://drive.google.com/open?id=1PidcTh0rR1OcUJbH8KIATQFN5VDy-kyQ" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Kľúčoví hráči na trhu a nezávislí odborníci vyzývajú k otvoreniu štátnych IT systémov</h3>
          <span>24.10.2018</span>
          <p class="perex">Pod otvorený list, ktorý iniciovalo Slovensko.Digital, sa doteraz podpísali klúčové subjekty, ktoré dlhodobo pôsobia na trhu ekonomických a účtovných softvérov a zároveň ďalšie dve odborné združenia.</p>
          <a href="https://drive.google.com/open?id=1-0YY4a4psDd0Wpj8IZqGPyI40yP0xWow" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Hodnotenie IT projektov za 62 milionov eur</h3>
          <span>10.10.2018</span>
          <p class="perex">Odborníci kritizujú ďalšiu vlnu IT projektov za viac ako 62 miliónov eur. Štát sa mal podľa Slovensko.Digital namiesto týchto projektov zamerať na splnenie svojho sľubu o znížení byrokracie pre občanov.</p>
          <a href="https://drive.google.com/open?id=1B2ZRN0Q1XPwImcZneWOfRUxQIu4x-z0E" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Slovensko.Digital bude nákupy štátnych IT systémov hodnotiť trinástimi kritériami</h3>
          <span>19.7.2018</span>
          <p class="perex">Slovensko.Digital zverejnilo nové kritériá vo svojej metodike Red Flags, ktorými chce hodnotiť štátneIT obstarávania. Ich cieľom sú otvorené súťaže, vyššia konkurencia a lepšie obchodné podmienky pre štát. Apelujú, aby štát nakupoval menšie projekty a aby ešte pred vypísaním obstarávania transparentne diskutoval so zástupcami IT trhu a zohľadnil to pri nastavení tendrov.</p>
          <a href="https://drive.google.com/open?id=1NBnO9tDzElMLhmcZDDtKXY3GDy6uHp27" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Úrady chcú ďalšie IT projekty za viac ako 100 miliónov eur. Odborníci kritizujú vysoké náklady, utajené analýzy a zvláštne výpočty</h3>
          <span>19.7.2018</span>
          <p class="perex">Koncom júla chcú úradníci schvaľovať nové štátne IT projekty z eurofondov. Majú vybudovať jednotný systém pre správne konanie alebo zvýšiť kybernetickú bezpečnosť štátu. Štúdie k projektom hodnotili aj IT odborníci zo Slovensko.Digital a upozorňujú na vysoké náklady, chýbajúce podklady a kalkulácie, ktoré nedávajú zmysel.</p>
          <a href="https://drive.google.com/open?id=1R96BLbAlMTeRCWvTgFsqkHatFKu-xUGI" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Slovensko.Digital a Transparency International Slovensko spájajú sily pri podpore oznamovateľov korupcie v štátnom IT</h3>
          <span>12.7.2018</span>
          <p class="perex">Slovensko.Digital sa tiež pridalo k iniciatíve Transparency International "Stojíme za odvážnymi", ktorú podporilo už viac ako 700 firiem a uvádza tak do praxe svoj etický kódex. V ňom sa 21 IT firiem v Slovensko.Digital zaviazalo podporovať oznamovateľov korupcie a ponúknuť im prácu v prípade, že by oznámenie korupcie viedlo k ich prepusteniu.</p>
          <a href="https://drive.google.com/file/d/1w2DpLG4FqbwI888JQuWAoeEl28PS41AL" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>IT firmy v Slovensko.Digital volajú po slušnej informatizácii. Prijali etické pravidlá a sami chcú ísť príkladom</h3>
          <span>3.7.2018</span>
          <p class="perex">Štátne IT je sektor, ktorý je historicky spätý s kauzami a podozreniami z nekalých praktík vo verejnom obstarávaní. V najbližších mesiacoch sa rozbehnú nákupy nových IT systémov za stovky miliónov eur z eurofondov. IT firmy a ďalší členovia združenia Slovensko.Digital prijali kódex pravidiel, ktorými chcú informatizáciu inšpirovať k očiste.</p>
          <a href="https://drive.google.com/file/d/1OEl9BPDutaWqdAaW-_De0p_-s5SlyAg_" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Stanovisko k menovaniu Denisy Sakovej do funkcie ministerky vnútra SR</h3>
          <span>26.4.2018</span>
          <p class="perex"></p>
          <a href="https://drive.google.com/file/d/1ibJCHszJZIvT_wdc6yD5R7WbIancxTEb" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Otvorený list ministerke školstva k EDUNETu</h3>
          <span>19.4.2018</span>
          <p class="perex"></p>
          <a href="https://drive.google.com/open?id=1TRo4rvdFWlAo_u9pp1XahnBd3H35Wtc-" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Štát pripravil ďalšie IT projekty za desiatky miliónov eur. Odborníci niektoré z nich hodnotia ako rizikové a žiadajú ich dopracovať</h3>
          <span>17.4.2018</span>
          <p class="perex">Ministerstvá pripravili 5 nových IT projektov za desiatky miliónov eur. Zámery hodnotili aj odborníci
            zo Slovensko.Digital svojou metodikou Red Flags. V niektorých projektoch vidia riziká a odporúčajú
            ich prepracovať. Schvaľovanie nových projektov je naplánované na štvrtok 19.4.2018.</p>
          <a href="https://drive.google.com/open?id=1RtdpLdpd8Y2QgygZv4Y3M4TUa5oUkZ3d" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Slušné štátne IT</h3>
          <span>20.3.2018</span>
          <p class="perex">Slovensko.Digital historicky nekomentuje personálne nominácie v štátnej správe. Je pre nás
            dôležitejšie, s akou agendou nominanti prichádzajú. Aj z toho pohľadu sme sa snažili pomenovať naše chápanie
            pojmu "slušné Slovensko" špeciálne pre oblasť štátneho IT, ktoré dnes trpí podozreniami z korupcie a kartelov.
            Veríme, že tieto okruhy by mali byť predmetom diskusie strán zapojených do nominácie, aby Vláda SR mohla
            požívať širokú dôveru verejnosti.</p>
          <a href="https://drive.google.com/open?id=1TzLyFCNdOFGstxFvPCh2Cifbl51qzyxs" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Posledné dva roky informatizácie priniesli zlepšenia, ale málo systémových zmien &ndash; vrátane riešenia korupcie</h3>
          <span>15.3.2018</span>
          <p class="perex">
            Slovensko.Digital hodnotí posledné dva roky fungovania informatizácie ako obdobie
            viacerých vylepšení, ale nedotiahnutých systémových zmien. Vzhľadom na potenciál, ktorý
            po voľbách v roku 2016 vznikol, IT odborníci vidia nevyužitý potenciál na zásadné reformy.
            Upozorňujú aj na nedávne podozrenia z korupcie v IT na najvyšších miestach štátu, pričom
            v oblasti IT nákupov nevidia dodnes zásadný systémový posun.
          </p>
          <a href="https://drive.google.com/file/d/1sh8CcHZR2PDwQALp8D3GL-LP1dIsM-Vh" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Výzva k IT komunite</h3>
          <span>9.3.2018</span>
          <p class="perex">
            Nedávno nami otriasla násilná smrť novinára Jána Kuciaka a jeho partnerky. Vo svojej práci sa venoval
            aj prepojeniam IT biznisu na politiku. V tomto momente ešte viac pociťujeme potrebu podporiť občiansku
            angažovanosť a zodpovedné konanie. Chceme podporiť každého člena IT komunity, úradníka alebo zamestnanca,
            ktorý disponuje informáciami dôležitými pre objasnenie nekalých praktík v štátnom IT, aby ich ohlásil na
            polícii alebo sa obrátil na naše občianske združenie.</p>
          <a href="https://drive.google.com/file/d/1uGsbqGpbe8gzh8ev43foJr98ovgbxMYa" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Informačný systém výstavby za 70 miliónov EUR treba podľa Slovensko.Digital definitívne zastaviť a prepracovať</h3>
          <span>27.2.2018</span>
          <p class="perex">
            Projekt informačného systému výstavby sa už javil ako zastavený. Štúdia k nemu však bola
            opätovne predložená na schvaľovanie na Úrade podpredsedu vlády pre investície a
            informatizáciu. Zástupcovia občianskeho združenia Slovensko.Digital poukazujú na
            negatívne hodnotenie projektu v ich metodike Red Flags a žiadajú o jeho definitívne
            zastavenie a prepracovanie.
          </p>
          <a href="https://drive.google.com/file/d/1pTJkL-fO5SAUfaIfT7GFBq18WBm-SlAS" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Združenie Slovensko.Digital rozšírilo svoje rady o nových členov. Chcú presadzovať
            modernú informatizáciu a zlepšiť etiku v štátnom IT</h3>
          <span>22.2.2018</span>
          <p class="perex">
            Úspešné IT firmy a komunita združená v Slovensko.Digital chce naďalej aktívne
            presadzovať zmeny v štátnej informatizácii, prinášať inšpiratívne a odborné návrhy pre
            verejnú správu a zlepšovať etiku v štátnom IT. Zhodli sa na tom členovia občianskeho
            združenia Slovensko.Digital na svojom stretnutí.
          </p>
          <a href="https://drive.google.com/file/d/1CBDUl1u1IjdoBQ5NV_-6En40vsra3uzY" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Štát predstavil verejnosti IT projekty za takmer 100 miliónov eur. Odborníci niektoré z nich hodnotia ako
            rizikové a žiadajú ich prepracovať.</h3>
          <span>6.12.2017</span>
          <p class="perex">
            Ministerstvá pripravujú elektronizáciu stavebného konania, zdravotníctva alebo
            samosprávy za takmer 100 miliónov eur. Zámery hodnotili aj odborníci zo Slovensko.Digital
            svojou metodikou Red Flags. Vo viacerých projektoch vidia riziká a odporúčajú ich
            prepracovať. Schvaľovanie nových projektov je naplánované na budúci týždeň.
          </p>
          <a href="https://drive.google.com/open?id=1IAgKV4WgxrJrngMGqyAn5J9uen2pZfC-" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Štát pripravuje IT projekty za viac ako 500 miliónov eur. Niektoré si podľa Slovensko.Digital zaslúžia
            červenú.</h3>
          <span>13.11.2017</span>
          <p class="perex">
            Ministerstvá pripravujú nové IT projekty. Už dnes je známych viac ako 30 zámerov v
            celkovej hodnote viac ako 500 miliónov eur. IT odborníci zo združenia Slovensko.Digital sa
            preto rozhodli systematicky zbierať o nich informácie a hodnotiť ich kvalitu pomocou
            metodiky Red Flags. Chcú tak jednoduchou formou upozorňovať na ich nedostatky a
            pomôcť širokej verejnosti orientovať sa v štátnom IT.
          </p>
          <a href="https://drive.google.com/open?id=1ckNTM0Coq2ldASnGFaP-s9UvSXnQCk7Z" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Vojnu proti byrokracii a záväzok podpredsedu vlády vítame. Princíp &bdquo;jedenkrát a dosť&ldquo; musí byť
            prioritou informatizácie na najbližší rok</h3>
          <span>2.11.2017</span>
          <p class="perex">
            IT odborníci zo združenia Slovensko.Digital privítali iniciatívu podpredsedu vlády pre
            investície a informatizáciu Petra Pellegriniho, ktorý vyhlásil vojnu proti byrokracii. Princíp
            &bdquo;jedenkrát a dosť&ldquo; (aby občania nemuseli predkladať informácie, ktoré už štát má) sa podľa
            nich musí stať prioritou informatizácie. Vítajú tiež osobný záväzok podpredsedu vlády, že
            od mája úrady nebudú žiadať výpis z registra trestov, obchodného a živnostenského
            registra a listu vlastníctva.
          </p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RNUVwTE9xZFJTRzg/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>EDUNET - Okolo školského internetu naďalej pretrvávajú nezodpovedané otázky. Minister Plavčan by zmluvu
            nemal podpísať, kým k nim neprebehne sľúbená odborná diskusia.</h3>
          <span>25.7.2017</span>
          <p class="perex">Mimovládne organizácie Aliancia Fair-play a Slovensko.Digital upozorňujú, že okolo školského
            internetu v projekte EDUNET naďalej pretrvávajú viaceré nezodpovedané otázky - napriek vyhláseniam
            ministerstva školstva, že zmluvu z víťazom tendra môže podpísať.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RalBZQ1pkX0t1ZU0/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Stretnutie s Prezidentom - Informatizácia je rok po vzniku Úradu podpredsedu vlády otvorenejšia. Systémové
            zmeny však meškajú a zásadné prínosy pre občana zatiaľ nevidno.</h3>
          <span>6.6.2017</span>
          <p class="perex">Rok po vzniku Úradu podpredsedu vlády je štátne IT transparentnejšie, ale neplnia sa termíny
            z novej koncepcie a štátu chýbajú odborníci. Zásadnejšie prínosy pre občana sa tak zatiaľ nedostavili. Tak
            zhodnotili rok pôsobenia úradu podpredsedu vlády Pellegriniho IT odborníci zo Slovensko.Digital na stretnutí
            s prezidentom SR Andrejom Kiskom.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RVk5nRWhTWTlPWjg/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>GovBox - Štatutári sa k štátnej elektronickej schránke dostanú aj bez elektronického občianskeho preukazu
            a prihlasovania. Slovensko.Digital spustilo službu GovBox</h3>
          <span>18.5.2017</span>
          <p class="perex">Štatutári majú ešte 7 týždňov na to, aby sa pripravili na štátne elektronické schránky. IT
            odborníci z občianskeho združenia Slovensko.Digital predstavili službu GovBox, pomocou ktorej štatutári
            dostanú zásielky priamo na email, aj bez elektronického občianskeho preukazu a bez potreby prihlasovať sa na
            Slovensko.sk. Služba je pokračovaním snahy odborníkov prinášať zjednodušenia pre občanov, tak ako tomu bolo
            v prípade aplikácie Volby.Digital.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RRzdvN2FLMzF1SzQ/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Otvorený list ministrovy dorpavy - Slovensko.Digital v otvorenom liste vyzýva ministra dopravy, aby
            umožnil odbornú diskusiu a zverejnil kompletné podklady k IT projektom za takmer 100 miliónov eur</h3>
          <span>9.5.2017</span>
          <p class="perex">IT odborníci zo združenia Slovensko.Digital upozorňujú na možné predraženie a neefektívnosť
            pri dvoch projektoch ministerstva dopravy, ktorých obstarávanie začalo ešte za vedenia ministra Počiatka.
            Otvoreným listom preto vyzývajú súčasného ministra Arpáda Érseka, aby umožnil k projektom odbornú diskusiu a
            zverejnil k nim všetky podklady a výsledky interného auditu.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71ROFRRazRXNnYtTjQ/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>6 mesiacov od prijatia NKIVS - Na reštart informatizácie to ešte nevyzerá. Chýbajú ľudské zdroje a
            kvalitnejšie projekty z rezortov</h3>
          <span>30.3.2017</span>
          <p class="perex">IT odborníci zo združenia Slovensko.Digital hodnotili prvých šesť mesiacov od schválenia
            novej Národnej koncepcie informatizácie verejnej správy. Tá sľubovala zásadné zmeny vo fungovaní štátneho
            IT, na ktoré sa v predošlých rokoch minula miliarda eur z eurofondov.</p>
          <a href="https://drive.google.com/file/d/0B3q6f0KyeRnsSWJib1BoOFdKbzhwOWVWVjBlTEU2aG53SzhF/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Posúvaním termínu na aktiváciu elektronických schránok štát priznáva svoje zlyhanie v informatizácii</h3>
          <span>30.11.2016</span>
          <p class="perex">Napriek miliónom investovaným do elektronických služieb a ich publicity, nie je štát schopný
            zabezpečiť aktiváciu elektronických schránok tak, aby ich používanie mohol dať podnikateľom ako povinnosť.
            Opätovné posúvanie termínu preto odborníci zo Slovensko.Digital vnímajú predovšetkým ako zlyhanie verejnej
            správy.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RWXpZcHBHWnRSb1U/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>EDUNET - Ministerstvo školstva nakupuje internet pre školy bez dostatočných analýz</h3>
          <span>11.11.2016</span>
          <p class="perex">Po 270 dňoch mlčania sa Ministerstvo školstva stretlo so zástupcami Slovensko.Digital a
            Aliancie Fair-play k projektu EDUNET. Mimovládky zarazilo, že na stretnutie neboli pozvaní zástupcovia
            veľkých operátorov. Najväčšie obavy mimovládok sa potvrdili – príprava nákupu prebehla bez základných dát a
            zhodnotenia argumentov.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RWU01N25mUFNVSGs/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>


        <div class="content-wrap">
          <h3>Výročie Slovensko.Digital - IT komunita Slovensko.Digital už rok bojuje za lepšiu informatizáciu a chce
            pokračovať ďalej</h3>
          <span>3.11.2016</span>
          <p class="perex">Vytvorenie tlaku na kvalitu digitálnych služieb štátu a zastavenie IT projektov v hodnote 250
            miliónov eur považujú zástupcovia Slovensko.Digital za svoje najväčšie úspechy v prvom roku fungovania.
            Experti z IT komunity tiež presadili zmeny do nového plánu informatizácie a predstavili konkrétne príklady,
            ako by štátne IT mohlo fungovať.</p>
          <a href="https://drive.google.com/file/d/0B3q6f0KyeRnsNHFPeDh2R24wNHc/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Nová koncepcia pre štátne IT je prísľubom do budúcnosti. Dôležité bude plnenie záväzkov, ktoré dnes Vláda
            prijala</h3>
          <span>28.9.2016</span>
          <p class="perex">Občianske združenie Slovensko.Digital víta Národnú koncepciu informatizácie verejnej správy
            (NKIVS), ktorú dnes schválila Vláda SR. Odborníci oceňujú, že pripomienky predložené ešte vo februári boli
            do dokumentu z veľkej časti zapracované a dokument obsahuje konkrétne záväzky a termíny, dokedy majú byť
            splnené.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RZ002dFdndnRzRnM/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Predĺžením Infoveku 2 mohlo ministerstvo porušiť zákon</h3>
          <span>23.9.2016</span>
          <p class="perex">Aliancia Fair-play a občianske združenie Slovensko.Digital upozorňujú Ministerstvo školstva,
            že predĺžením zmluvy na pripojenie škôl k internetu s názvom Infovek 2 mohlo prísť k porušeniu zákona.
            Zároveň Ministerstvo vyzývajú, aby začalo komunikovať s verejnosťou a vysvetlilo všetky pochybnosti
            súvisiace s predĺžením tejto zmluvy ako aj s prebiehajúcou súťažou na projekt EDUNET, ktorý má Infovek 2
            nahradiť.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RWHNFWmlJd2JVaTQ/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Slovensko.Digital víta aktualizovanú verziu Národnej koncepcie informatizácie verejnej správy. Navrhujú ju
            čím skôr sfinalizovať a schváliť</h3>
          <span>9.9.2016</span>
          <p class="perex">IT odborníci z občianskeho združenia Slovensko.Digital privítali zverejnenie aktualizovanej
            verzie Národnej koncepcie informatizácie verejnej správy (NKIVS), ktorá usmerní informatizáciu na ďalších
            4-6 rokov. Väčšina pripomienok odbornej komunity z februára 2016 bola zapracovaná a podľa odborníkov je
            potrebné dokument čím skôr sfinalizovať a schváliť.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RQ3pobTJ1WEFHV2M/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Slovensko.Digital chce ukázať ako v kvalite eGovernmentu predbehnúť Estónsko. Spúšťa stránku na tvorbu
            nových štátnych služieb</h3>
          <span>19.8.2016</span>
          <p class="perex">IT odborníci z občianskeho združenia Slovensko.Digital spustili stránku, na ktorej majú
            vznikať nové digitálne služby pre občanov a podnikateľov. S použitím štátnych dát a systémov tak chcú
            ukázať, ako si predstavujú budúcnosť eGovernmentu.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RLTNZOVpMb3VxYjQ/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>IT odborníci vítajú zrušenie projektu Atlas pasívnej infraštruktúry. Pri ďalších štátnych IT nákupoch
            pochybnosti pretrvávajú</h3>
          <span>12.8.2016</span>
          <p class="perex">Slovensko.Digital víta dnešné rozhodnutie ministra Brecelyho zastaviť IT projekt Atlas
            pasívnej infraštruktúry v hodnote takmer 50 miliónov eur. Odborníci zároveň pripomínajú, že rovnako treba
            prehodnotiť aj ďalšie projekty na rezortoch školstva, dopravy alebo v sociálnej poisťovni v spoločnej
            hodnote takmer 180 miliónov eur. IT komunita na ne už dlhodobo upozorňuje.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RZFZtYkZPbnEyN28/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Michal Cheben, jeden zo zakladateľov Slovensko.Digital, prijal rolu poradcu podpredsedu vlády pre
            informatizáciu</h3>
          <span>22.7.2016</span>
          <p class="perex">Michal Cheben, jeden zo šiestich zakladateľov Slovensko.Digital, sa rozhodol prijať ponuku
            úradu podpredsedu vlády pre informatizáciu a pripája sa k jeho poradnému tímu. Ponuku prijal ako súkromná
            osoba a IT odborník. Členstvo v občianskom združení bude mať po dobu výkonu funkcie pozastavené.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RN3d2eExpTnhJeHM/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>IT komunita pozorne sleduje zmeny vo vedení informatizácie. Od nového vedenia čaká konkrétne záväzky</h3>
          <span>31.5.2016</span>
          <p class="perex">Občianske združenie Slovensko.Digital vníma, že personálne zmeny v informatizácii sú súčasťou
            zmeny jej smerovania. Odborníci však upozorňujú, že na skutočnú reformu sú potrebné aj zásadné obsahové
            zmeny a zvýšenie transparentnosti celej informatizácie. Prvým krokom by mohol byť transparentný výber nového
            vedenia s dôrazom na konkrétne zmeny, ktoré bude presadzovať.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RVEJ2WTcwS3ppNXM/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Slovensko.Digital spustilo možnosť finančnej podpory od verejnosti</h3>
          <span>5.5.2016</span>
          <p class="perex">Iniciatíva Slovensko.Digital sa chce dlhodobo a na plný úväzok venovať zlepšovaniu
            digitálnych služieb štátu. Založili preto občianske združenie a tento týždeň spustili možnosť pre verejnosť
            podporiť ich aktivity - svojim časom alebo finančne.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RM1pJSXN5dTVVQjg/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Slovensko.Digital a SND chcú ukázať, ako transparentne nakupovať štátne IT</h3>
          <span>28.4.2016</span>
          <p class="perex">Nákup štátnych IT projektov je často zahalený podozreniami z neefektívnosti,
            netransparentnosti a niekedy až korupcie. Slovenské národné divadlo sa však rozhodlo, že nákup svojho webu
            skúsi inak a platforma Slovensko.Digital v tom ochotne pomohla.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RdkI3MXJMcVJGNGM/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Nový úrad pre informatizáciu má zmysel, len ak presadí zásadné zmeny v&nbsp;štátnom IT</h3>
          <span>25.4.2016</span>
          <p class="perex">Slovensko.Digital vníma vytvorenie nového Úradu pre riadenie informatizácie ako šancu na
            razantné upratovanie v štátnom IT. Je potrebné pozorne sledovať, ako sa tejto šance podpredseda vlády
            Pellegrini ujme.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RZUI4bDhsWWZNQzA/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Podľa programu novej vlády to na zásadnú zmenu v štátnom IT nevyzerá, počkáme si na prvé konkrétne
            kroky</h3>
          <span>15.4.2016</span>
          <p class="perex">Program vlády pre štátne IT obsahuje viacero dobrých zámerov, ktoré sú predpokladom pre
            zlepšenie súčasného stavu informatizácie verejnej správy. Voči doterajšiemu výrazne neuspokojivému stavu
            však vidíme potrebu podstatných a ráznych zmien, inak o štyri roky opäť budeme iba analyzovať, kde sa stala
            chyba.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RSG9hTWVTVFBFWXc/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Stanovisko k programovému vyhláseniu vlády</h3>
          <span>30.3.2016</span>
          <p class="perex">Slovenská aliancia pre internetovú ekonomiku (SAPIE), Slovensko.Digital a Spoločnosť
            preotvorené informačné technológie (SOIT) vyzývajú novú vládu SR, aby vo svojom programovom vyhlásení na
            najbližšie štyri roky zahrnula opatrenia na rozvoj a podporu inovatívnej ekonomiky a digitalizácie naprieč
            svojimi politickými prioritami a reformami, vrátane zásadných zmien v elektronizácii služieb štátu.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RQXNQQ2UxV2VhaTg/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>EDUNET kritizujú už nielen mimovládky a odborníci, ale aj dôležití hráči na trhu</h3>
          <span>2.3.2016</span>
          <p class="perex">Aliancia Fair-play, Slovensko.Digital opakovane žiadajú ministerstvo školstva, aby zastavilo
            a prehodnotilo obstarávanie internetu pre školy v projekte EDUNET, kým je možné zabrániť škodám. Súťaž za 80
            miliónov eur podľa mimovládok a odborníko zvýhodňuje niektorých uchádzačov. Hrozí tak, že školy dostanú
            pomalý a pridrahý internet.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RMVZqMHZCa0g3bjA/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Výzva na systémové zmeny vo fungovaní štátneho IT</h3>
          <span>20.3.2016</span>
          <p class="perex">Občianske združenie Slovensko.Digital vyzýva poslancov NR SR a politické strany, ktoré vzišli
            z parlamentných volieb, aby v nadchádzajúcom volebnom období presadili zásadné a systémové zmeny vo
            fungovaní štátneho IT.</p>
          <a href="https://docs.google.com/document/d/15mTxhkooEUHofrhE-gnQQ_MrtAiauJa2mYtoV2fySXo/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>IT odborníci predložili pripomienky k novej stratégii informatizácie</h3>
          <span>19.2.2016</span>
          <p class="perex">O tom, ako bude vyzerať eGovernment o 5 rokov sa rozhoduje práve teraz. Návrh novej koncepcie
            informatizácie z dielne Ministerstva financií je na stole. IT odborníci z platformy Slovensko.Digital
            oceňujú viaceré jej inovatívne prvky, ale požadujú ráznejšie riešenia dlhodobých problémov informatizácie.
            Hromadnú pripomienku za 2 dni podporilo viac ako 2,200 ľudí.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RNWZlcUVLN1Job00/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Zúčastniť sa volieb nikdy nebolo jednoduchšie. Ostávajú ešte 4 dni.</h3>
          <span>11.2.2016</span>
          <p class="perex">Chcete sa zúčastniť marcových volieb, ale plánujete byť práve na lyžovačke? Nie je to žiadny
            problém. Na online žiadosť o voličský preukaz ostávajú ešte štyri dni. Cez aplikáciu
            volby.digital túto možnosť využilo už 2.000 ľudí a ich počet stále rastie.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RSmJ1bDdycERRdkk/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Volby.digital – stránka, ktorá možno zmení Slovensko a zároveň ukazuje, ako sa dajú robiť moderné IT
            služby pre občanov</h3>
          <span>11.1.2016</span>
          <p class="perex">5. marec 2016 je dátum, ktorý si do svojich kalendárov ukladajú všetci, ktorí sa chystajú
            voliť v parlamentných voľbách. Pre Slovákov žijúcich v zahraničí je ale dôležitejší iný dátum – tým je 15.
            január 2016. Najneskôr dovtedy totiž musia byť doručené žiadosti o vydanie hlasovacieho lístka pre voľbu
            poštou. A práve podanie žiadosti elektronicky umožňuje aplikácia volby.digital, ktorú využilo v posledných
            týždňoch už takmer 10,000 Slovákov.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71ReVBERHBUSmh5cjg/view" class="btn btn-primary">Stiahni
            tlačovú správu</a>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
