<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/o-nas">Tím</a></li>
          <li><a href="/podporovatelia">Podporovatelia</a></li>
          <li><a href="/stanovy">Stanovy</a></li>
          <li><a href="/eticky-kodex">Etický kódex</a></li>
          <li><a href="/kariera">Kariéra</li>
          <li class="sidebar-menu-item-active">Pre médiá</a></li>
          <li><a href="/vyrocne-spravy">Výročné správy</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Tlačové správy</h1>

        <div class="content-wrap">
          <h3>EDUNET - Okolo školského internetu naďalej pretrvávajú nezodpovedané otázky. Minister Plavčan by zmluvu nemal podpísať, kým k nim neprebehne sľúbená odborná diskusia.</h3>
          <span>25.7.2017</span>
          <p class="perex">Mimovládne organizácie Aliancia Fair-play a Slovensko.Digital upozorňujú, že okolo školského internetu v projekte EDUNET naďalej pretrvávajú viaceré nezodpovedané otázky - napriek vyhláseniam ministerstva školstva, že zmluvu z víťazom tendra môže podpísať.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RalBZQ1pkX0t1ZU0/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Stretnutie s Prezidentom - Informatizácia je rok po vzniku Úradu podpredsedu vlády otvorenejšia. Systémové zmeny však meškajú a zásadné prínosy pre občana zatiaľ nevidno.</h3>
          <span>6.6.2017</span>
          <p class="perex">Rok po vzniku Úradu podpredsedu vlády je štátne IT transparentnejšie, ale neplnia sa termíny z novej koncepcie a štátu chýbajú odborníci. Zásadnejšie prínosy pre občana sa tak zatiaľ nedostavili. Tak zhodnotili rok pôsobenia úradu podpredsedu vlády Pellegriniho IT odborníci zo Slovensko.Digital na stretnutí s prezidentom SR Andrejom Kiskom.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RVk5nRWhTWTlPWjg/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>GovBox - Štatutári sa k štátnej elektronickej schránke dostanú aj bez elektronického občianskeho preukazu a prihlasovania. Slovensko.Digital spustilo službu GovBox</h3>
          <span>18.5.2017</span>
          <p class="perex">Štatutári majú ešte 7 týždňov na to, aby sa pripravili na štátne elektronické schránky. IT odborníci z občianskeho združenia Slovensko.Digital predstavili službu GovBox, pomocou ktorej štatutári dostanú zásielky priamo na email, aj bez elektronického občianskeho preukazu a bez potreby prihlasovať sa na Slovensko.sk. Služba je pokračovaním snahy odborníkov prinášať zjednodušenia pre občanov, tak ako tomu bolo v prípade aplikácie Volby.Digital.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RRzdvN2FLMzF1SzQ/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Otvorený list ministrovy dorpavy - Slovensko.Digital v otvorenom liste vyzýva ministra dopravy, aby umožnil odbornú diskusiu a zverejnil kompletné podklady k IT projektom za takmer 100 miliónov eur</h3>
          <span>9.5.2017</span>
          <p class="perex">IT odborníci zo združenia Slovensko.Digital upozorňujú na možné predraženie a neefektívnosť pri dvoch projektoch ministerstva dopravy, ktorých obstarávanie začalo ešte za vedenia ministra Počiatka. Otvoreným listom preto vyzývajú súčasného ministra Arpáda Érseka, aby umožnil k projektom odbornú diskusiu a zverejnil k nim všetky podklady a výsledky interného auditu.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71ROFRRazRXNnYtTjQ/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>6 mesiacov od prijatia NKIVS - Na reštart informatizácie to ešte nevyzerá. Chýbajú ľudské zdroje a kvalitnejšie projekty z rezortov</h3>
          <span>30.3.2017</span>
          <p class="perex">IT odborníci zo združenia Slovensko.Digital hodnotili prvých šesť mesiacov od schválenia novej Národnej koncepcie informatizácie verejnej správy. Tá sľubovala zásadné zmeny vo fungovaní štátneho IT, na ktoré sa v predošlých rokoch minula miliarda eur z eurofondov.</p>
          <a href="https://drive.google.com/file/d/0B3q6f0KyeRnsSWJib1BoOFdKbzhwOWVWVjBlTEU2aG53SzhF/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Posúvaním termínu na aktiváciu elektronických schránok štát priznáva svoje zlyhanie v informatizácii</h3>
          <span>30.11.2016</span>
          <p class="perex">Napriek miliónom investovaným do elektronických služieb a ich publicity, nie je štát schopný zabezpečiť aktiváciu elektronických schránok tak, aby ich používanie mohol dať podnikateľom ako povinnosť. Opätovné posúvanie termínu preto odborníci zo Slovensko.Digital vnímajú predovšetkým ako zlyhanie verejnej správy.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RWXpZcHBHWnRSb1U/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>EDUNET - Ministerstvo školstva nakupuje internet pre školy bez dostatočných analýz</h3>
          <span>11.11.2016</span>
          <p class="perex">Po 270 dňoch mlčania sa Ministerstvo školstva stretlo so zástupcami Slovensko.Digital a Aliancie Fair-play k projektu EDUNET. Mimovládky zarazilo, že na stretnutie neboli pozvaní zástupcovia veľkých operátorov. Najväčšie obavy mimovládok sa potvrdili – príprava nákupu prebehla bez základných dát a zhodnotenia argumentov.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RWU01N25mUFNVSGs/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>


        <div class="content-wrap">
          <h3>Výročie Slovensko.Digital - IT komunita Slovensko.Digital už rok bojuje za lepšiu informatizáciu a chce pokračovať ďalej</h3>
          <span>3.11.2016</span>
          <p class="perex">Vytvorenie tlaku na kvalitu digitálnych služieb štátu a zastavenie IT projektov v hodnote 250 miliónov eur považujú zástupcovia Slovensko.Digital za svoje najväčšie úspechy v prvom roku fungovania. Experti z IT komunity tiež presadili zmeny do nového plánu informatizácie a predstavili konkrétne príklady, ako by štátne IT mohlo fungovať.</p>
          <a href="https://drive.google.com/file/d/0B3q6f0KyeRnsNHFPeDh2R24wNHc/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Nová koncepcia pre štátne IT je prísľubom do budúcnosti. Dôležité bude plnenie záväzkov, ktoré dnes Vláda prijala</h3>
          <span>28.9.2016</span>
          <p class="perex">Občianske združenie Slovensko.Digital víta Národnú koncepciu informatizácie verejnej správy (NKIVS), ktorú dnes schválila Vláda SR. Odborníci oceňujú, že pripomienky predložené ešte vo februári boli do dokumentu z veľkej časti zapracované a dokument obsahuje konkrétne záväzky a termíny, dokedy majú byť splnené.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RZ002dFdndnRzRnM/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Predĺžením Infoveku 2 mohlo ministerstvo porušiť zákon</h3>
          <span>23.9.2016</span>
          <p class="perex">Aliancia Fair-play a občianske združenie Slovensko.Digital upozorňujú Ministerstvo školstva, že predĺžením zmluvy na pripojenie škôl k internetu s názvom Infovek 2 mohlo prísť k porušeniu zákona. Zároveň Ministerstvo vyzývajú, aby začalo komunikovať s verejnosťou a vysvetlilo všetky pochybnosti súvisiace s predĺžením tejto zmluvy ako aj s prebiehajúcou súťažou na projekt EDUNET, ktorý má Infovek 2 nahradiť.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RWHNFWmlJd2JVaTQ/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Slovensko.Digital víta aktualizovanú verziu Národnej koncepcie informatizácie verejnej správy. Navrhujú ju čím skôr sfinalizovať a schváliť</h3>
          <span>9.9.2016</span>
          <p class="perex">IT odborníci z občianskeho združenia Slovensko.Digital privítali zverejnenie aktualizovanej verzie Národnej koncepcie informatizácie verejnej správy (NKIVS), ktorá usmerní informatizáciu na ďalších 4-6 rokov. Väčšina pripomienok odbornej komunity z februára 2016 bola zapracovaná a podľa odborníkov je potrebné dokument čím skôr sfinalizovať a schváliť.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RQ3pobTJ1WEFHV2M/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Slovensko.Digital chce ukázať ako v kvalite eGovernmentu predbehnúť Estónsko. Spúšťa stránku na tvorbu nových štátnych služieb</h3>
          <span>19.8.2016</span>
          <p class="perex">IT odborníci z občianskeho združenia Slovensko.Digital spustili stránku, na ktorej majú vznikať nové digitálne služby pre občanov a podnikateľov. S použitím štátnych dát a systémov tak chcú ukázať, ako si predstavujú budúcnosť eGovernmentu.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RLTNZOVpMb3VxYjQ/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>IT odborníci vítajú zrušenie projektu Atlas pasívnej infraštruktúry. Pri ďalších štátnych IT nákupoch pochybnosti pretrvávajú</h3>
          <span>12.8.2016</span>
          <p class="perex">Slovensko.Digital víta dnešné rozhodnutie ministra Brecelyho zastaviť IT projekt Atlas pasívnej infraštruktúry v hodnote takmer 50 miliónov eur. Odborníci zároveň pripomínajú, že rovnako treba prehodnotiť aj ďalšie projekty na rezortoch školstva, dopravy alebo v sociálnej poisťovni v spoločnej hodnote takmer 180 miliónov eur. IT komunita na ne už dlhodobo upozorňuje.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RZFZtYkZPbnEyN28/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Michal Cheben, jeden zo zakladateľov Slovensko.Digital, prijal rolu poradcu podpredsedu vlády pre informatizáciu</h3>
          <span>22.7.2016</span>
          <p class="perex">Michal Cheben, jeden zo šiestich zakladateľov Slovensko.Digital, sa rozhodol prijať ponuku úradu podpredsedu vlády pre informatizáciu a pripája sa k jeho poradnému tímu. Ponuku prijal ako súkromná osoba a IT odborník. Členstvo v občianskom združení bude mať po dobu výkonu funkcie pozastavené.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RN3d2eExpTnhJeHM/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>IT komunita pozorne sleduje zmeny vo vedení informatizácie. Od nového vedenia čaká konkrétne záväzky</h3>
          <span>31.5.2016</span>
          <p class="perex">Občianske združenie Slovensko.Digital vníma, že personálne zmeny v informatizácii sú súčasťou zmeny jej smerovania. Odborníci však upozorňujú, že na skutočnú reformu sú potrebné aj zásadné obsahové zmeny a zvýšenie transparentnosti celej informatizácie. Prvým krokom by mohol byť transparentný výber nového vedenia s dôrazom na konkrétne zmeny, ktoré bude presadzovať.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RVEJ2WTcwS3ppNXM/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Slovensko.Digital spustilo možnosť finančnej podpory od verejnosti</h3>
          <span>5.5.2016</span>
          <p class="perex">Iniciatíva Slovensko.Digital sa chce dlhodobo a na plný úväzok venovať zlepšovaniu digitálnych služieb štátu. Založili preto občianske združenie a tento týždeň spustili možnosť pre verejnosť podporiť ich aktivity - svojim časom alebo finančne.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RM1pJSXN5dTVVQjg/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Slovensko.Digital a SND chcú ukázať, ako transparentne nakupovať štátne IT</h3>
          <span>28.4.2016</span>
          <p class="perex">Nákup štátnych IT projektov je často zahalený podozreniami z neefektívnosti, netransparentnosti a niekedy až korupcie. Slovenské národné divadlo sa však rozhodlo, že nákup svojho webu skúsi inak a platforma Slovensko.Digital v tom ochotne pomohla.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RdkI3MXJMcVJGNGM/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Nový úrad pre informatizáciu má zmysel, len ak presadí zásadné zmeny v&nbsp;štátnom IT</h3>
          <span>25.4.2016</span>
          <p class="perex">Slovensko.Digital vníma vytvorenie nového Úradu pre riadenie informatizácie ako šancu na razantné upratovanie v štátnom IT. Je potrebné pozorne sledovať, ako sa tejto šance podpredseda vlády Pellegrini ujme.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RZUI4bDhsWWZNQzA/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Podľa programu novej vlády to na zásadnú zmenu v štátnom IT nevyzerá, počkáme si na prvé konkrétne kroky</h3>
          <span>15.4.2016</span>
          <p class="perex">Program vlády pre štátne IT obsahuje viacero dobrých zámerov, ktoré sú predpokladom pre zlepšenie  súčasného  stavu  informatizácie  verejnej  správy.  Voči  doterajšiemu  výrazne             neuspokojivému  stavu  však  vidíme  potrebu  podstatných  a ráznych  zmien,  inak o  štyri roky opäť budeme iba analyzovať, kde sa stala chyba.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RSG9hTWVTVFBFWXc/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Stanovisko k programovému vyhláseniu vlády</h3>
          <span>30.3.2016</span>
          <p class="perex">Slovenská aliancia pre internetovú ekonomiku (SAPIE), Slovensko.Digital a Spoločnosť preotvorené informačné technológie (SOIT) vyzývajú novú vládu SR, aby vo svojom programovom vyhlásení na najbližšie štyri roky zahrnula opatrenia na rozvoj a podporu inovatívnej ekonomiky a digitalizácie naprieč svojimi politickými prioritami a reformami, vrátane zásadných zmien v elektronizácii služieb štátu.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RQXNQQ2UxV2VhaTg/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>EDUNET kritizujú už nielen mimovládky a odborníci, ale aj dôležití hráči na trhu</h3>
          <span>2.3.2016</span>
          <p class="perex">Aliancia Fair-play, Slovensko.Digital opakovane žiadajú ministerstvo školstva, aby zastavilo a prehodnotilo obstarávanie internetu pre školy v projekte EDUNET, kým je možné zabrániť škodám. Súťaž za 80 miliónov eur podľa mimovládok a odborníko zvýhodňuje niektorých uchádzačov. Hrozí tak, že školy dostanú pomalý a pridrahý internet.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RMVZqMHZCa0g3bjA/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Výzva na systémové zmeny vo fungovaní štátneho IT</h3>
          <span>20.3.2016</span>
          <p class="perex">Občianske združenie Slovensko.Digital vyzýva poslancov NR SR a politické strany, ktoré vzišli z parlamentných volieb, aby v nadchádzajúcom volebnom období presadili zásadné a systémové zmeny vo fungovaní štátneho IT.</p>
          <a href="https://docs.google.com/document/d/15mTxhkooEUHofrhE-gnQQ_MrtAiauJa2mYtoV2fySXo/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>IT odborníci predložili pripomienky k novej stratégii informatizácie</h3>
          <span>19.2.2016</span>
          <p class="perex">O  tom,  ako  bude  vyzerať  eGovernment  o  5  rokov  sa  rozhoduje  práve  teraz.  Návrh  novej koncepcie  informatizácie  z  dielne  Ministerstva  financií  je  na  stole.  IT  odborníci  z  platformy Slovensko.Digital  oceňujú  viaceré  jej  inovatívne  prvky,  ale  požadujú  ráznejšie  riešenia             dlhodobých problémov informatizácie. Hromadnú pripomienku za 2 dni podporilo viac ako 2,200 ľudí.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RNWZlcUVLN1Job00/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Zúčastniť sa volieb nikdy nebolo jednoduchšie. Ostávajú ešte 4 dni.</h3>
          <span>11.2.2016</span>
          <p class="perex">Chcete sa zúčastniť marcových volieb, ale plánujete byť práve na lyžovačke? Nie je to žiadny
            problém. Na online žiadosť o voličský preukaz ostávajú ešte štyri dni. Cez aplikáciu
            volby.digital túto možnosť využilo už 2.000 ľudí a ich počet stále rastie.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71RSmJ1bDdycERRdkk/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>

        <div class="content-wrap">
          <h3>Volby.digital – stránka, ktorá možno zmení Slovensko a zároveň ukazuje, ako sa dajú robiť moderné IT služby pre občanov</h3>
          <span>11.1.2016</span>
          <p class="perex">5. marec 2016 je dátum, ktorý si do svojich kalendárov ukladajú všetci, ktorí sa chystajú voliť v parlamentných voľbách. Pre Slovákov žijúcich v zahraničí je ale dôležitejší iný dátum – tým je 15. január 2016. Najneskôr dovtedy totiž musia byť doručené žiadosti o vydanie hlasovacieho lístka pre voľbu poštou. A práve podanie žiadosti elektronicky umožňuje aplikácia volby.digital, ktorú využilo v posledných týždňoch už takmer 10,000 Slovákov.</p>
          <a href="https://drive.google.com/file/d/0B7xRFSPoK71ReVBERHBUSmh5cjg/view" class="btn btn-primary">Stiahni tlačovú správu</a>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
