<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="content-box col-md-10 col-md-offset-1">
        <h1>Informácie o spracúvaní osobných údajov</h1>
        <p>V súvislosti s nariadením európskeho parlamentu a rady (EÚ) 2016/679 z 27. apríla 2016 o ochrane fyzických osôb pri spracúvaní osobných údajov a o voľnom pohybe takýchto údajov, ktorým sa zrušuje smernica 95/46/ES (všeobecné nariadenie o ochrane údajov) a zákonom č. 18/2018 Z. z o ochrane osobných údajov si plníme informačnú povinnosť v súvislosti so spracúvaním Vašich osobných údajov.</p>
        <p>Prosím, prečítajte si nasledujúce informácie, ako spracúvame Vaše osobné údaje.</p>

        <h3>Kto je prevádzkovateľom osobných údajov?</h3>
        <p>Prevádzkovateľom osobných údajov je <strong>Občianske združenie Slovensko.Digital</strong> so sídlom Staré Grunty 205/18, 84104 Bratislava, IČO 50158635, spoločnosť zapísaná v registri Mestského súdu Bratislava III, oddiel: Sro, vložka č. 119763/B, ZI 5.000,-Eur - splatené. Kontakt: <a href="mailto:kontakt@slovensko.digital">kontakt@slovensko.digital</a></p>

        <h3>Na aké účely spracúvame Vaše osobné údaje a aký je právny základ ich spracúvania?</h3>
        <p><strong>Na základe platných zákonov a predpisov</strong> spracúvame osobné údaje našich zamestnancov na účel plnenia pracovno-právneho pomeru a našich členov a dodávateľov na účel vedenia účtovníctva a účely uchovávania a archivácie.</p>
        <p><strong>Na základe zmluvného vzťahu a na účel jeho plnenia</strong> spracúvame osobné údaje členov nášho združenia a peňažných darcov nášho združenia. Na základe predzmluvných vzťahov spracúvame údaje uchádzačov, ktorí prejavia záujem o prácu v našom združení.</p>
        <p>Bezplatné novinky zasielame e-mailom <strong>len s Vaším dobrovoľným súhlasom</strong>. Takisto fotografie na našich webových stránkach zverejňujeme len s dobrovoľným súhlasom dotknutých osôb. Tento súhlas je možné kedykoľvek odvolať kliknutím na odhlasovaciu linku priamo v zaslanom e-maili, alebo poslaním požiadavky na e-mail: <a href="mailto:kontakt@slovensko.digital">kontakt@slovensko.digital</a>.</p>
        <p>Osobné údaje môžeme spracúvať <strong>na základe oprávnených záujmov</strong> na účel uplatňovania právnych nárokov.</p>

        <h3>Aké subjekty majú prístup k osobným údajom?</h3>
        <p>Využívame služby niekoľkých sprostredkovateľov a tretích strán napríklad na vedenie účtovníctva a spracovanie miezd, prevádzkovanie našich databáz a e-mailov v cloude, zabezpečenie správy domén a webových stránok, právnych služieb, webovú analytiku.</p>
        <p>Pri všetkých dodávateľoch dbáme o to, aby postupovali v súlade s platnými zákonmi, boli viazaní mlčanlivosťou, osobné údaje spracúvali výlučne v rozsahu uzatvorených zmlúv a primerane ich chránili v súlade s požiadavkami GDPR, medzinárodných štandardov a platných predpisov.</p>

        <h3>Akú dlhú dobu budeme uchovávať Vaše osobné údaje?</h3>
        <p>Osobné údaje uchovávame počas trvania zmluvy a počas zákonmi stanovených dôb na ich archiváciu, po dobu potrebnú na preukazovanie právnych nárokov alebo po dobu nevyhnutnú na dosiahnutie účelu.</p>
        <p>Osobné údaje získané na základe súhlasu (na odber noviniek alebo zverejnenie fotky), sme oprávnení spracúvať do odvolania súhlasu dotknutou osobou.</p>

        <h3>Aké máte práva v súvislosti so spracúvaním Vašich osobných údajov?</h3>

        <h5>Právo na prístup k osobným údajom:</h5>
        <p>Máte právo požiadať nás o potvrdenie o tom, že spracúvame Vaše osobné údaje.</p>

        <h5>Právo na opravu osobných údajov:</h5>
        <p>Máte právo na opravu svojich osobných údajov, ak sú nepresné alebo neúplné.</p>

        <h5>Právo na vymazanie (zabudnutie):</h5>
        <p>
          Sme povinní bez zbytočného odkladu vymazať Vaše osobné údaje, ak:
          <ul>
            <li>osobné údaje už nie sú potrebné na účely, na ktoré sa získavali alebo inak spracúvali,</li>
            <li>odvoláte súhlas, na základe ktorého sa spracúvanie vykonáva,</li>
            <li>ak neexistuje iný právny základ pre spracúvanie osobných údajov,</li>
            <li>ak namietate voči spracúvaniu a neprevažujú žiadne oprávnené dôvody na spracúvanie,</li>
            <li>namietate voči spracúvaniu a osobné údaje sa spracúvali nezákonne,</li>
            <li>osobné údaje musia byť vymazané, aby sa splnila zákonná povinnosť,</li>
            <li>osobné údaje sa získavali v súvislosti s ponukou služieb informačnej spoločnosti.</li>
          </ul>
        </p>

        <p>
          Žiadosť o vymazanie prevádzkovateľ neuplatňuje, pokiaľ je spracúvanie potrebné:
          <ul>
            <li>na uplatnenie práva na slobodu prejavu a na informácie,</li>
            <li>na splnenie zákonnej povinnosti,</li>
            <li>na splnenie úlohy realizovanej vo verejnom záujme,</li>
            <li>z dôvodov verejného záujmu v oblasti verejného zdravia,</li>
            <li>na účely archivácie vo verejnom záujme, na účely vedeckého alebo historického výskumu či na štatistické účely,</li>
            <li>na preukazovanie, uplatňovanie alebo obhajovanie právnych nárokov.</li>
          </ul>
        </p>

        <h5>Právo na obmedzenie spracúvania osobných údajov:</h5>
        <p>
          Máte právo požiadať nás, aby sme obmedzili spracúvanie Vašich osobných údajov, pokiaľ ide o jeden z týchto prípadov:
          <ul>
            <li>ak napadnete správnosť osobných údajov, obmedzíme ich spracúvanie dovtedy, kým neoveríme ich správnosť,</li>
            <li>ak spracúvame Vaše osobné údaje protizákonne a vy namietate proti vymazaniu osobných údajov a žiadate namiesto toho obmedzenie ich použitia,</li>
            <li>Vaše osobné údaje už nepotrebujeme, ale potrebujete ich vy na preukázanie, uplatňovanie alebo obhajovanie právnych nárokov,</li>
            <li>ak namietate voči spracúvaniu Vašich osobných údajov, obmedzíme ich spracúvanie, a to až do overenia, či naše oprávnené záujmy prevažujú nad Vašimi dôvodmi.</li>
          </ul>
        </p>

        <p>
          Ak sa spracúvanie obmedzilo, takéto osobné údaje sa s výnimkou uchovávania spracúvajú:
          <ul>
            <li>len s Vaším súhlasom,</li>
            <li>na preukazovanie, uplatňovanie alebo obhajovanie právnych nárokov,</li>
            <li>na ochranu práv inej fyzickej alebo právnickej osoby,</li>
            <li>z dôvodov dôležitého verejného záujmu.</li>
          </ul>
        </p>

        <h5>Právo na prenos osobných údajov:</h5>
        <p>Máte právo získať svoje osobné údaje, ktoré ste nám poskytli, a máte právo preniesť tieto údaje ďalšiemu prevádzkovateľovi (napr. pri zmene poskytovateľa určitej služby). Vaše osobné údaje sme Vám na základe Vašej žiadosti povinní poskytnúť v štruktúrovanom, bežne používanom a strojovo čitateľnom formáte (napr. XML alebo CSV).</p>

        <h3>Na koho sa môžete obrátiť v súvislosti so spracúvaním Vašich osobných údajov?</h3>
        <p>Ak máte akékoľvek otázky v súvislosti so spracúvaním osobných údajov v našich informačných systémoch, alebo si chcete uplatniť niektoré z Vašich práv, napíšte nám na: <a href="mailto:zodpovednaosoba@slovensko.digital">zodpovednaosoba@slovensko.digital</a>. Máte taktiež právo podať sťažnosť na <a href="https://dataprotection.gov.sk/">Úrad na ochranu osobných údajov</a>, ak si myslíte, že došlo k porušeniu Vašich práv.</p>
      </div>
    </div>
  </div>
</div>
