<div class="hero"></div>

<div class="section main-content rules">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/o-nas">Tím</a></li>
          <li><a href="/podporovatelia">Podporovatelia</a></li>
          <li class="sidebar-menu-item-active">Stanovy</li>
          <li><a href="/eticky-kodex">Etický kódex</a></li>
          <li><a href="/kariera">Kariéra</a></li>
          <li><a href="/pre-media">Pre médiá</a></li>
          <li><a href="/vyrocne-spravy">Výročné správy</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Stanovy</h1>
        <p class="lead">Stanovy občianskeho združenia podľa zákona č. 83/1990 Zb. o&nbsp;združovaní občanov v znení neskorších predpisov.</p>
        <h2>Článok 1 - Základné ustanovenia</h2>
        <h3>I. Charakter Občianskeho združenia</h3>
        <ol>
          <li>Občianske združenie Slovensko.Digital (ďalej len „občianske združenie“ alebo „združenie“)
            je dobrovoľným, mimovládnym, nepolitickým, neziskovým občianskym združením v zmysle zákona
            č. 83/1990 Zb. o združovaní občanov v jeho platnom znení.
          </li>
          <li>Občianske združenie je novovytvorenou dobrovoľnou spoločenskou organizáciou bez právneho predchodcu. V zmysle ustanovenia § 2 ods. 3 zákona č. 83/1990 Zb. v platnom znení je občianske združenie právnickou osobou so samostatnou právnou subjektivitou.
          </li>
        </ol>
        <h3>II. Názov a sídlo občianskeho združenia</h3>
        <ol>
          <li>Úplný názov občianskeho zduženia znie: Slovensko.Digital</li>
          <li>Sídlom združenia je: Staré Grunty 12, 841 04 Bratislava</li>
        </ol>

        <h2>Článok 2 - Cieľ a činnosť občianskeho združenia</h2>
        <ol>
          <li>Cieľom združenia je najmä prispieť k vytvoreniu transparentného a efektívneho systému investícií z verejných zdrojov do informačno-komunikačných technológií (ďalej len IKT), ktorý bude prinášať vysokú pridanú hodnotou pre používateľov, pričom združenie sleduje základné úlohy:
            <ol>
              <li>informovanie, vzdelávanie a odborný dohľad nad IKT investíciami z verejných prostriedkov,</li>
              <li>presadzovanie zmien v systéme verejných IKT investícií v zmysle stanoveného cieľa,</li>
              <li>vytváranie a navrhovanie riešení s vysokou pridanou hodnotou pre používateľov.</li>
            </ol>
          </li>
          <li>Občianske združenie za účelom dosiahnutia cieľov a naplnenia úloh vykonáva, resp. zabezpečuje najmä nasledovné činnosti:
            <ol>
              <li>vytvorenie iniciatív na súkromnej a vládnej úrovni, ktoré podporia transparentnosť, efektívnosť a orientáciu na používateľa v systéme verejných IKT investícií ako aj presadzovanie informovania o informatizácii,</li>
              <li>vytváranie a vedenie odbornej komunity a zriaďovanie expertných skupín za účelom presadzovanie cieľov združenia,</li>
              <li>organizáciu a realizáciu vzdelávacích a kultúrno-spoločenských podujatí, seminárov a konferencií,</li>
              <li>odborné konzultácie, poradenstvo, konzultácie, podpora vedy a výskumu najmä v oblasti efektivity IKT vo verejnej správe,</li>
              <li>spolupráca s odbornými organizáciami v SR a zahraničí za účelom presadzovania cieľov združenia,</li>
              <li>organizovanie a sprostredkovávanie dobrovoľníckej činnosti,</li>
              <li>zachovanie kultúrnych hodnôt,</li>
              <li>vyhľadávanie a získavanie finančných zdrojov na vykonávanie vyššie uvedených činností, napr.</li>
              <li>aj prostredníctvom spracovania projektov za účelom získania finančných prostriedkov z rôznych fondov,</li>
              <li>propagácia, publikačná činnosť a poskytovanie informácií o hore uvedených aktivitách,</li>
              <li>podpornú podnikateľskú činnosť, ktorej charakter slúži na rozvíjanie cieľov združenia.</li>
            </ol>
          </li>
        </ol>

        <h2>Článok 3 - Vznik a zánik členstva</h2>
        <h3>I. Členstvo v občianskom združení</h3>
        <ol>
          <li>Členom združenia sa môžu stať:
            <ol>
              <li>fyzické osoby staršie ako 18 rokov,</li>
              <li>právnické osoby,</li>
            </ol>
            ak súhlasia so stanovami a vnútornými predpismi občianskeho združenia.
          </li>
          <li>
            Podmienkou členstva je skutočnosť, že záujemcu o členstvo v združení písomne odporučia štyria zakladatelia združenia a zároveň sa zaviaže dodržiavať „Etický kódex združenia“. Za písomné odporučenie v zmysle tohto článku 3. sa považuje aj odoslanie odporučenia faxom alebo prostredníctvom elektronickej pošty na emailovú adresu predsedu rady.
          </li>
          <li>O prijatí člena do združenia rozhoduje rada na základe návrhu, ktorý jej predloží predseda rady. Záujemca predloží predsedovi rady (i) vlastnoručne podpísanú písomnú prihlášku obsahujúcu jeho kontaktné údaje (ii) písomné odporučenie zakladateľov podľa bodu 2 tohto článku a (iii) vlastnoručne podpísaný záväzok dodržiavať stanovy, Etický kódex združenia a vnútorné predpisy občianskeho združenia. Na prijatie do združenia nie je právny nárok.</li>
          <li>Do času zvolenia prvých členov rady, resp. kedykoľvek v prípade, ak rada počas trvania združenia nie je riadne ustanovená alebo ak uplynulo jej funkčné obdobie, rozhodujú o prijatí člena do združenia zakladatelia nadpolovičnou väčšinou hlasov všetkých zakladateľov.</li>
          <li>Rada združenia môže na návrh jedného z jej členov, alebo iného riadneho člena zruženia, rozhodnúť o pozastavení členstva riadneho člena v združení. Rada tak rozhodne najmä však v prípade, ak  člen združenia porušil menej závažným spôsobom stanovy združenia, Etický kódex združenia alebo iné interné predpisy združenia.</li>
        </ol>
        <h3>II. Zánik členstva v občianskom združení</h3>
        <ol>
          <li>Členstvo v občianskom združení zaniká:
            <ol>
              <li>úmrtím alebo jej vyhlásením na mŕtvu,</li>
              <li>zánikom právnickej osoby bez právneho nástupcu,</li>
              <li>vystúpením člena združenia (na základe písomného oznámenia člena o vystúpení, ktoré bude doručené výkonnému riaditeľovi a predsedovi rady),</li>
              <li>vylúčením člena združenia (na základe rozhodnutia rady) v prípade, že člen opakovane, aj napriek písomnému upozorneniu, porušuje stanovy združenia, Etický kódex združenia, alebo iné vnútorné predpisy združenia, alebo iným spôsobom škodí činnosti združenia; návrh na vylúčenie predkladá rade jej predseda alebo jeden zo zakladateľov,</li>
              <li>zánikom združenia,</li>
              <li>neuhradením členského poplatku v lehote určenej vo výzve na dodatočné splnenie si povinnosti zaplatiť členský poplatok. Lehota na dodatočné splnenie si povinnosti nebude kratšia ako 15 dní odo dňa vyhotovenia výzvy.</li>
            </ol>
          </li>
        </ol>

        <h2>Článok 4 - Práva a povinnosti členov</h2>
        <ol>
          <li>Združenie má tieto kategórie členov:
            <ol>
              <li>zakladateľ</li>
              <li>riadny člen</li>
            </ol>
          </li>
          <li>Zakladateľ má všetky práva a povinnosti riadneho člena. Ak sa v týchto stanovách spomína riadny člen, myslí sa tým aj zakladateľ.</li>
          <li>
            Riadny člen má právo:
            <ol>
              <li>zúčastňovať sa na valnom zhromaždení a hlasovať na ňom,</li>
              <li>zúčastňovať sa na činnosti občianskeho združenia,</li>
              <li>voliť a byť volený do orgánov občianskeho združenia,</li>
              <li>predkladať návrhy, podnety, sťažnosti a žiadosti orgánom občianskeho združenia,</li>
              <li>byť informovaný o rozhodnutiach orgánov občianskeho združenia a pripravovaných aktivitách.</li>
            </ol>
          </li>
          <li>Riadny člen má tieto povinnosti:
            <ol>
              <li>dodržiavať zákony a ostatné všeobecne záväzné právne predpisy Slovenskej republiky, stanovy združenia a ostatné vnútorné predpisy združenia,</li>
              <li>podieľať sa podľa svojich možností na činnosti združenia,</li>
              <li>aktívne hájiť záujmy združenia,</li>
              <li>platiť členské poplatky, pričom členský poplatok sa považuje za uhradený dňom jeho pripísania na účet združenia,</li>
              <li>zdržať sa úkonov, ktoré by boli v rozpore so záujmami združenia.</li>
            </ol>
          </li>
          <li>V prípade, ak má riadny člen združenia pozastavené členstvo v združení na základe rozhodnutia rady podľa čl. 3 ods. 5 týchto stanov, nie je oprávnený vykonávať práva člena poďla týchto stanov.</li>
          <li>V prípade prijatia rozhodnutia podľa čl. 7 ods. 3 písmeno k) budú riadnym členom združenia sprístupňované a/ alebo poskytované služby v rozsahu stanovenom vnútorným predpisom združenia, alebo rozhodnutím rady, pre jednotlivé podkategórie riadnych členov zruženia. Zaradením riadneho člena do podkategórií v zmysle predchádzajúcej vety tohto bodu, nie sú dotknuté práva práva riadneho člena uvedené v bode 3. písmeno a) až d) tohto článku.</li>
        </ol>

        <h2>Článok 5 - Orgány občianskeho združenia</h2>
        <ol>
          <li>
            Orgánmi občianskeho združenia sú:
            <ol>
              <li>Valné zhromaždenie</li>
              <li>Rada</li>
              <li>Výkonný riaditeľ</li>
              <li>Revízor</li>
            </ol>
          </li>
        </ol>

        <h2>Článok 6 - Valné zhromaždenie</h2>
        <ol>
          <li>Valné zhromaždenie je najvyšším orgánom združenia a je tvorené všetkými riadnymi členmi združenia s hlasovacím právom. Zasadnutie valného zhromaždenia sa koná podľa potreby, najmenej však raz ročne.</li>
          <li>Valné zhromaždenie:
            <ol>
              <li>po predchádzajúcom návrhu aspoň štyroch zakladateľov volí a odvoláva členov rady, ako aj revízora, pričom funkčné obdobie všetkých volených orgánov združenia je päťročné,
              <li>schvaľuje výročnú správu o hospodárení,</li>
              <li>rozhoduje o ďalších otázkach súvisiacich s činnosťou združenia, pokiaľ oprávnenie rozhodovať o tejto otázke nepatrí inému orgánu združenia,</li>
              <li>rozhoduje o zrušení združenia a o osobe likvidátora a jeho odmene.</li>
            </ol>
          </li>

          <li>Valné zhromaždenie zvoláva a vedie výkonný riaditeľ podľa potreby, najmenej však jedenkrát do roka. Valné zhromaždenie je uznášaniaschopné, ak je prítomná nadpolovičná väčšina všetkých riadnych členov. Ak valné zhromaždenie nie je uznášaniaschopné podľa predchádzajúcej vety, jeho konanie sa preruší na 30 minút. Po uplynutí 30 minút je valné zhromaždenie schopné uznášať sa s počtom riadnych členov prítomných na valnom zhromaždení. Na prijatie platného uznesenia valného zhromaždenia je potrebná nadpolovičná väčšina hlasov prítomných riadnych členov združenia, vrátane hlasov štyroch zakladateľov.</li>
          <li>Každý riadny člen disponuje na valnom zhromaždení jedným hlasom a účasť vykonáva osobne alebo prostredníctvom písomne povereného zástupcu.</li>
          <li>Riadny člen sa môže Valného zhromaždenia zúčastniť aj prostredníctvom obojstrannej videokonferencie, pričom v tomto prípade sa za prítomného na valnom zhromaždení považuje ak (i) túto skutočnosť ohlásil najmenej dva pracovné dni vopred výkonnému riaditeľovi (oznámenie môže byť uskutočnené prostredníctvom elektronickej pošty) a (ii) je touto formou na valnom zhromaždení prítomný počas celej doby jeho trvania. Za technické zabezpečenie videokonferencie zodpovedá daný člen, ktorý sa touto formou valného zhromaždenia zúčastňuje, alebo ním poverený zástupca.</li>
          <li>Zvolanie valného zhromaždenia sa uskutoční prostredníctvom zaslania pozvánok riadnym členom spolu s programom rokovania minimálne 15 dní pred jeho konaním prostredníctvom elektronickej pošty na ich emailovú adresu oznámenú výkonnému riaditeľovi.</li>
          <li>Uznesenia valného zhromaždenia musia byť zapísané v zápisnici a podpísané výkonným riaditeľom a zapisovateľom. Výkonný riaditeľ zabezpečí vyhotovenie zápisnice najneskôr do 30 dní od konania zasadnutia valného zhromaždenia.</li>
          <li>Členovia združenia môžu prijímať rozhodnutia aj mimo valného zhromaždenia na základe per rollam uznesenia/rozhodnutia. Návrh uznesenia/rozhodnutia valného zhromaždenia predkladá písomne členom združenia na vyjadrenie súhlasu/nesúhlasu výkonný riaditeľ spolu s oznámením lehoty na písomné vyjadrenie, v ktorej ho členovia združenia zasielajú na adresu sídla združenia. Lehota na vyjadrenie nesmie byť kratšia ako 7 dní odo dňa odoslania návrhu uznesenia/rozhodnutia na vyjadrenie. Za písomné predloženie návrhu uznesenia/rozhodnutia na vyjadrenie, ako aj za písomné vyjadrenie, sa považuje aj odoslanie návrhu uznesenia/rozhodnutia a vyjadrenia faxom alebo prostredníctvom elektronickej pošty na poslednú známu emailovú adresu členov združenia a na emailovú adresu výkonného riaditeľa. Za včasné doručenie vyjadrenia sa považuje aj jeho doručenie prostredníctvom elektronickej pošty na mailovú adresu výkonného riaditeľa. Ak sa člen nevyjadrí v lehote, platí, že nesúhlasí. Výkonný riaditeľ potom oznámi výsledky hlasovania emailom všetkým riadnym členom združenia do 10 dní po uplynutí predmetnej lehoty na vyjadrenie. Na prijatie platného per rollam uznesenia/rozhodnutia valného zhromaždenia je potrebná nadpolovičná väčšina hlasov všetkých riadnych členov združenia, vrátane hlasov štyroch zakladateľov.</li>
          <li>Výkonný riaditeľ zvolá mimoriadne valné zhromaždenie vždy, ak ho o to požiadajú aspoň štyria zakladatelia. V prípade, ak výkonný riaditeľ nie je zvolený, alebo mu uplynulo funkčné obdobie, zastupuje ho pri výkone zvolania a vedenia valného zhromaždenia predseda rady, alebo jeden zo zakladateľov, ktorý bol poverený aspoň štyrmi zakladateľmi.</li>
        </ol>

        <h2>Článok 7 - Rada</h2>
        <ol>
          <li>Rada pozostáva zo zástupcov šiestich riadnych členov združenia (predseda rady a členovia rady) zvolených valným zhromaždením po predchádzajúcom návrhu aspoň štyroch zakladateľov. Členovia rady volia spomedzi seba predsedu rady a dvoch podpredsedov rady. Predseda rady je oprávnený konať v mene združenia navonok samostatne a vykonáva pôsobnosť štatutárneho orgánu vo vzťahu k tretím osobám.</li>
          <li>Na prijatie platného rozhodnutia rady je potrebná nadpolovičná väčšina hlasov všetkých členov rady. Rada môže prijímať rozhodnutia aj mimo zasadnutia rady na základe per rollam rozhodnutia. Návrh rozhodnutia môže písomne predložiť ktorýkoľvek člen rady na vyjadrenie súhlasu/nesúhlasu, spolu s oznámením lehoty na písomné vyjadrenie, v ktorej ho členovia rady zasielajú na adresu predsedu rady. Lehota na vyjadrenie nesmie byť kratšia ako 7 dní odo dňa odoslania návrhu rozhodnutia na vyjadrenie. Za písomné predloženie návrhu rozhodnutia na vyjadrenie sa považuje aj odoslanie návrhu rozhodnutia faxom alebo prostredníctvom elektronickej pošty na poslednú známu adresu členov rady. Za včasné doručenie vyjadrenia sa považuje aj jeho doručenie prostredníctvom elektronickej pošty na mailovú adresu predsedu rady. Ak sa člen rady nevyjadrí v lehote, platí, že nesúhlasí. Predseda rady potom oznámi výsledky hlasovania emailom všetkým členom rady do 10 dní po uplynutí predmetnej lehoty na vyjadrenie.</li>
          <li>Rada najmä
            <ol>
              <li>schvaľuje zmenu stanov združenia,</li>
              <li>schvaľuje plán činností a rozpočet združenia,</li>
              <li>určuje plány, projekty a ciele hospodárenia združenia a za týmto účelom ukladá pokyny výkonnému riaditeľovi,</li>
              <li>rozhoduje o strategickom smerovaní a prioritách združenia,</li>
              <li>určuje výšku členských poplatkov,</li>
              <li>rozhoduje o prijatí za člena združenia podľa čl. 3, bod 1. ods. 3. a schvaľuje Etický kódex združenia,</li>
              <li>rozhoduje o vylúčení člena zo združenia,</li>
              <li>rozhoduje o pozastavení členstva v zmysle čl. 3 ods. 5 týchto stanov</li>
              <li>menuje a odvoláva výkonného riaditeľa,</li>
              <li>schvaľuje interné predpisy združenia, ktorých schválenie nie je vyhradené do pôsobnosti valného zhromaždenia,</li>
              <li>rozhoduje o vytvoriení podkategórií riadnych členov združenia. Návrh na predloženie podkategórii riadnych členov zruženia predkladá rade zakladateľ alebo jej člen.</li>
            </ol>
          </li>
        </ol>

        <h2>Článok 8 - Výkonný riaditeľ</h2>
        <ol>
          <li>Výkonný riaditeľ je výkonným a štatutárnym orgánom združenia, ktorý spravuje a riadi združenie a je oprávnený konať samostatne v mene združenia navonok. Výkonný riaditeľ najmä zabezpečuje administratíve a obslužné aktivity súvisiace s činnosťou združenia, pričom je oprávnený konať v mene združenia navonok.</li>
          <li>Za výkon svojej činnosti zodpovedá výkonný riaditeľ valnému zhromaždeniu a rade. O odmene výkonného riaditeľa rozhoduje rada.</li>
          <li>Výkonný riaditeľ najmä:
            <ol>
              <li>plní uznesenia valného zhromaždenia a pokyny rady,</li>
              <li>hospodári s majetkom združenia,</li>
              <li>zvoláva zasadnutia valného zhromaždenia,</li>
              <li>zabezpečuje vedenie účtovníctva,</li>
              <li>vypracúva plán činnosti združenia, správu o činnosti, návrh rozpočtu a správu o hospodárení združenia.</li>
            </ol>
          </li>
          <li>Výkonný riaditeľ môže zo svojej funkcie odstúpiť. Výkon funkcie sa končí platným ustanovením nového výkonného riaditeľa radou, ktorej zasadnutie zvolá najneskôr do 1 mesiaca predseda rady, odkedy mu bolo doručené oznámenie o odstúpení výkonného riaditeľa.</li>
        </ol>

        <h2>Článok 9 - Zakladatelia</h2>
        <ol>
          <li>Občianske združenie má šiestich zakladateľov, ktorí sú zároveň členovia prípravného výboru, ktorými sú:
            <ol>
              <li>Michal Truban</li>
              <li>Ján Suchal</li>
              <li>Ján Hargaš</li>
              <li>Ľubor Illek</li>
              <li>Gabriel Lachmann</li>
              <li>Michal Cheben</li>
              </li>
            </ol>
          </li>
        </ol>

        <h2>Článok 10 - Revízor</h2>
        <ol>
          <li>Revízor je kontrolný orgán združenia, ktorý dohliada na činnosť združenia.</li>
          <li>Revízor je oprávnený nahliadať do všetkých dokladov a záznamov týkajúcich sa činnosti združenia a kontrolovať, či združenie uskutočňuje svoju činnosť v súlade so všeobecne záväznými právnymi predpismi stanovami a ostatnými vnútornými predpismi združenia.</li>
          <li>Úlohou revízora je najmä:
            <ol>
              <li>kontrolovať podľa predložených dokladov činnosť združenia,</li>
              <li>upozorňovať radu na zistené nedostatky a podávať návrhy na ich odstránenie,</li>
              <li>v písomnej správe informovať raz ročne valné zhromaždenie o výsledkoch vykonanej kontroly.</li>
            </ol>
          </li>
          <li>Revízor je oprávnený najmä zúčastniť sa na rokovaní orgánov združenia, upozorniť radu a/alebo valné zhromaždenie na zistené porušenie právnych predpisov alebo stanov.</li>
          <li>Revízor môže byť iba fyzická osoba, ktorá je spôsobilá na právne úkony, je bezúhonná, nie je členom rady a nevykonáva funkciu výkonného riaditeľa združenia.</li>
        </ol>

        <h2>Článok 11 - Podporovateľ</h2>
        <ol>
          <li>Podporovateľom združenia môže byť akákoľvek fyzická osoba a/alebo právnická osoba, ktorá písomne prejaví záujem podporovať aktivity združenia a napĺňať ciele združenia uvedené v článku 2 týchto stanov a je evidovaná v zozname podporovateľov vedenom združením na základe rozhodnutia Rady.
          <li>Každý podporovateľ je povinný poskytnúť združeniu základné informácie o sebe, pričom rámec týchto informácií nepresahuje rámec informácií, ktoré sú dostupné verejnosti, najmä prostredníctvom ich zverejňovania vo verejne prístupných registroch.</li>
          <li>Každý podporovateľ súhlasí so zverejňovaním týchto verejne prístupných informácií združením a s uchovávaním a zverejňovaním týchto informácií vo forme tlačovín, elektronických nosičov informácií, kódových zdrojov zápisu informácií, ako aj zverejňovaním ich na web stránke združenia.</li>
          <li>Rada môže rozhodnúť o výmaze podporovateľa zo zoznamu podporovateľov združenia.</li>
          <li>Rada môže rozhodnúť o zaradení podporovateľa do ňou vytvorených pracovných, či poradenských skupín, tzv. „advisory board“.</li>
        </ol>

        <h2>Článok 12 - Hospodárenie združenia</h2>
        <ol>
          <li>Občianske združenie hospodári s hnuteľným a nehnuteľným majetkom a ostatnými majetkovými právami.</li>
          <li>Majetok združenia tvoria najmä:
            <ol>
              <li>príspevky riadnych členov,</li>
              <li>dary a dobrovoľné príspevky,</li>
              <li>dotácie a granty od osôb z tuzemska i zahraničia,</li>
              <li>dotácie od štátnych a samosprávnych orgánov a organizácií,</li>
              <li>príjmy z činnosti pri napĺňaní cieľov združenia.</li>
              <li>ostatné príjmy</li>
            </ol>
          </li>
          <li>Prostriedky združenia sa vedú na osobitnom účte.</li>
        </ol>

        <h2>Článok 13 - Zrušenie a zánik občianskeho združenia</h2>
        <ol>
          <li>Občianske združenie zaniká:
            <ol>
              <li>dobrovoľným rozpustením alebo zlúčením s iným združením na základe rozhodnutia valného zhromaždenia,</li>
              <li>právoplatným rozhodnutím Ministerstva vnútra SR o rozpustení združenia.</li>
            </ol>
          </li>
          <li>Pri zániku združenia s likvidáciou valné zhromaždenie menuje likvidátora. Každý riadny člen združenia ma nárok na podiel na likvidačnom zostatku, ktorý sa určí podľa pomeru, akým prispel k vytvoreniu majetku združenia peňažným plnením ten ktorý člen združenia.</li>
        </ol>

        <h2>Článok 14 - Záverečné ustanovenia</h2>
        <ol>
          <li>Združenie vzniká dňom registrácie na Ministerstve vnútra Slovenskej republiky.</li>
          <li>Na vzťahy neupravené týmito stanovami sa použijú ustanovenia zákona č. 83/1990 Zb. o združovaní občanov v znení neskorších predpisov a iných všeobecne záväzných právnych predpisov.</li>
        </ol>

        <p>V Bratislave dňa 27.2.2017</p>
      </div>
    </div>
  </div>
</div>
