<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/o-nas">Tím</a></li>
<li class="sidebar-menu-item-active">Podporovatelia</li>
<li><a href="/stanovy">Stanovy</a></li>
<li><a href="/eticky-kodex">Etický kódex</a></li>
</ul>
      </div>
<div class="content-box col-md-9">
<h1 class="content-heading text-center">Podporovatelia</h1>

        <div class="content-wrap logos">
          <p>Slovensko.Digital je komunita. Ďakujeme všetkým, ktorí sa rozhodli nás podporiť.</p>
          <div class="row">
            <div class="col-sm-4"><img class="img-responsive" src="/img/logo/websupport.png" alt="WebSupport, s.r.o."></div>
            <div class="col-sm-4"><img class="img-responsive" src="/img/logo/martinus.png"  alt="martinus.sk"></div>
            <div class="col-sm-4"><img class="img-responsive" src="/img/logo/pixel-federation.png" alt="Pixel Federation"></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><img class="img-responsive" src="/img/logo/eea.png" alt="EEA"></div>
            <div class="col-sm-4"><img class="img-responsive" src="/img/logo/keen-software-house.png"  alt="Keen Software House"></div>
            <div class="col-sm-4"><img class="img-responsive" src="/img/logo/quality-unit.png" alt="Quality Unit"></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><img class="img-responsive" src="/img/logo/bmb.png"  alt="bmb leitner"></div>
            <div class="col-sm-4"><img class="img-responsive" src="/img/logo/echt.png" alt="Studio Echt"></div>
            <div class="col-sm-4"><img class="img-responsive" src="/img/logo/brichta.png" alt="Brichta partners"></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><img class="img-responsive" src="/img/logo/o2.png" alt="O2"></div>
            <div class="col-sm-4"><img class="img-responsive" src="/img/logo/phirational.png" alt="Phirational"></div>
            <div class="col-sm-4"><img class="img-responsive" src="/img/logo/trnka.png" alt="Trnka"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
