<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/o-nas">Tím</a></li>
          <li><a href="/clenovia">Členovia</a></li>
          <li class="sidebar-menu-item-active">Podporovatelia</li>
          <li><a href="/stanovy">Stanovy</a></li>
          <li><a href="/eticky-kodex">Etický kódex</a></li>
          <li><a href="/kariera">Kariéra</a></li>
          <li><a href="/vyrocne-spravy">Výročné správy</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9 content-supporters">
        <h1 class="content-heading text-center">Podporovatelia</h1>
        <div class="content-wrap logos">
          <p>Slovensko.Digital je komunita. Ďakujeme všetkým, ktorí sa rozhodli nás podporiť.</p>
          <div class="row">
            <div class="col-sm-3"><a href="/podporovatelia/2019">Podporovatelia v roku 2019</a></div>
            <div class="col-sm-3"><a href="/podporovatelia/2018">Podporovatelia v roku 2018</a></div>
            <div class="col-sm-3"><a href="/podporovatelia/2017">Podporovatelia v roku 2017</a></div>
            <div class="col-sm-3"><a href="/podporovatelia/2016">Podporovatelia v roku 2016</a></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><a href="http://websupport.sk"><img class="img-responsive" src="/img/logo/websupport.png" alt="WebSupport"></a></div>
            <div class="col-sm-4"><a href="http://qualityunit.com"><img class="img-responsive" src="/img/logo/quality-unit.png" alt="Quality Unit"></a></div>
            <div class="col-sm-4"><a href="http://pixelfederation.sk"><img class="img-responsive" src="/img/logo/pixel-federation.png" alt="Pixel Federation"></a></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><a href="http://eea.sk"><img class="img-responsive" src="/img/logo/eea.svg" alt="EEA"></a></div>
            <div class="col-sm-4"><a href="http://nadaciaeset.sk"><img class="img-responsive" src="/img/logo/nadacia-eset.png" alt="Nadácia ESET"></a></div>
            <div class="col-sm-4"><a href="http://martinus.sk"><img class="img-responsive" src="/img/logo/martinus_logo.jpg" alt="Martinus.sk"></a></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><a href="http://keenswh.com"><img class="img-responsive" src="/img/logo/keen-software-house.png" alt="Keen Software House"></a></div>
            <div class="col-sm-4 pl-5"><a href="http://o2.sk"><img class="img-responsive" src="/img/logo/o2.png" alt="O2"></a></div>
            <div class="col-sm-4"><a href="http://viamo.sk"><img class="img-responsive" src="/img/logo/viamo.png" alt="VIAMO"></a></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><a href="http://leitnerleitner.com"><img class="img-responsive" src="/img/logo/bmb-leitner.png" alt="BMB Leitner"></a></div>
            <div class="col-sm-4"><a href="http://studioecht.com"><img class="img-responsive" src="/img/logo/studio-echt.png" alt="Studio Echt"></a></div>
            <div class="col-sm-4"><a href="http://seesame.com"><img class="img-responsive" src="/img/logo/seesame.png" alt="Seesame"></a></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><a href="http://brichta.sk"><img class="img-responsive" src="/img/logo/brichta-partners.png" alt="Brichta & Partners"></a></div>
            <div class="col-sm-4"><a href="http://phirational.com"><img class="img-responsive" src="/img/logo/phirational.png" alt="Phirational"></a></div>
            <div class="col-sm-4"><img class="img-responsive" src="/img/logo/trnka-investments.png" alt="Trnka Investments"></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><a href="http://bright.sk"><img class="img-responsive" src="/img/logo/bright.png" alt="Bright"></a></div>
            <div class="col-sm-4"><a href="https://bastadigital.com/"><img class="img-responsive" src="/img/logo/basta-digital.png" alt="Basta digital"></a></div>
            <div class="col-sm-4"><a href="http://superfaktura.sk"><img class="img-responsive" src="/img/logo/superfaktura-sk.png" alt="SuperFaktúra.sk"></a></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><a href="http://www.nadaciapontis.sk/"><img class="img-responsive" src="/img/logo/pontis.png" alt="Nadácia Pontis"></a></div>
            <div class="col-sm-4"><a href="https://sk.usembassy.gov/"><img class="img-responsive" src="/img/logo/us-embassy.png" alt="US Embassy in Slovakia"></a></div>
            <div class="col-sm-4 px-5"><a href="http://comiit.com/"><img class="img-responsive" src="/img/logo/comiit.png" alt="Comiit ApS"></a></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><a href="https://www.sli.do/"><img class="img-responsive" src="/img/logo/slido.png" alt="Sli.Do"></a></div>
            <div class="col-sm-4"><a href="http://www.newtonmedia.sk/sk"><img class="img-responsive" src="/img/logo/newton.png" alt="Newton Media"></a></div>
            <div class="col-sm-4"><a href="https://www.isecure.sk/sk.html"><img class="img-responsive" src="/img/logo/isecure.jpg" alt="i-Secure"></a></div>
          </div>
        </div>
        <hr>

        <%= erb :"supporters/_#{@year}" if @year %>

      </div>
    </div>
  </div>
</div>

