<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/o-nas">Tím</a></li>
          <li class="sidebar-menu-item-active">Podporovatelia</li>
          <li><a href="/stanovy">Stanovy</a></li>
          <li><a href="/eticky-kodex">Etický kódex</a></li>
          <li><a href="/kariera">Kariéra</a></li>
          <li><a href="/pre-media">Pre médiá</a></li>
          <li><a href="/vyrocne-spravy">Výročné správy</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9 content-supporters">
        <h1 class="content-heading text-center">Podporovatelia</h1>
        <div class="content-wrap logos">
          <p>Slovensko.Digital je komunita. Ďakujeme všetkým, ktorí sa rozhodli nás podporiť.</p>
          <div class="row">
            <div class="col-sm-4"><a href="http://websupport.sk"><img class="img-responsive" src="/img/logo/websupport.png" alt="WebSupport"></a></div>
            <div class="col-sm-4"><a href="http://qualityunit.com"><img class="img-responsive" src="/img/logo/quality-unit.png" alt="Quality Unit"></a></div>
            <div class="col-sm-4"><a href="http://pixelfederation.sk"><img class="img-responsive" src="/img/logo/pixel-federation.png" alt="Pixel Federation"></a></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><a href="http://eea.sk"><img class="img-responsive" src="/img/logo/eea.png" alt="EEA"></a></div>
            <div class="col-sm-4"><a href="http://nadaciaeset.sk"><img class="img-responsive" src="/img/logo/nadacia-eset.png" alt="Nadácia ESET"></a></div>
            <div class="col-sm-4"><a href="http://martinus.sk"><img class="img-responsive" src="/img/logo/martinus-sk.png" alt="Martinus.sk"></a></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><a href="http://keenswh.com"><img class="img-responsive" src="/img/logo/keen-software-house.png" alt="Keen Software House"></a></div>
            <div class="col-sm-4"><a href="http://o2.sk"><img class="img-responsive" src="/img/logo/o2.png" alt="O2"></a></div>
            <div class="col-sm-4"><a href="http://viamo.sk"><img class="img-responsive" src="/img/logo/viamo.png" alt="VIAMO"></a></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><a href="http://leitnerleitner.com"><img class="img-responsive" src="/img/logo/bmb-leitner.png" alt="BMB Leitner"></a></div>
            <div class="col-sm-4"><a href="http://studioecht.com"><img class="img-responsive" src="/img/logo/studio-echt.png" alt="Studio Echt"></a></div>
            <div class="col-sm-4"><a href="http://seesame.com"><img class="img-responsive" src="/img/logo/seesame.png" alt="Seesame"></a></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><a href="http://brichta.sk"><img class="img-responsive" src="/img/logo/brichta-partners.png" alt="Brichta & Partners"></a></div>
            <div class="col-sm-4"><a href="http://phirational.com"><img class="img-responsive" src="/img/logo/phirational.png" alt="Phirational"></a></div>
            <div class="col-sm-4"><img class="img-responsive" src="/img/logo/trnka-investments.png" alt="Trnka Investments"></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><a href="http://bright.sk"><img class="img-responsive" src="/img/logo/bright.png" alt="Bright"></a></div>
            <div class="col-sm-4"><a href="http://pizzaseo.sk"><img class="img-responsive" src="/img/logo/pizza-seo.jpg" alt="Pizza SEO"></a></div>
            <div class="col-sm-4"><a href="http://superfaktura.sk"><img class="img-responsive" src="/img/logo/superfaktura-sk.png" alt="SuperFaktúra.sk"></a></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><a href="http://www.nadaciapontis.sk/"><img class="img-responsive" src="/img/logo/pontis.png" alt="Nadácia Pontis"></a></div>
            <div class="col-sm-4"><a href="https://sk.usembassy.gov/"><img class="img-responsive" src="/img/logo/us-embassy.png" alt="US Embassy in Slovakia"></a></div>
            <div class="col-sm-4"><a href="http://comiit.com/"><img class="img-responsive" src="/img/logo/comiit.png" alt="Comiit ApS"></a></div>
          </div>
        </div>
        <hr>
        <h2 id="dary">Prijaté dary</h2>
        <h3 id="firmy-a-granty">Firmy a granty</h3>
        <table class="table table-supporters">
          <tbody>
            <tr>
              <td>Fond pre transparentné Slovensko v Nadácii Pontis</td>
              <td class="text-right">30.000 &euro;</td>
            </tr>
            <tr>
              <td>Websupport, s.r.o.</td>
              <td class="text-right">20.000 &euro;</td>
            </tr>
            <tr>
              <td>Quality Unit, s.r.o.</td>
              <td class="text-right">20.000 &euro;</td>
            </tr>
            <tr>
              <td>Pixel Federation, s.r.o.</td>
              <td class="text-right">20.000 &euro;</td>
            </tr>
            <tr>
              <td>EEA, s.r.o.</td>
              <td class="text-right">20.000 &euro;</td>
            </tr>
            <tr>
              <td>Nadácia ESET</td>
              <td class="text-right">10.000 &euro;</td>
            </tr>
            <tr>
              <td>Martinus.sk, s.r.o.</td>
              <td class="text-right">10.000 &euro;</td>
            </tr>
            <tr>
              <td>Keen Software House, a. s.</td>
              <td class="text-right">10.000 &euro;</td>
            </tr>
            <tr>
              <td>O2 Slovakia, s.r.o.</td>
              <td class="text-right">10.000 &euro;</td>
            </tr>
            <tr>
              <td>US Embassy grant</td>
              <td class="text-right">$10.000 = ~9900 &euro;</td>
            </tr>
            <tr>
              <td>VIAMO, a.s.</td>
              <td class="text-right">5.000 &euro;</td>
            </tr>
            <tr>
              <td>Comiit ApS</td>
              <td class="text-right">1.000 &euro;</td>
            </tr>
            <tr>
              <td>BMB Leitner, k.s.</td>
              <td class="text-right">účtovníctvo</td>
            </tr>
            <tr>
              <td>Studio Echt, s.r.o.</td>
              <td class="text-right">dizajn a marketingové služby</td>
            </tr>
            <tr>
              <td>Seesame, s.r.o.</td>
              <td class="text-right">podpora pre PR a komunikáciu</td>
            </tr>
            <tr>
              <td>Brichta &amp; Partners</td>
              <td class="text-right">právne služby v hodnote 20.000 &euro;</td>
            </tr>
            <tr>
              <td>Phirational, s.r.o.</td>
              <td class="text-right">kancelárske priestory</td>
            </tr>
            <tr>
              <td>Trnka Investments, spol. s r.o.</td>
              <td class="text-right">kancelárske priestory a priestor na recepciu</td>
            </tr>
            <tr>
              <td>Bright, s.r.o.</td>
              <td class="text-right">tlač propagačných materiálov</td>
            </tr>
            <tr>
              <td>Pizza SEO, s.r.o.</td>
              <td class="text-right">správa online kampaní</td>
            </tr>
            <tr>
              <td>superfaktura.sk, s.r.o.</td>
              <td class="text-right">fakturačný softvér</td>
            </tr>
          </tbody>
          <tfoot>
          <tr>
            <td>Spolu</td>
            <td class="text-right">165.900 &euro;</td>
          </tr>
          </tfoot>
        </table>

        <h3 id="sukromne-osoby">Súkromné osoby</h3>
        <p>V prípade anonymných alebo pseudonymných darcov overujeme ich identitu dodatočne.</p>
      </div>
    </div>
  </div>
</div>
