<div class="hero"></div>
<!--/.hero -->

<div class="section main-content rules">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/aktuality">Novinky</a></li>
          <li class="sidebar-menu-item-active">Na čom pracujeme?</li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Na čom pracujeme?</h1>
        <p class="lead">Naše stanoviská a vývoj prioritných tém, ktoré v Slovensko.Digital riešime.

        <h2 id="epp">Elektronický preukaz poistenca</h2>
        <p class="lead">Spolu s
          <a href="http://www.fair-play.sk/">Alianciou Fair Play</a> sme 3. decembra 2015 upozornili na obstarávanie nových elektronických preukazov poistenca, ktoré považujeme za zbytočné. Sme presvedčení, že na tento účel je možné použiť existujúci elektronický občiansky preukaz.
        </p>

        <ul class="news">
          <li>
            <span class="date">17. december 2015</span> &mdash; Stretnutie so zástupcami Národného centra zdravotníckych informácií a Ministerstva zdravotníctva SR, kde sme si vysvetlili argumenty za každú stranu a dohodli, že je potrebné stretnutie aj s Ministerstvom vnútra a Ministerstvom financií.
          </li>
          <li>
            <span class="date">21. január 2016</span> &mdash; Konalo sa stretnutie s Ministerstvom vnútra SR, na ktorom sme prešli možnosti využitia eID pre potreby eHealth.
          </li>
          <li>
            <span class="date">25. január 2016</span> &mdash; Spoločné stretnutie zástupcov Ministerstva vnútra, Ministerstva zdravotníctva a Ministerstva financií. Dospeli sme k viacerým variantom riešenia. MZ nám dalo prísľub, že takéto varianty budú vyhodnotené v novej štúdii, ktorú práve spracúvajú. Jej zverejnenie bolo podľa zástupcu MZ otázkou najbližších dní.
          </li>
          <li><span class="date">marec 2016</span> &mdash; NCZI v tichosti podpísalo zmluvu na kartičky s firmou Plaut.</li>
          <li><span class="date">29. marec 2016</span> &mdash; Nový minister Drucker nechal zrušiť zmluvu s formou Plaut.</li>
          <li><span class="date">5. apríl 2016</span> &mdash; Stretli sme sa s novým riaditeľom NCZI. Prisľúbil zrušiť všetky obstarávania kartičiek a potvrdil záujem spolupracovať. Aktuálne sa pripravuje nová koncepcia zavedenia eHealth, ktorá by mala vyriešiť aj prihlasovanie. Maximálne sa má využiť eID.</li>
          <li><span class="date">aktuálne</span> &mdash; <strong>Čakáme na zverejnenie štúdie a koncepcie.</strong></li>
        </ul>
        <h3>Vybrané články v médiách</h3>
        <ul>
          <li>
            <a href="http://ekonomika.sme.sk/c/20065409/stat-sa-chysta-vyhodit-desiatky-milionov-eur-na-zbytocnu-e-kartu-poistenca.html">Štát sa chystá vyhodiť desiatky miliónov eur na zbytočnú e-kartu poistenca</a>
            <span class="date">3. december 2015</span></li>
          <li>
            <a href="http://www.aktuality.sk/clanok/310249/ministerstvo-vyhovelo-kritikom-nechce-zavadzat-zbytocny-zdravotny-preukaz-za-20-milionov-eur/">Ministerstvo vyhovelo kritikom. Drahý preukaz zatiaľ nebude</a>
            <span class="date">16. december 2015</span></li>
          <li>
            <a href="https://dennikn.sk/359767/kalinak-odkazuje-ze-preukazy-vedia-nahradit-plastove-zdravotne-karty/">Kaliňák odkazuje, že jeho preukazy vedia nahradiť plastové zdravotné karty</a>
            <span class="date">2. február 2016</span></li>
        </ul>


        <h2 id="atlas">Atlas pasívnej infraštruktúry (API)</h2>
        <p class="lead">Atlas pasívnej infraštruktúry je veľkým IT projektom za 48 miliónov eur na 7 rokov, ktorý nemá vypracovanú a schválenú štúdiu.</p>
        <ul class="news">
          <li>
            <span class="date">3. február 2016</span> &mdash; Dostávame odpoveď z Ministerstva dopravy, ktoré vysvetľuje stav obstarávania. Zároveň informuje, že do volieb nepodpíše zmluvu na tento projekt. Požiadali sme Ministerstvo dopravy SR o stretnutie k všetkým argumentom Aliancie Fair-Play a Slovensko.Digital.
          </li>
          <li>
            <span class="date">11. február 2016</span> &mdash; Potvrdili sme si stretnutie so zástupcami MD na štvrtok 18. februára 2016.
          </li>
          <li>
            <span class="date">18. február 2016</span> &mdash; Stretnutie bolo viac zamerané na projekt Informačný systém výstavby. K atlasu pasívnej infraštruktúry sa len potvrdilo, že štúdia, ktorá by mala porovnávať alternatívy a vysvetliť, prečo sa projekt odhaduje na 48 miliónov eur, zatiaľ nie je schválená a nie je ani zverejnená. Efektívnosť projektu tak stále nevieme zhodnotiť.
          </li>
          <li><span class="date">8. apríl 2016</span> &mdash; požiadali sme novú hovorkyňu Ministerstva o stretnutie a pokračovanie diskusie k projektom API a ISV.</li>
          <li><span class="date">aktuálne</span> &mdash; <strong>Čakáme na zverejnenie štúdie.</strong></li>
        </ul>
        <h3>Vybrané články v médiách</h3>
        <ul>
          <li>
            <a href="https://dennikn.sk/324670/pociatek-objednava-atlas-internetu-nachystal-nan-48-milionov-eur/">Počiatek objednáva atlas infraštruktúry pre internet, nachystal naň 48 miliónov eur</a>
            <span class="date">22.&nbsp;december&nbsp;2015</span></li>
        </ul>

        <h2 id="isv">Informačný systém výstavby (ISV)</h2>
        <ul class="news">
          <li>
            <span class="date">3. február 2016</span> &mdash; Dostali sme vyjadrenie Ministerstva dopravy, že štúdiu nie je možné zverejniť z&nbsp;bezpečnostných dôvodov. Požiadali sme Ministerstvo dopravy SR o stretnutie.
          </li>
          <li>
            <span class="date">11. február 2016</span> &mdash; Potvrdili sme si stretnutie so zástupcami MD na štvrtok 18. februára 2016.
          </li>
          <li>
            <span class="date">18. február 2016</span> &mdash; Stretnutie so zástupcami Ministerstva dopravy, ktorí pripravili analytickú dokumentáciu k projektu. Bolo možné do nej nahliadnuť, ale vzhľadom na podmienky zmluvy spracovateľa dokumentácie (KPMG), sa požadovalo podpísanie dohody o mlčanlivosti. Túto podmienku sme odmietli, považujeme ju za veľmi zlý precedens. Štúdia k projektu sa len pripravuje. Kedže nie sú dostupné podklady a s podpisom NDA nesúhlasíme, nedá sa zhodnotiť efektívnosť projektu.
          </li>
          <li><span class="date">8. marec 2016</span> &mdash; Podávame oficiálnu infožiadosť o sprístupnenie dokumentácie k projektu.</li>
          <li><span class="date">18. marec 2016</span> &mdash; Ministerstvo našu infožiadosť zamietlo. Podávame odvolanie.</li>
          <li><span class="date">8. apríl 2016</span> &mdash; Požiadali sme novú hovorkyňu Ministerstva o stretnutie a pokračovanie diskusie k projektom API a ISV</li>
          <li><span class="date">aktuálne</span> &mdash; <strong>Čakáme na reakciu a zverejnenie štúdie.</strong></li>
        </ul>
        <h3>Vybrané články v médiách</h3>
        <ul>
          <li>
            <a href="http://www.ta3.com/clanok/1077536/mimovladky-ziadaju-vladu-aby-zastavila-it-tendre-za-stamiliony.html">Mimovládky žiadajú vládu, aby zastavila IT tendre za stámilióny</a>
            <span class="date">3.&nbsp;február&nbsp;2016</span></li>
        </ul>

        <h2 id="edunet">EDUNET</h2>
        <p class="lead">Projekt EDUNET je pokračovaním Infovek-u, ktorý sa týka pripojenia škôl do internetu. Z odborného hľadiska sme názoru, že Ministerstvo školstva nakupuje službu zbytočne centralizovane a nezohľadňuje reálne podmienky na trhu.</p>
        <ul class="news">
          <li>
            <span class="date">3. február 2016</span> &mdash; Ministerstvu školstva sme zaslali list so žiadosťou o zastavenie obstarávania a prehodnotenie projektu.
          </li>
          <li>
            <span class="date">22. február 2016</span> &mdash; Po odvysielaní reportáže TV Markíza (zo dňa 21.2.) vydalo Ministerstvo
            <a href="http://www.minedu.sk/reakcia-na-nepravdive-tvrdenia-tv-markiza/">tlačovú správu</a>, v ktorej obhajuje projekt EDUNET.
          </li>
          <li>
            <span class="date">24. február 2016</span> &mdash; Michal Rybárik z Asociácie lokálnych poskytovateľov internetu k nim
            <a href="http://blog.etrend.sk/michal-rybarik/ako-ministerstvo-ne-vysvetlilo-edunet.html">napísal reakciu</a>, v ktorej viaceré argumenty vyvrátil.
          </li>
          <li>
            <span class="date">1. marec 2016</span> &mdash; Ministerstvo nereagovalo na viaceré výzvy na osobné stretnutie s cieľom otvorenej diskusie o projekte EDUNET. Pôvodný termín na predloženie ponúk (1.3.2016) len deň pred jeho vypršaním Ministerstvo presunulo na 15.3.2016
          </li>
          <li><span class="date">2. marec 2016</span> &mdash; Spolu s Alianciou Fair-Play a zástupcami O2, Orange a ALPI sme na tlačovej konferencii opätovne upozornili na to, že súťaž je nastavená neefektívne a podozrivo zvýhodňujúca dominantného poskytovateľa internetu na Slovensku</li>
          <li><span class="date">15. marec 2016</span> &mdash; Boli otvorené obálky. Súťaže sa nakoniec
            <a href="http://www.etrend.sk/technologie/skolsky-internet-za-80-m-chcu-dodavat-styria-ich-mena-ministerstvo-taji.html">zúčastnili 4 firmy</a>: Telekom, O2 a údajne SWAN a Slovanet. Ministerstvo ako odpoveď na následné dopyty po informáciách opätovne informovalo, že stále prebieha proces vyhodnocovania ponúk.</li>
          <li><span class="date">aktuálne</span> &mdash; <strong>Čakáme na odpoveď a zverejnenie dokumentov.</strong></li>
        </ul>

        <h3>Vybrané články v médiách</h3>
        <ul>
          <li>
            <a href="http://blog.etrend.sk/michal-rybarik/edunet-v-skolstve-je-penazi-na-rozhadzovanie-dost.html">EDUNET: V školstve je peňazí na rozhadzovanie dosť</a>
            <span class="date">27.&nbsp;január&nbsp;2016</span></li>
          <li>
            <a href="http://www.ta3.com/clanok/1077536/mimovladky-ziadaju-vladu-aby-zastavila-it-tendre-za-stamiliony.html">Mimovládky žiadajú vládu, aby zastavila IT tendre za stámilióny</a>
            <span class="date">3.&nbsp;február&nbsp;2016</span></li>
        </ul>
        </li>

        <h2 id="bigbrother">Systém pre kontrolu dodržiavania pravidiel cestnej premávky</h2>
        <p class="lead">Obstarávanie na systém automatizovaných pokút, ktorý má byť financovaný aj z eurofondov, no ešte nemá schválenú štúdiu. Veľmi neštandardná je aj suma 140 miliónov eur a dĺžka trvania 16 rokov s opciou na ďalších 5.</p>
        <ul class="news">
          <li>
            <span class="date">4. február 2016</span> &mdash; Stretnutie so zástupcami Ministerstva vnútra, na ktorom sme si prešli argumenty za každú stranu. Zhodli sme sa na tom, že potrebujeme lepší proces tvorby Štúdii pre IT projekty. Nedospeli sme však k dohode ohľadom zverejnenia štúdie pre tento konkrétny systém, kým nebude schválená na Ministerstve financií.
          </li>
          <li>
            <span class="date">4. február 2016</span> &mdash; Poslali sme žiadosť o informácie na Ministerstvo financií, ktoré by malo mať pracovnú verziu štúdie k projektu na schvaľovaní.
          </li>
          <li>
            <span class="date">11. februára 2016</span> &mdash; 11.2.2016 navrhli sme Ministerstvu vnútra verejnú prezentáciu východísk projektu.
          </li>
          <li>
            <span class="date">19. februára 2016</span> &mdash; Ministerstvo vnútra vo svojej odpovedi uviedlo, že súťažné podklady si prevzalo 44 subjektov, verejnú prezentáciu odmietlo z dôvodu prebiehajúceho verejného obstarávania a snahy o nediskrimináciu uchádzačov. Rovnakú odpoveď sme dostali na našu infožiadosť. Proti tomuto odôvodneniu sme podali odvolanie. Nezverejnenie podkladov k projektu podľa nás nemá opooru v zákone o verejnom obstarávaní a je v rozpore so zákonom o slobodnom prístupe k informáciám.
          </li>
          <li>
            <span class="date">29. februára 2016</span> &mdash; Dostali sme odpoveď Ministerstva financií na našu infožiadosť o sprístupnenie štúdie uskutočniteľnosti k projektu. Podľa odpovede ju ministerstvo vnútra predložilo na pripomienkovanie 8.2.2016 a hneď 11.2.2016 požiadalo o jej stiahnutie. Ku dňu 26.2.2016 tak ministerstvo financií podľa vlastného vyjadrenia neeviduje žiadnu štúdiu k projektu predloženú na pripomienkovanie.
          </li>
          <li><span class="date">29. marec 2016</span> &mdash; <strong>Nová vláda sa rozhodla <a href="https://www.uvo.gov.sk/vestnik/oznamenie/detail/332418">obstarávanie
            zrušiť</a> a projekt pre tento moment zastaviť.</strong> Naďalej sa však dožadujeme pôvodnej dokumentácie cez ďalšie odvolanie.</li>
          <li><span class="date">aktuálne</span> &mdash; <strong>Čakáme na zverejnenie štúdie.</strong></li>
        </ul>

        <h3>Vybrané články v médiách</h3>
        <ul>
          <li>
            <a href="http://www.ta3.com/clanok/1077536/mimovladky-ziadaju-vladu-aby-zastavila-it-tendre-za-stamiliony.html">Mimovládky žiadajú vládu, aby zastavila IT tendre za stámilióny</a>
            <span class="date">3.&nbsp;február&nbsp;2016</span></li>
        </ul>

        <h2 id="rada-vlady">Rada vlády pre digitalizáciu verejnej správy</h2>
        <p class="lead">Vďaka IT Asociácii Slovenska sme získali v rade vlády jedného zástupcu.</p>
        <ul class="news">
          <li>
            <span class="date">15. december 2015</span> &mdash; Dostávame ponuku na jedno miesto v rade vlády pre digitalizáciu verejnej správy od IT Asociácie Slovenska. Berieme.
          </li>
          <li>
            <span class="date">22. december 2015</span> &mdash; Prvé stretnutie rady, kde otvárame tému pripomienkovania zámerov projektov pred schválením a požadujeme nerobiť obstarávania na projekty, kde nie je zámer schválený.
          </li>
          <li>
            <span class="date">4. januára 2016</span> &mdash; Druhé stretnutie rady. Predkladáme náš návrh na verejné pripomienkovanie zámerov projektov pred schválením.
          </li>
          <li><span class="date">aktuálne</span> &mdash;
            <strong>Čakáme na pripomienky k predloženému materiálu.</strong></li>
        </ul>

        <h2 id="ifp">Spolupráca s inštitútom pre finančnú politiku</h2>
        <p class="lead">S Inštitútom pre Finančnú Politiku (IFP) pracujeme na lepších metodikách ekonomického hodnotenia projektov a zároveň na plošnej revízií výdavkov na štátne IT.</p>
        <ul class="news">
          <li>
            <span class="date">8. január 2016</span> &mdash; Uvodné stretnutie, na ktorom sme IFP odprezentovali náš pohľad na to, čo by sa v informatizácii dalo robiť lepšie.
          </li>
          <li>
            <span class="date">14. január 2016</span> &mdash; Na druhom stretnutí sme si dohodli rozsah spolupráce. Zlepšenie metodiky hodnotenia nákladov a prínosov štátnych IT projektov. Zapojenie IFP do procesu hodnotenia projektu ePP. Spolupráca pri plošnom zhodnotení výdavkov na štátne IT.
          </li>
          <li>
            <span class="date">19. január 2016</span> &mdash; Vymenili sme si príklady dobrej praxe pre IT Business Case zo zahraničia a aktuálne používané metodiky pre hodnotenie eurofondových IT projektov.
          </li>
          <li>
            <span class="date">25. január 2016</span> &mdash; Spoločne sme sa zúčastnili stretnutia na ministerstva vnútra k projektu elektronických preukazov poistenca (ePP).
          </li>
          <li><span class="date">25. február 2016</span> &mdash; Na stretnutí s IFP prešli prvé výsledky hodnotenia výdavkov na štátne IT. Zároveň sme diskutovali návrh indikátorov, ktoré je podľa nás vhodné sledovať pre investičné a prevádzkové výdavky v tejto oblasti.</li>
          <li><span class="date">20. apríl 2016</span> Stretli sme sa so zástupcami IFP k rozsahu ich analýzy v oblasti ifnromatizácie. Meranie hodnoty za peniaze v informatizácii sa dostalo aj do vládneho programu a spolu s IFP by sme radi priniesli prvé výsledky do konca júna 2016. Prioritou je zmena metodiky CBA v programe OPII, zavedenie pravidiel pre hodnotenie VfM v investičných a prevádzkových výdavkoch a zavedenie indikátorov informatizácie.</li>
          <li><span class="date">aktuálne</span> &mdash; <strong>Čakáme na štúdiu k ePP.</strong></li>
        </ul>


        <h2 id="komunita">Komunita</h2>
        <p class="lead">Budujeme širšiu IT komunitu, ktorá by dokázala odborne pomáhať a konfrontovať projekty verejnej správy.</p>
        <ul class="news">
          <li>
            <span class="date">14. január 2016</span> &mdash; Konalo sa prvé stretnutie komunity Slovensko.Digital. Prišlo vyše 170 ľudí a&nbsp;<a href="https://platforma.slovensko.digital/t/ako-dopadlo-stretnutie-komunity-slovensko-digital/1294" title="Odkaz na diskusiu na platforme">prezentovali sme ďalšie plány</a>.
          </li>
          <li><span class="date">20. január 2016</span> &mdash; Hľadáme ľudí do
            <a href="https://platforma.slovensko.digital/t/pracovne-skupiny/1293" title="Odkaz na diskusiu na platforme">neformálnych pracovných skupín</a>.
          </li>
          <li>
            <span class="date">17&ndash;19. február 2016</span> &mdash;
            Podávame
            <a href="https://www.facebook.com/slovensko.digital/photos/a.1659409590985373.1073741828.1659408844318781/1684147395178259/?type=1&theater">hromadnú pripomienku k národnej koncepcii informatizácie verejnej správy</a> s pripomienkami od komunity.
          </li>
          <li>
            <span class="date">1. marec 2016</span> &mdash;
            Zverejňujeme
            <a href="https://www.facebook.com/slovensko.digital/photos/a.1659409590985373.1073741828.1659408844318781/1688812521378413/?type=3&theater">zoznam opatrení pre lepšie štátne IT</a> vypracovaný v spolupráci s komunitou.
            <a class="comments" href="https://platforma.slovensko.digital/t/opatrenia-slovensko-digital-pre-zlepsenie-informatizacie-a-nakupu-ikt/1653"><i class="fa fa-comments-o"></i></a>
          </li>
          <li><span class="date">aktuálne</span> &mdash;
            <strong>Spracovávame podnety z platformy a pripravujeme ďalšie úlohy pre pracovné skupiny.</strong></li>
        </ul>
        <h3>Vybrané články v médiách</h3>
        <ul>
          <li>
            <a href="http://www.tyzden.sk/spolocnost/29215/tito-it-ckari-su-specialni/">Títo IT-čkári sú špeciálni</a>
            <span class="date">15.&nbsp;január&nbsp;2016</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
