<!-- sekcia vynechana 2017-08-03 kedze nebola updatovana -->

<div class="hero"></div>

<div class="section main-content rules">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/aktuality">Novinky</a></li>
          <li class="sidebar-menu-item-active">Na čom pracujeme?</li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Na čom pracujeme?</h1>
        <p class="lead">Naše stanoviská a vývoj prioritných tém, ktoré v Slovensko.Digital riešime.</p>

        <h2 id="epp">Elektronický preukaz poistenca</h2>
        <p class="lead">Spolu s
          <a href="http://www.fair-play.sk/">Alianciou Fair Play</a> sme 3. decembra 2015 upozornili na obstarávanie nových elektronických preukazov poistenca, ktoré považujeme za zbytočné. Sme presvedčení, že na tento účel je možné použiť existujúci elektronický občiansky preukaz.
        </p>

        <ul class="news">
          <li>
            <span class="date">17. december 2015</span> &mdash; Stretnutie so zástupcami Národného centra zdravotníckych informácií a Ministerstva zdravotníctva SR, kde sme si vysvetlili argumenty za každú stranu a dohodli, že je potrebné stretnutie aj s Ministerstvom vnútra a Ministerstvom financií.
          </li>
          <li>
            <span class="date">21. január 2016</span> &mdash; Konalo sa stretnutie s Ministerstvom vnútra SR, na ktorom sme prešli možnosti využitia eID pre potreby eHealth.
          </li>
          <li>
            <span class="date">25. január 2016</span> &mdash; Spoločné stretnutie zástupcov Ministerstva vnútra, Ministerstva zdravotníctva a Ministerstva financií. Dospeli sme k viacerým variantom riešenia. MZ nám dalo prísľub, že takéto varianty budú vyhodnotené v novej štúdii, ktorú práve spracúvajú. Jej zverejnenie bolo podľa zástupcu MZ otázkou najbližších dní.
          </li>
          <li><span class="date">marec 2016</span> &mdash; NCZI v tichosti podpísalo zmluvu na kartičky s firmou Plaut.</li>
          <li><span class="date">29. marec 2016</span> &mdash; Nový minister Drucker nechal zrušiť zmluvu s formou Plaut.</li>
          <li><span class="date">5. apríl 2016</span> &mdash; Stretli sme sa s novým riaditeľom NCZI. Prisľúbil zrušiť všetky obstarávania kartičiek a potvrdil záujem spolupracovať. Aktuálne sa pripravuje nová koncepcia zavedenia eHealth, ktorá by mala vyriešiť aj prihlasovanie. Maximálne sa má využiť eID.</li>
          <li><span class="date">11. apríl 2016</span> &mdash; Po expresne rýchlom zrušení zmluvy na informačný systém - ktoré už preveruje Národná kriminálna agentúra - nás riaditeľ NCZI informoval o ukončení aj
            <a href="https://www.facebook.com/slovensko.digital/posts/1706682812924717">všetkých ostatných obstarávaní</a> (podľa vyčíslenia NKÚ spolu na 55 miliónov eur)</li>
          <li><span class="date">aktuálne</span> &mdash; <strong>Čakáme na zverejnenie štúdie a koncepcie. V novom návrhu zákona sa už počíta s tým, že na identifikáciu bude slúžiť
            <a href="https://platforma.slovensko.digital/t/elektronicke-zdravotne-preukazy-obstaravanie-opii/252/249">eID a rodné číslo</a>.</strong></li>
        </ul>
        <h3>Vybrané články v médiách</h3>
        <ul>
          <li>
            <a href="http://ekonomika.sme.sk/c/20065409/stat-sa-chysta-vyhodit-desiatky-milionov-eur-na-zbytocnu-e-kartu-poistenca.html">Štát sa chystá vyhodiť desiatky miliónov eur na zbytočnú e-kartu poistenca</a>
            <span class="date">3. december 2015</span></li>
          <li>
            <a href="http://www.aktuality.sk/clanok/310249/ministerstvo-vyhovelo-kritikom-nechce-zavadzat-zbytocny-zdravotny-preukaz-za-20-milionov-eur/">Ministerstvo vyhovelo kritikom. Drahý preukaz zatiaľ nebude</a>
            <span class="date">16. december 2015</span></li>
          <li>
            <a href="https://dennikn.sk/359767/kalinak-odkazuje-ze-preukazy-vedia-nahradit-plastove-zdravotne-karty/">Kaliňák odkazuje, že jeho preukazy vedia nahradiť plastové zdravotné karty</a>
            <span class="date">2. február 2016</span></li>
        </ul>
        <hr>

        <h2 id="atlas">Atlas pasívnej infraštruktúry (API)</h2>
        <p class="lead">Atlas pasívnej infraštruktúry je veľkým IT projektom za 48 miliónov eur na 7 rokov, ktorý nemá vypracovanú a schválenú štúdiu.</p>
        <ul class="news">
          <li>
            <span class="date">3. február 2016</span> &mdash; Dostávame odpoveď z Ministerstva dopravy, ktoré vysvetľuje stav obstarávania. Zároveň informuje, že do volieb nepodpíše zmluvu na tento projekt. Požiadali sme Ministerstvo dopravy SR o stretnutie k všetkým argumentom Aliancie Fair-Play a Slovensko.Digital.
          </li>
          <li>
            <span class="date">11. február 2016</span> &mdash; Potvrdili sme si stretnutie so zástupcami MD na štvrtok 18. februára 2016.
          </li>
          <li>
            <span class="date">18. február 2016</span> &mdash; Stretnutie bolo viac zamerané na projekt Informačný systém výstavby. K atlasu pasívnej infraštruktúry sa len potvrdilo, že štúdia, ktorá by mala porovnávať alternatívy a vysvetliť, prečo sa projekt odhaduje na 48 miliónov eur, zatiaľ nie je schválená a nie je ani zverejnená. Efektívnosť projektu tak stále nevieme zhodnotiť.
          </li>
          <li><span class="date">8. apríl 2016</span> &mdash; požiadali sme novú hovorkyňu Ministerstva o stretnutie a pokračovanie diskusie k projektom API a ISV.</li>
          <li><span class="date">5. máj 2016</span> &mdash; Vítame <a href="https://www.facebook.com/slovensko.digital/posts/1716391675287164">rozhodnutie ministra dopravy Brecelyho</a>, že vytvorí komisiu na prehodnotenie tohto projektu.</li>
          <li><span class="date">12. august 2016</span> &mdash;  Spoločne s komunitou, ktorá pripomienkovala a nedovolila, aby projekt upadol do zapadnutia sa nám to podarilo. Minister vydal rozhodnutie na <a href="https://www.facebook.com/slovensko.digital/posts/1758965557696442">zastavenie projektu</a>.</li>
          <li><span class="date">25. október 2016</span> &mdash; Kontaktovali sme vedenie ministerstva so žiadosťou o stretnutie.</li>
          <li><span class="date">aktuálne</span> &mdash; <strong>Čakáme na zverejnenie štúdie.</strong></li>
        </ul>
        <h3>Vybrané články v médiách</h3>
        <ul>
          <li>
            <a href="https://dennikn.sk/324670/pociatek-objednava-atlas-internetu-nachystal-nan-48-milionov-eur/">Počiatek objednáva atlas infraštruktúry pre internet, nachystal naň 48 miliónov eur</a>
            <span class="date">22.&nbsp;december&nbsp;2015</span>
          </li>
        </ul>
        <hr>

        <h2 id="isv">Informačný systém výstavby (ISV)</h2>
        <ul class="news">
          <li>
            <span class="date">3. február 2016</span> &mdash; Dostali sme vyjadrenie Ministerstva dopravy, že štúdiu nie je možné zverejniť z&nbsp;bezpečnostných dôvodov. Požiadali sme Ministerstvo dopravy SR o stretnutie.
          </li>
          <li>
            <span class="date">11. február 2016</span> &mdash; Potvrdili sme si stretnutie so zástupcami MD na štvrtok 18. februára 2016.
          </li>
          <li>
            <span class="date">18. február 2016</span> &mdash; Stretnutie so zástupcami Ministerstva dopravy, ktorí pripravili analytickú dokumentáciu k projektu. Bolo možné do nej nahliadnuť, ale vzhľadom na podmienky zmluvy spracovateľa dokumentácie (KPMG), sa požadovalo podpísanie dohody o mlčanlivosti. Túto podmienku sme odmietli, považujeme ju za veľmi zlý precedens. Štúdia k projektu sa len pripravuje. Kedže nie sú dostupné podklady a s podpisom NDA nesúhlasíme, nedá sa zhodnotiť efektívnosť projektu.
          </li>
          <li><span class="date">8. marec 2016</span> &mdash; Podávame oficiálnu infožiadosť o sprístupnenie dokumentácie k projektu.</li>
          <li><span class="date">18. marec 2016</span> &mdash; Ministerstvo našu infožiadosť zamietlo. Podávame odvolanie.</li>
          <li><span class="date">8. apríl 2016</span> &mdash; Požiadali sme novú hovorkyňu Ministerstva o stretnutie a pokračovanie diskusie k projektom API a ISV</li>
          <li><span class="date">5. máj 2016</span> &mdash; Vítame <a href="https://www.facebook.com/slovensko.digital/posts/1716391675287164">rozhodnutie ministra dopravy Brecelyho</a>, že vytvorí komisiu na prehodnotenie tohto projektu.</li>
          <li><span class="date">25. október 2016</span> &mdash; Kontaktovali sme vedenie ministerstva so žiadosťou o stretnutie.</li>
          <li><span class="date">aktuálne</span> &mdash; <strong>Čakáme na reakciu a zverejnenie štúdie.</strong></li>
        </ul>
        <h3>Vybrané články v médiách</h3>
        <ul>
          <li>
            <a href="http://www.ta3.com/clanok/1077536/mimovladky-ziadaju-vladu-aby-zastavila-it-tendre-za-stamiliony.html">Mimovládky žiadajú vládu, aby zastavila IT tendre za stámilióny</a>
            <span class="date">3.&nbsp;február&nbsp;2016</span>
          </li>
        </ul>
        <hr>

        <h2 id="edunet">EDUNET</h2>
        <p class="lead">Projekt EDUNET je pokračovaním Infovek-u, ktorý sa týka pripojenia škôl do internetu. Z odborného hľadiska sme názoru, že Ministerstvo školstva nakupuje službu zbytočne centralizovane a nezohľadňuje reálne podmienky na trhu.</p>
        <ul class="news">
          <li>
            <span class="date">3. február 2016</span> &mdash; Ministerstvu školstva sme zaslali list so žiadosťou o zastavenie obstarávania a prehodnotenie projektu.
          </li>
          <li>
            <span class="date">22. február 2016</span> &mdash; Po odvysielaní reportáže TV Markíza (zo dňa 21.2.) vydalo Ministerstvo
            <a href="http://www.minedu.sk/reakcia-na-nepravdive-tvrdenia-tv-markiza/">tlačovú správu</a>, v ktorej obhajuje projekt EDUNET.
          </li>
          <li>
            <span class="date">24. február 2016</span> &mdash; Michal Rybárik z Asociácie lokálnych poskytovateľov internetu k nim
            <a href="http://blog.etrend.sk/michal-rybarik/ako-ministerstvo-ne-vysvetlilo-edunet.html">napísal reakciu</a>, v ktorej viaceré argumenty vyvrátil.
          </li>
          <li>
            <span class="date">1. marec 2016</span> &mdash; Ministerstvo nereagovalo na viaceré výzvy na osobné stretnutie s cieľom otvorenej diskusie o projekte EDUNET. Pôvodný termín na predloženie ponúk (1.3.2016) len deň pred jeho vypršaním Ministerstvo presunulo na 15.3.2016
          </li>
          <li><span class="date">2. marec 2016</span> &mdash; Spolu s Alianciou Fair-Play a zástupcami O2, Orange a ALPI sme na tlačovej konferencii opätovne upozornili na to, že súťaž je nastavená neefektívne a podozrivo zvýhodňujúca dominantného poskytovateľa internetu na Slovensku</li>
          <li>
            <span class="date">15. marec 2016</span> &mdash; Boli otvorené obálky. Súťaže sa nakoniec
            <a href="http://www.etrend.sk/technologie/skolsky-internet-za-80-m-chcu-dodavat-styria-ich-mena-ministerstvo-taji.html">zúčastnili 4 firmy</a>: Telekom, O2 a údajne SWAN a Slovanet. Ministerstvo ako odpoveď na následné dopyty po informáciách opätovne informovalo, že stále prebieha proces vyhodnocovania ponúk.
          </li>
          <li><span class="date">14. september 2016</span> &mdash; Na ministerstvo sme <a href="https://drive.google.com/file/d/0B7xRFSPoK71RWDJ6WFlKOFRlU2M/view">poslali list</a>, v ktorom opätovne upozorňujeme na riziká, navrhujeme stretnutie a ponúkame naše odborné kapacity pri riešení problému.</li>
          <li><span class="date">23. september 2016</span> &mdash; Od februára Ministerstvo školstva ignoruje naše opakované výzvy na stretnutie k projektu internetu pre školy. Aliancia Fair-play a občianske združenie Slovensko.Digital upozorňujú Ministerstvo školstva, že predĺžením zmluvy na pripojenie škôl k internetu s názvom Infovek 2 mohlo prísť k
            <a href="https://drive.google.com/file/d/0B7xRFSPoK71RRll2VnY1bmEwN3M/view">porušeniu zákona</a>.</li>
          <li><span class="date">19. október 2016</span> &mdash; Ministerstvo školstva dlhodobo neodpovedá na naše výzvy na stretnutie. Spustili sme
            <a href="https://edunet.slovensko.digital/">počítadlo</a>, ktoré meria dĺžku času, počas ktorej toto ministerstvo ignoruje naše výzvy.</li>
          <li><span class="date">aktuálne</span> &mdash; <strong>Čakáme na odpoveď a zverejnenie dokumentov.</strong></li>
        </ul>

        <h3>Vybrané články v médiách</h3>
        <ul>
          <li>
            <a href="http://blog.etrend.sk/michal-rybarik/edunet-v-skolstve-je-penazi-na-rozhadzovanie-dost.html">EDUNET: V školstve je peňazí na rozhadzovanie dosť</a>
            <span class="date">27.&nbsp;január&nbsp;2016</span>
          </li>
          <li>
            <a href="http://www.ta3.com/clanok/1077536/mimovladky-ziadaju-vladu-aby-zastavila-it-tendre-za-stamiliony.html">Mimovládky žiadajú vládu, aby zastavila IT tendre za stámilióny</a>
            <span class="date">3.&nbsp;február&nbsp;2016</span>
          </li>
        </ul>
        <hr>

        <h2 id="bigbrother">Systém pre kontrolu dodržiavania pravidiel cestnej premávky</h2>
        <p class="lead">Obstarávanie na systém automatizovaných pokút, ktorý má byť financovaný aj z eurofondov, no ešte nemá schválenú štúdiu. Veľmi neštandardná je aj suma 140 miliónov eur a dĺžka trvania 16 rokov s opciou na ďalších 5.</p>
        <ul class="news">
          <li>
            <span class="date">4. február 2016</span> &mdash; Stretnutie so zástupcami Ministerstva vnútra, na ktorom sme si prešli argumenty za každú stranu. Zhodli sme sa na tom, že potrebujeme lepší proces tvorby Štúdii pre IT projekty. Nedospeli sme však k dohode ohľadom zverejnenia štúdie pre tento konkrétny systém, kým nebude schválená na Ministerstve financií.
          </li>
          <li>
            <span class="date">4. február 2016</span> &mdash; Poslali sme žiadosť o informácie na Ministerstvo financií, ktoré by malo mať pracovnú verziu štúdie k projektu na schvaľovaní.
          </li>
          <li>
            <span class="date">11. februára 2016</span> &mdash; 11.2.2016 navrhli sme Ministerstvu vnútra verejnú prezentáciu východísk projektu.
          </li>
          <li>
            <span class="date">19. februára 2016</span> &mdash; Ministerstvo vnútra vo svojej odpovedi uviedlo, že súťažné podklady si prevzalo 44 subjektov, verejnú prezentáciu odmietlo z dôvodu prebiehajúceho verejného obstarávania a snahy o nediskrimináciu uchádzačov. Rovnakú odpoveď sme dostali na našu infožiadosť. Proti tomuto odôvodneniu sme podali odvolanie. Nezverejnenie podkladov k projektu podľa nás nemá opooru v zákone o verejnom obstarávaní a je v rozpore so zákonom o slobodnom prístupe k informáciám.
          </li>
          <li>
            <span class="date">29. februára 2016</span> &mdash; Dostali sme odpoveď Ministerstva financií na našu infožiadosť o sprístupnenie štúdie uskutočniteľnosti k projektu. Podľa odpovede ju ministerstvo vnútra predložilo na pripomienkovanie 8.2.2016 a hneď 11.2.2016 požiadalo o jej stiahnutie. Ku dňu 26.2.2016 tak ministerstvo financií podľa vlastného vyjadrenia neeviduje žiadnu štúdiu k projektu predloženú na pripomienkovanie.
          </li>
          <li>
            <span class="date">29. marec 2016</span> &mdash; <strong>Nová vláda sa rozhodla <a href="https://www.uvo.gov.sk/vestnik/oznamenie/detail/332418">obstarávanie
            zrušiť</a> a projekt pre tento moment zastaviť.</strong> Naďalej sa však dožadujeme pôvodnej dokumentácie cez ďalšie odvolanie.
          </li>
          <li><span class="date">aktuálne</span> &mdash; <strong>Už niekoľkokrát sme podali odvolanie voči nesprístupneniu štúdie k projektu a čakáme na jeho vyriešenie.</strong></li>
        </ul>

        <h3>Vybrané články v médiách</h3>
        <ul>
          <li>
            <a href="http://www.ta3.com/clanok/1077536/mimovladky-ziadaju-vladu-aby-zastavila-it-tendre-za-stamiliony.html">Mimovládky žiadajú vládu, aby zastavila IT tendre za stámilióny</a>
            <span class="date">3.&nbsp;február&nbsp;2016</span>
          </li>
        </ul>
        <hr>

        <h2 id="rada-vlady">Rada vlády pre digitalizáciu verejnej správy</h2>
        <p class="lead">Vďaka IT Asociácii Slovenska sme získali v rade vlády jedného zástupcu.</p>
        <ul class="news">
          <li>
            <span class="date">15. december 2015</span> &mdash; Dostávame ponuku na jedno miesto v rade vlády pre digitalizáciu verejnej správy od IT Asociácie Slovenska. Berieme.
          </li>
          <li>
            <span class="date">22. december 2015</span> &mdash; Prvé stretnutie rady, kde otvárame tému pripomienkovania zámerov projektov pred schválením a požadujeme nerobiť obstarávania na projekty, kde nie je zámer schválený.
          </li>
          <li>
            <span class="date">4. januára 2016</span> &mdash; Druhé stretnutie rady. Predkladáme náš návrh na verejné pripomienkovanie zámerov projektov pred schválením.
          </li>
          <li><span class="date">30. marec 2016</span> &mdash; Spolu so Slovenskou alianciou pre internetov&uacute; ekonomiku a Spoločnosťou pre otvoren&eacute; informačn&eacute; technol&oacute;gie sme ako občianske iniciat&iacute;vy v oblasti IT <a href="https://www.facebook.com/slovensko.digital/posts/1701654230094242">predložili n&aacute;vrhy pre nov&uacute; vl&aacute;du</a>, ktor&eacute; by sa podľa n&aacute;s mali dostať do jej programov&eacute;ho vyhl&aacute;senia.</li>
          <li><span class="date">7. apr&iacute;l 2016</span> &mdash; <a href="https://www.facebook.com/slovensko.digital/posts/1705088546417477">Rokovanie o reforme informatiz&aacute;cie</a> so z&aacute;stupcami vl&aacute;dy.</li>
          <li><span class="date">14. apr&iacute;l 2016</span> &mdash; Z programu novej vl&aacute;dy m&aacute;me <a href="https://www.facebook.com/slovensko.digital/posts/1707907822802216">zmie&scaron;an&eacute; pocity</a>.</li>
          <li><span class="date">19. m&aacute;j 2016</span> &mdash; 2,200 z v&aacute;s vo febru&aacute;ri podp&iacute;salo na&scaron;u pripomienku ku koncepcii informatiz&aacute;cie. Minul&yacute; t&yacute;ždeň sme sa v tejto veci prv&yacute;kr&aacute;t stretli so z&aacute;stupcami ministerstva financi&iacute;, aby sme vysvetlili z&aacute;ujmy odbornej verejnosti. <a href="https://www.facebook.com/slovensko.digital/photos/a.1659409590985373.1073741828.1659408844318781/1721686391424359/?type=3">Dnes sa stret&aacute;vame op&auml;ť</a>, ministerstvu sme medzičasom zaslali konkr&eacute;tne formul&aacute;cie, tak aby sa dali jednoducho zahrn&uacute;ť do tohto d&ocirc;ležit&eacute;ho dokumentu. Chceme z&aacute;roveň nastaviť nov&yacute; &scaron;tandard pre otvoren&uacute; spolupr&aacute;cu a preto priebeh rokovan&iacute;, pripomienky, na&scaron;u argument&aacute;ciu ako aj reakcie na ňu zverejn&iacute;me.</li>
          <li><span class="date">3. j&uacute;n 2016</span> &mdash; V posledn&yacute;ch t&yacute;ždňoch sme rokovali s Ministerstvom financi&iacute; SR k hromadnej pripomienke k N&aacute;rodnej koncepcii informatiz&aacute;cie verejnej spr&aacute;vy. Tento dokument urč&iacute;, ako sa bude čerpať ďal&scaron;ia miliarda na &scaron;t&aacute;tne IT a pripomienku vo febru&aacute;ri podporilo viac ako 2200 občanov. o 3 kol&aacute;ch rokovan&iacute; s predo&scaron;l&yacute;m veden&iacute;m informatiz&aacute;cie sme v&scaron;ak nedosiahli dohodu na zapracovan&iacute; viacer&yacute;ch z&aacute;sadn&yacute;ch pripomienok. Včera sme sa preto stretli so z&aacute;stupcami nov&eacute;ho &uacute;radu p. Pellegriniho a <a href="https://www.facebook.com/slovensko.digital/posts/1727983567461308">dostali sme potvrdenie, že nov&eacute; vedenie dokument e&scaron;te dopracuje </a>aj za na&scaron;ej &uacute;časti.</li>
          <li><span class="date">2. september 2016</span> &mdash; NKIVS je dnes v&yacute;razne lep&scaron;ia ako p&ocirc;vodn&yacute; z&aacute;mer a zohľadňuje v&auml;č&scaron;inu na&scaron;ich spoločn&yacute;ch pripomienok. Včera bola navy&scaron;e spr&iacute;stupnen&aacute; na verejn&uacute; konzult&aacute;ciu, aby nevznikal pocit, že sa tak&eacute;to d&ocirc;ležit&eacute; dokumenty tvoria za zatvoren&yacute;mi dverami. Op&auml;ť je čas pre odborn&uacute; verejnosť <a href="https://www.facebook.com/slovensko.digital/posts/1768713446721653">vyjadriť svoj n&aacute;zor</a> na v&yacute;sledok doteraj&scaron;ej pr&aacute;ce.</li>
          <li><span class="date">7. september 2016</span> &mdash; Vďaka dlhodobej spolupr&aacute;ci s &Uacute;radom splnomocnenca vl&aacute;dy SR pre rozvoj občianskej spoločnosti sme pod hlavičkou nov&eacute;ho akčn&eacute;ho pl&aacute;nu pre otvoren&eacute; vl&aacute;dnutie <a href="https://www.facebook.com/slovensko.digital/posts/1770839879842343">pripravili tak&eacute; &uacute;lohy</a>, ktor&eacute; n&aacute;m pom&ocirc;žu smerom k v&auml;č&scaron;ej otvorenosti &scaron;t&aacute;tneho IT.</li>
          <li><span class="date">28. september 2016</span> &mdash; Nov&aacute; koncepcia pre &scaron;t&aacute;tne IT bola <a href="https://drive.google.com/file/d/0B7xRFSPoK71RZ002dFdndnRzRnM/view">schv&aacute;len&aacute; vl&aacute;dou SR</a>.</li>
          <li><span class="date">4. okt&oacute;ber 2016</span> &mdash; Pripravili sme <a href="https://dennikn.sk/blog/co-slubuje-novy-plan-informatizacie/">zjednodu&scaron;en&yacute; sum&aacute;r hlavn&yacute;ch zmien</a>, ktor&eacute; prin&aacute;&scaron;a nov&aacute; N&aacute;rodn&aacute; koncepcia informatiz&aacute;cie verejnej spr&aacute;vy, ktor&uacute; minul&yacute; t&yacute;ždeň prijala vl&aacute;da.</li>
        </ul>
        <hr>

        <h2 id="ifp">Spolupráca s inštitútom pre finančnú politiku</h2>
        <p class="lead">S Inštitútom pre Finančnú Politiku (IFP) pracujeme na lepších metodikách ekonomického hodnotenia projektov a zároveň na plošnej revízií výdavkov na štátne IT.</p>
        <ul class="news">
          <li>
            <span class="date">8. január 2016</span> &mdash; Uvodné stretnutie, na ktorom sme IFP odprezentovali náš pohľad na to, čo by sa v informatizácii dalo robiť lepšie.
          </li>
          <li>
            <span class="date">14. január 2016</span> &mdash; Na druhom stretnutí sme si dohodli rozsah spolupráce. Zlepšenie metodiky hodnotenia nákladov a prínosov štátnych IT projektov. Zapojenie IFP do procesu hodnotenia projektu ePP. Spolupráca pri plošnom zhodnotení výdavkov na štátne IT.
          </li>
          <li>
            <span class="date">19. január 2016</span> &mdash; Vymenili sme si príklady dobrej praxe pre IT Business Case zo zahraničia a aktuálne používané metodiky pre hodnotenie eurofondových IT projektov.
          </li>
          <li>
            <span class="date">25. január 2016</span> &mdash; Spoločne sme sa zúčastnili stretnutia na ministerstva vnútra k projektu elektronických preukazov poistenca (ePP).
          </li>
          <li><span class="date">25. február 2016</span> &mdash; Na stretnutí s IFP prešli prvé výsledky hodnotenia výdavkov na štátne IT. Zároveň sme diskutovali návrh indikátorov, ktoré je podľa nás vhodné sledovať pre investičné a prevádzkové výdavky v tejto oblasti.</li>
          <li><span class="date">20. apríl 2016</span> &mdash; Stretli sme sa so zástupcami IFP k rozsahu ich analýzy v oblasti ifnromatizácie. Meranie hodnoty za peniaze v informatizácii sa dostalo aj do vládneho programu a spolu s IFP by sme radi priniesli prvé výsledky do konca júna 2016. Prioritou je zmena metodiky CBA v programe OPII, zavedenie pravidiel pre hodnotenie VfM v investičných a prevádzkových výdavkoch a zavedenie indikátorov informatizácie.</li>
          <li><span class="date">2. j&uacute;n 2016</span> &mdash; Spolu s IFP sme <a href="https://www.facebook.com/slovensko.digital/posts/1727607994165532">absolvovali workshop</a> k hodnoteniu Value for Money v IT aj za &uacute;časti expertov z International Monetary Fund a European Commission. Efekt&iacute;vnosť čerpania ďal&scaron;ej miliardy na informatiz&aacute;ciu veľmi z&aacute;vis&iacute; aj od tejto iniciat&iacute;vy.</li>
          <li><span class="date">26. j&uacute;l 2016</span> &mdash; <a href="https://www.facebook.com/slovensko.digital/posts/1751481128444885">IFP zverejnil </a>prv&uacute; spr&aacute;vu o hodnote za peniaze v informatiz&aacute;cii. Sme veľmi radi, že aj my sme konzult&aacute;ciami a n&aacute;vrhmi prispeli k vzniku tohto d&ocirc;ležit&eacute;ho dokumentu</li>
          <li><span class="date">4. august 2016</span> &mdash; Matej Kurian z <a href="https://www.facebook.com/ifp.mfsr/">IFP </a><a href="https://www.facebook.com/slovensko.digital/posts/1755089098084088">vysvetľuje</a> ned&aacute;vno zverejnen&uacute; spr&aacute;vu o hodnote za peniaze v &scaron;t&aacute;tnom IT. Na&scaron;a spolupr&aacute;ca prin&aacute;&scaron;a konkr&eacute;tne v&yacute;sledky.</li>
          <li><span class="date">6. okt&oacute;ber 2016</span> &mdash; <a href="https://www.facebook.com/slovensko.digital/posts/1784537331805931">IFP zverejnil </a>fin&aacute;lnu spr&aacute;vu merania hodnoty za peniaze v informatiz&aacute;cii. Na spr&aacute;ve spolupracovalo aj <a href="https://www.facebook.com/slovensko.digital/">Slovensko.Digital</a></li>
          <li><strong>aktu&aacute;lne</span> &mdash; Pracujeme na &uacute;prav&aacute;ch metodiky Cost-Benefit anal&yacute;zy.</strong></li>
        </ul>
        <hr>

        <h2 id="komunita">Komunita</h2>
        <p class="lead">Budujeme širšiu IT komunitu, ktorá by dokázala odborne pomáhať a konfrontovať projekty verejnej správy.</p>
        <ul class="news">
          <li>
            <span class="date">14. január 2016</span> &mdash; Konalo sa prvé stretnutie komunity Slovensko.Digital. Prišlo vyše 170 ľudí a&nbsp;<a href="https://platforma.slovensko.digital/t/ako-dopadlo-stretnutie-komunity-slovensko-digital/1294" title="Odkaz na diskusiu na platforme">prezentovali sme ďalšie plány</a>.
          </li>
          <li><span class="date">20. január 2016</span> &mdash; Hľadáme ľudí do
            <a href="https://platforma.slovensko.digital/t/pracovne-skupiny/1293" title="Odkaz na diskusiu na platforme">neformálnych pracovných skupín</a>.
          </li>
          <li>
            <span class="date">17&ndash;19. február 2016</span> &mdash;
            Podávame
            <a href="https://www.facebook.com/slovensko.digital/photos/a.1659409590985373.1073741828.1659408844318781/1684147395178259/?type=1&theater">hromadnú pripomienku k národnej koncepcii informatizácie verejnej správy</a> s pripomienkami od komunity.
          </li>
          <li>
            <span class="date">1. marec 2016</span> &mdash;
            Zverejňujeme
            <a href="https://www.facebook.com/slovensko.digital/photos/a.1659409590985373.1073741828.1659408844318781/1688812521378413/?type=3&theater">zoznam opatrení pre lepšie štátne IT</a> vypracovaný v spolupráci s komunitou.
            <a class="comments" href="https://platforma.slovensko.digital/t/opatrenia-slovensko-digital-pre-zlepsenie-informatizacie-a-nakupu-ikt/1653"><i class="fa fa-comments-o"></i></a>
          </li>
          <li><span class="date">6. apr&iacute;l 2016</span> &mdash; Spoločne so SME, Nad&aacute;cia otvorenej spoločnosti, Frontline Club, Nad&aacute;cia Zastavme korupciu a FIIT STU <a href="https://www.facebook.com/slovensko.digital/posts/1704860519773613">organizujeme hackathon</a>, kde sa m&ocirc;žete zapojiť do tvorby aplik&aacute;ci&iacute; využ&iacute;vaj&uacute;cich (nielen) otvoren&eacute; d&aacute;ta.</li>
          <li><span class="date">15. apr&iacute;l 2016</span> &mdash; Zač&iacute;name ako <a href="https://www.facebook.com/slovensko.digital/posts/1709880679271597">občianske združenie</a>!</li>
          <li><span class="date">18. apr&iacute;l 2016</span> &mdash; Spolu so SME Data organizujeme <a href="https://www.facebook.com/slovensko.digital/posts/1709518125974519">DataHack</a>.</li>
          <li><span class="date">20. apr&iacute;l 2016</span> &mdash; Na <a href="https://www.facebook.com/slovensko.digital/posts/1710215319238133">ofici&aacute;lnom stretnut&iacute;</a> občianskeho združenia Slovensko.Digital sme predstavili na&scaron;e pl&aacute;ny na rok 2016 a zaspom&iacute;nali na to, čo sa za pol roka už podarilo. &nbsp;</li>
          <li><span class="date">1. m&aacute;j 2016</span> &mdash; <a href="https://www.facebook.com/slovensko.digital/photos/a.1659409590985373.1073741828.1659408844318781/1714791368780528/?type=3&amp;theater">Pol roka</a> Slovensko.Digital!</li>
          <li><span class="date">14. j&uacute;n 2016</span> &mdash; <a href="https://www.facebook.com/events/250406171985605/">2. stretnutie</a> komunity Slovensko.Digital v Ko&scaron;iciach.</li>
          <li><span class="date">7. j&uacute;l 2016</span> &mdash; Program&aacute;torsk&aacute; komunita ož&iacute;va aj v Žiline a nem&ocirc;že ch&yacute;bať ani <a href="https://www.facebook.com/slovensko.digital/">Slovensko.Digital</a>. Na prvom <a href="https://www.facebook.com/slovensko.digital/posts/1742834672642864">stretnut&iacute; Web UP</a> bude o na&scaron;ich &uacute;spechoch a pl&aacute;noch rozpr&aacute;vať <a href="https://www.facebook.com/jan.suchal">Jano Suchal</a>.</li>
          <li><span class="date">24. august 2016</span> &mdash; <a href="https://www.facebook.com/slovensko.digital/posts/1764488953810769">Jano Suchal rozpr&aacute;val vo WebSupport.sk</a>, kde v&scaron;ade sa d&aacute; do &scaron;t&aacute;tneho IT zapojiť, aj keď ste nevyhrali obriu z&aacute;kazku. Dozviete sa, čo a kde hľadať, pr&iacute;padne ako si vedieť vyp&yacute;tať ďal&scaron;ie inform&aacute;cie.</li>
          <li><span class="date">21. september 2016</span> &mdash; <a href="https://www.facebook.com/slovensko.digital/posts/1777745802485084">Ohodnoťte</a> pr&aacute;cu Slovensko.Digital.</li>
          <li><span class="date">5. okt&oacute;ber 2016</span> &mdash; Prekročili sme hranicu <a href="https://www.facebook.com/slovensko.digital/photos/a.1659409590985373.1073741828.1659408844318781/1784354671824197/?type=3&amp;theater">10000 eur od individu&aacute;lnych darcov,</a> ktor&eacute; ste n&aacute;m poslali za p&auml;ť mesiacov. Ďakujeme!</li>
          <li><span class="date">18. okt&oacute;ber 2016</span> &mdash; Vo <a href="https://www.facebook.com/events/152974018497400/">&scaron;tvrtok 3.11.</a> osl&aacute;vime prv&eacute; narodeniny Slovensko.Digital. Bez komunity akt&iacute;vnych ľud&iacute; by sme nedok&aacute;zali fungovať a nedosiahli v&yacute;sledky, ktor&eacute; sa n&aacute;m spoločne podarili dosiahnuť.</li>
          <li><strong><span class="date">aktu&aacute;lne</span> &mdash; Spracov&aacute;vame podnety z platformy a pripravujeme ďal&scaron;ie &uacute;lohy pre pracovn&eacute; skupiny.</strong></li>
        </ul>
        <h3>Vybrané články v médiách</h3>
        <ul>
          <li>
            <a href="http://www.tyzden.sk/spolocnost/29215/tito-it-ckari-su-specialni/">Títo IT-čkári sú špeciálni</a>
            <span class="date">15.&nbsp;január&nbsp;2016</span>
          </li>
        </ul>
        <hr>

        <h2 id="komunita">Ekosystém Slovensko.Digital</h2>
        <p class="lead">Ukazujeme ako sa dajú zverejňovať dáta a služby lepšie.</p>
        <ul class="news">
          <ul>
            <li><span class="date">18. august</span> &mdash; spustenie <a href="https://ekosystem.slovensko.digital/">ekosyst&eacute;mu. </a></li>
            <li><span class="date">20. august 2016</span> &mdash; Jano Suchal rozpr&aacute;va na <a href="https://www.facebook.com/slovensko.digital/posts/1762738373985827">Rubyslava #60</a> o tom, ako funguje ekosyst&eacute;m Slovensko.Digital a čo pl&aacute;nujeme ďalej.</li>
            <li><strong><span class="date">aktu&aacute;lne</span> &mdash; 120+ requestov na d&aacute;ta a API z ekosyst&eacute;mu. D&aacute;ta z neho použ&iacute;va napr&iacute;klad IFP, vďaka ekosyst&eacute;mu vznikli služby verejne.digital.</strong></li>
          </ul>
        </ul>
        <h3>Vybrané články v médiách</h3>
        <ul>
          <li>
            <a href="https://dennikn.sk/blog/ako-v-statnom-it-predbehnut-estoncov/">Ako v štátnom IT predbehnúť Estóncov</a>
            <span class="date">18.&nbsp;august&nbsp;2016</span>
          </li>
        </ul>
        <hr>

        <h2 id="komunita">Elektronické služby sociálnej poistovňe</h2>
        <p class="lead">Sociálna poisťovňa obstaráva obriu zákazku za 70 miliónov eur, bez kvalitnej prípravy a veľkými otáznikmi.</p>
        <ul class="news">
          <li><span class="date">17. m&aacute;j 2016</span> - Koncom marca 2016 bolo vyhodnoten&eacute; verejn&eacute; obstar&aacute;vanie projektu <a href="https://platforma.slovensko.digital/t/elektronicke-sluzby-socialnej-poistovne/2003?u=michal_haman">elektronick&yacute;ch služieb Soci&aacute;lnej poisťovne</a> za približne 70m EUR.</li>
            <li><span class="date">7. j&uacute;n 2016</span> - <a href="https://platforma.slovensko.digital/t/elektronicke-sluzby-socialnej-poistovne/2003/8?u=michal_haman">Stretli sme sa</a> so z&aacute;stupcami Soci&aacute;lnej poisťovne</li>
            <li><span class="date">10. j&uacute;n 2016</span> - Zistenia zo stretnutia s&uacute; <a href="https://platforma.slovensko.digital/t/elektronicke-sluzby-socialnej-poistovne/2003/13?u=michal_haman">nasledovn&eacute;</a>.</li>
            <li><span class="date">20. j&uacute;n 2016</span> - Podali sme <a href="https://platforma.slovensko.digital/t/elektronicke-sluzby-socialnej-poistovne/2003/17?u=michal_haman">infožiadosť</a>, aby sme z&iacute;skali ďal&scaron;ie inform&aacute;cie o projekte</li>
            <li><span class="date">13. j&uacute;l 2016</span> - Pri&scaron;la <a href="https://platforma.slovensko.digital/t/elektronicke-sluzby-socialnej-poistovne/2003/18?u=michal_haman">odpoveď </a>na podan&uacute; infožiadosť.</li>
            <li><span class="date">26. j&uacute;l 2016</span> - Z podkladov projektu vych&aacute;dza, že viacero vec&iacute; na projekte <a href="https://www.facebook.com/slovensko.digital/posts/1751233248469673">nie je v poriadku</a></li>
            <li><span class="date">3. august 2016</span> - Na&scaron;e v&yacute;hrady <a href="https://platforma.slovensko.digital/t/elektronicke-sluzby-socialnej-poistovne/2003/26?u=michal_haman">sme dnes sp&iacute;sali a oslovili sme</a> MPSVaR a SP so žiadosťou o stretnutie.</li>
            <li><span class="date">19. august 2016</span> - Stretli sme sa so z&aacute;stupcami MPSVaR, SP a &Uacute;adu podpredsedu vl&aacute;dy pre invest&iacute;cie a prediskutovali sme <a href="https://platforma.slovensko.digital/t/elektronicke-sluzby-socialnej-poistovne/2003/29">na&scaron;e v&yacute;hrady</a>.</li>
          <li><strong></strong><span class="date">aktu&aacute;lne</span> - Soci&aacute;lna poisťovňa pripravuje &scaron;t&uacute;diu k projektu a čak&aacute;me na jej zverejnenie</li>

        </ul>
        <h3>Vybrané články v médiách</h3>
        <ul>
          <li>
            <a href="https://dennikn.sk/463857/munko-kupuje-socialnu-poistovnu-nove-it-za-70-milionov-pellegrini-sa-ho-pyta-ci-mu-zamer-schvalil-kalinak/">Muňko kupuje pre Sociálnu poisťovňu IT za 70 miliónov, Pellegrini sa pýta, či to schválil Kaliňák</a>
            <span class="date">20.&nbsp;mája&nbsp;2016</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
