<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Ako nám <strong>venovať 2%</strong> z dane</h1>
      </div>
    </div>
  </div>
</div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled" style="position: static">
          <li><a href="/podpora">Podporte finančne</a></li>
          <li><a href="/venujte-svoj-cas">Venujte svoj čas</a></li>
          <li><a href="/clenstvo">Členstvo</a></li>
          <li class="sidebar-menu-item-active">2% z dane</li>
        </ul>
      </div>
      <div class="col-md-9">
        <h1 class="content-heading text-center">2% z dane</h1>
        <p class="lead">
          Čo by ste spravili za miliardu eur? Toto sme sa vás už raz pýtali, pamätáte? Od vtedy sme spolu s Alianciou Fair-play zastavili nezmyselné IT projekty za viac ako štvrť miliardy eur.
        </p>
        <p>
          <em>Sme Slovensko.Digital a už 2 roky vytrvalo bojujeme aj za teba, aby nám štátne digitálne služby uľahčovali život a boli  za normálne ceny. Pridávajú sa k nám ďalší a prosíme aj o tvoju podporu.</em>
        </p>

        <h3><strong>Údaje pre darovanie 2% pre Slovensko.Digital:</strong></h3>
        <p>
          <strong>Názov:</strong> Slovensko.Digital<br/>
          <strong>Adresa:</strong> Staré Grunty 12, 84104 Bratislava<br/>
          <strong>IČO:</strong> 50158635<br/>
          <strong>Právna forma:</strong> Občianske združenie<br/>
          <strong>IBAN číslo účtu:</strong> SK0509000000005108658755<br />
          <strong>Kód banky:</strong> 0900 (Slovenská sporiteľňa , a.s.)
        </p>

        <h3><strong>Užitočné informácie pre darcov 2% z dane</strong></h3>

        <div class="panel-group" id="two-percent" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Ak ste zamestnanec
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <p>
                  Svoje 2 % môžete venovať len vtedy, ak bola vaša daň za celý rok 2017 vyššia ako 150 € (podiel Vašich 2 % teda musí byť minimálne 3 €). Zamestnávateľ vám túto sumu určite rád prezradí.
                </p>
                <ol>
                  <li>Najprv vám zamestnávateľ musí pripraviť ročné zúčtovanie zaplatených preddavkov na daň. Požiadajte ho oň najlepšie do 15. 2. 2018.</li>
                  <li>Požiadajte zamestnávateľa o vyplnenie <a href="https://drive.google.com/file/d/1F_tSVZ5fPqPy7zB1ZPksV33qmyqguSc7/view?usp=sharing">potvrdenia o zaplatení dane</a>.</li>
                  <li>Potom vyplňte toto <a href="https://drive.google.com/file/d/1brSI9NoOPnGbof6KivSkkdWTlv3pfS_p/view?usp=sharing">Vyhlásenie o poukázaní 2 %</a>.</li>
                  <li>Najneskôr do 30. apríla 2018 doručte obidve tlačivá (z bodu 2. a 3.) daňovému úradu. V prípade poslania tlačív poštou platí dátum z pečiatky na obálke.</li>
                </ol>
                <br />
                <p>
                  <strong>Ak ste v roku 2017 odpracovali dobrovoľnícky minimálne 40 hodín, môžete poukázať až 3 % z odvedených daní.</strong> Musíte však od organizácie/prijímateľa dobrovoľníckej činnosti, pre ktorú/ktorého ste v roku 2017 dobrovoľnícky pracovali, získať potvrdenie o odpracovaní minimálne 40 hodín dobrovoľníckej činnosti. Potvrdenie priložte k Potvrdeniu o zaplatení dane a k Vyhláseniu o poukázaní 2 % (3 %). Minimálne 40 hodín nemusíte odpracovať iba v prospech 1 organizácie, či jednotlivca – celkový počet môžete „vyskladať“ aj z práce pre viaceré organizácie.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Ak ste fyzická osoba a podávate si priznanie sami
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p>Svoje 2 % môžete venovať len vtedy, ak bola vaša daň za celý rok 2017 vyššia ako 150 € (podiel Vašich 2 % teda musí byť minimálne 3 €).</p>
                <ol>
                  <li>Stiahnite si tlačivo na <a href="https://drive.google.com/file/d/1SBMr9bxSOhI1PSl5scQEnC7mdOzx_mM-/view?usp=sharing">daňové priznanie typu A (príjmy zo zamestnania a dohôd)</a> alebo <a href="https://drive.google.com/file/d/18OgphC-0H2avQ5sp4edi7dcKu0ROUygX/view?usp=sharing">tlačivo typu B (živnostníci)</a>. Súčasťou tlačiva je aj oddiel Vyhlásenie o poukázaní 2 %. Pri tlačive typu A je to oddiel VIII. na strane 5, pri tlačive typu B je to oddiel XII. na strane 11. Vyplňte do tohto oddielu tieto údaje:</li>
                  <li>Do 31. marca 2018 (prípadne do dátumu odloženého daňového priznania) doručte tlačivo <a href="https://www.financnasprava.sk/sk/elektronicke-sluzby/verejne-sluzby/zistenie-miestnej-prislusnost">daňovému úradu</a> a uhraďte daň. V prípade poslania tlačív poštou platí dátum z pečiatky na obálke.</li>
                </ol>

                <p>
                  <strong>Ak ste v roku 2017 odpracovali dobrovoľnícky minimálne 40 hodín, môžete poukázať až 3 % z odvedených daní.</strong> Musíte však od organizácie/prijímateľa dobrovoľníckej činnosti, pre ktorú/ktorého ste v roku 2017 dobrovoľnícky pracovali, získať potvrdenie o odpracovaní minimálne 40 hodín dobrovoľníckej činnosti. Potvrdenie priložte k Potvrdeniu o zaplatení dane a k Vyhláseniu o poukázaní 2 % (3 %). Minimálne 40 hodín nemusíte odpracovať iba v prospech 1 organizácie, či jednotlivca – celkový počet môžete „vyskladať“ aj z práce pre viaceré organizácie.</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Ak ste právnická osoba
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>Svoje 2 % (prípadne 1 %) z dane môžete venovať, ak bola vaša daň za celý rok 2017 vyššia ako 400 € (800 €). Podiel Vašich 2 % (prípadne 1 %) teda musí byť minimálne 8 €.</p>
                <ol>
                  <li>Stiahnite si tlačivo na <a href="https://drive.google.com/file/d/182VoklpikLeJx8QT1eHNWvnJ5zPYaFEK/view">daňové priznanie pre právnickú osobu</a>. Súčasťou tlačiva je aj VI. časť – Vyhlásenie o poukázaní podielu zaplatenej dane.</li>
                  <ul>
                    <li>Ak ste v roku 2017 ako právnická osoba až do termínu na podanie daňového priznania v roku 2018 (zvyčajne do 31. 3. 2018) nedarovali financie vo výške minimálne 0,5 % z dane na verejnoprospešný účel (akejkoľvek organizácii), tak môžete poukázať iba 1 % z dane – v daňovom priznaní vyplníte v časti VI. kolónky 1, 3 a 4.</li>
                    <li>Ak ste v roku 2017 ako právnická osoba až do termínu na podanie daňového priznania v roku 2017 (zvyčajne do 31.3.2018) darovali financie vo výške minimálne 0,5 % z dane na verejnoprospešný účel (akejkoľvek organizácii), tak môžete poukázať 2 % z dane – v daňovom priznaní vyplníte v časti VI. kolónky 1, 2 a 4.</li>
                  </ul>
                  <li>Do 31. marca 2017 (prípadne do dátumu odloženého daňového priznania) doručte tlačivo <a href="https://www.financnasprava.sk/sk/elektronicke-sluzby/verejne-sluzby/zistenie-miestnej-prislusnost">daňovému úradu</a> a uhraďte daň.</li>
                </ol>
                <p>Ako právnická osoba môžete poukázať 1 % (2 %) aj viacerým prijímateľom. Platí však, že minimálna výška v prospech jedného prijímateľa je 8 €.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="minifooter">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>