/* ==========================================================================
slovensko.digital custom styles
========================================================================== */

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.875em;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

h1 {
    font-size: 2.25em;
    font-weight: 600;
}

h2 {
    font-size: 1.85em;
    line-height: 1.3em;
    font-weight: 800;
}
h3 {
    font-size: 1.25em;
    line-height: 1.575em;
    font-weight: 100;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 30px;
}
p {
    margin: 0 0 30px;
    font-weight: 100;
}
a {
    color: inherit;
}
a:hover, a:focus {
    color: inherit;
}

.form-headline {
    font-weight: 600;
    font-size: 0.75em;
    text-transform: uppercase;
    margin-bottom: 0px;
}

ol.big {
    display: block;
    padding: 0 0 0 26px;
    list-style: none;
    overflow: hidden;
    counter-reset: numList;
}
ol.big li {
    float: left;
    position: relative;
    padding-left: 44px;
    padding-bottom: 12px;
    line-height: 3em;
}
ol.big li:before {
    counter-increment: numList;
    content: counter(numList);
    float: left;
    position: absolute;
    left: -26px;
    font-size: 1em;
    text-align: center;
    color: #000000;
    line-height: 3em;
    width: 50px;
    height: 50px;
    background: #ffffff;
    -moz-border-radius: 999px;
    border-radius: 999px;
    border: 2px solid #2a61d4;
}
ol.big li p {
    margin-bottom: 0;
}

.rules ol ol {
    list-style-type: lower-alpha;
}

.rules h2 {
    font-weight: normal;
    font-size: 1.5em;
    margin: 2em 0 1em 0;
}

.rules h3 {
    margin: 2em 0 1em 0;
}

.news-section .news {
    margin: 4em 0;
}

.news-section .news li {
    margin: 2em 0;
}

.news {
    padding: 0;
    margin: 2em 0;
    list-style: none;
}

.news li {
    margin: 1em 0;
}

.date {
    color: #adadad;
}

.main-content a.btn {
    text-decoration: none;
}

/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (min-width: 778px) {
    .navbar .navbar-last {
        border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
}

@media (max-width: 779px) {
    .navbar .navbar-last {
        margin-top: 10px;
    }
}

.navbar li img {
    height: 1.5em;
    margin: -0.25em 0;
}

.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
    color: #ffffff;
}
.navbar-nav .btn {
    padding: 7px 15px;
    margin-top: 13px;
    font-size: 1em;
}
.navbar-brand {
    height: 60px;
    padding: 20px 15px;
}
.navbar-brand img {
    height: 22px;
}
.nav>li>a {
    margin: 0 15px;
    padding: 10px 0;
}
.nav>li>a.active {
    border-bottom: 1px solid;
    margin-bottom: -1px;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background: none;
    border-bottom: 1px solid;
    margin-bottom: -1px;
}
.nav>li>a.btn-primary:hover, .nav>li>a.btn-primary:focus {
    background: #75b729;
    border-bottom: 0;
}
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.navbar.nav-scrolled {
    background: rgb(50, 37, 195);
    background: rgba(50, 37, 195, 0.85);
}
.navbar-toggle {
    padding: 14px 10px;
}
.navbar-toggle .icon-bar {
    background: #ffffff;
}

.navbar .alert {
    font-size: 14px;
    color: #333;
    background: #f1b039;
    border: none;
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;
}
.navbar .alert .container {
    min-height: 40px;
}
@media (min-width: 992px) {
    .navbar .alert .container {
        background: url('/img/ecosystem-stripe.png') no-repeat right content-box;
    }
}
@media (max-width: 767px) {
    .navbar .alert .container {
        padding: 10px;
    }
}
.navbar .alert .badge {
    display: inline;
    background: #fff;
    color: #333;
    padding: 4px 10px;
    margin-right: 10px;
    text-transform: uppercase;
    vertical-align: -4px;
}
.navbar .alert .text {
    margin-top: 6px;
    margin-right: 10px;
    vertical-align: -5px;
}
.navbar .alert .link-wrapper {
    display: inline-block;
    background: #333;
    border-radius: 5px;
    padding: 0 5px;
    vertical-align: -4px;
    color: white;
}
.navbar .alert a img {
    height: 1em;
}

/* ==========================================================================
    Hero
    ========================================================================== */

.hero {
    padding-top: 9em;
    padding-bottom: 3.5em;
    color: #ffffff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d14c3+0,234ec9+28,4a97f6+100 */
    background: rgb(61, 20, 195);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(61, 20, 195, 1) 0%, rgba(35, 78, 201, 1) 28%, rgba(74, 151, 246, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(61, 20, 195, 1) 0%, rgba(35, 78, 201, 1) 28%, rgba(74, 151, 246, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(61, 20, 195, 1) 0%, rgba(35, 78, 201, 1) 28%, rgba(74, 151, 246, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3d14c3', endColorstr='#4a97f6', GradientType=1);
    /* IE6-9 */
}

.hero strong {
    color: #f15555;
}

.hero-sm {
    padding: 101px 0 0 0;
}

/* ==========================================================================
   Global classes
   ========================================================================== */

.section {
    padding-top: 5em;
}
.single .main-content {
    background: #fafafa;
    padding-bottom: 0;
}
.main-content {
    padding-bottom: 7em;
}

.main-content a, p.lead a {
    text-decoration: underline;
}

.content-box {
    background: #ffffff;
    margin-top: -150px;
    padding: 30px 60px;
}
.hl {
    background: #cc3333;
    height: 3px;
    width: 110px;
    margin-top: -10px;
}
.hl-red {
    background: #cc3333;
}
.hl-blue {
    background: #2a61d4;
}

/* Buttons and colors */

.bg-green {
    background: #204ba3;
}
.bg-blue {
    background: #2a61d4;
}
.btn {
    font-weight: 600;
    font-size: 1em;
}

.btn-primary {
    background: #8ece46;
}

.btn-primary, .btn-info {
    background-image: none;
    filter: none;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, .4);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .4);
}
.btn-primary:hover, .btn-primary:focus {
    background: #75b729;
}

.btn-info:hover, .btn-info:focus {
    background: #3897b7;
}


.icon-circle {
    background: #ffffff;
    border-radius: 999px;
    width: 40px;
    padding: 4px;
    height: 40px;
    display: inline-block;
    ;
    text-align: center;
}
.icon-circle:hover, .icon-circle:focus {
    background: #cccccc;
    cursor: pointer;
}
.icon-circle img {
    height: 22px;
}

/* Nav tabs */

.panel {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
}
.panel-body {
    background: #f0f0f0;
    padding: 40px 0;
}
.panel-heading {
    font-size: 1.25em;
    padding: 0 15px;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    /* ie7 fix */
    zoom: 1;
    /* hasLayout ie7 trigger */
}
.nav-tabs, .nav-pills {
    text-align: center;
}
.nav-tabs>li>a {
    width: 100%;
    border-radius: 0;
    border: 1px solid #ddd;
    color: #000000;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    text-decoration: none;
    border: 1px solid #ddd;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #f0f0f0;
}
.nav-tabs>li {
    height: 85px;
    width: 16.6666666%;
    margin-bottom: -9px;
    margin-left: -3px;
    margin-right: -3px;
}
.nav-tabs>.active {
    height: 95px;
    background: #f0f0f0;
}
.nav-tabs>li:hover, .nav-tabs>li:focus {
    height: 95px;
}
.nav-tabs>li>a, .nav-tabs>li>a>div {
    width: 100%;
    height: 100%;
    display: table;
    margin: 0;
}
.nav-tabs>li>a span {
    display: table-cell;
    vertical-align: middle;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: none;
}
.list-unstyled {
    font-weight: 100;
}
.panel-body .tab-content .tab-pane .tab-pane-content .row {
    padding-bottom: 20px;
}
.panel-body .tab-content .tab-pane .tab-pane-content h3 {
    color: #2a61d4;
}
.panel-body .tab-content .tab-pane .tab-pane-content h3 strong {
    color: #000000;
    margin-right: 10px;
}
.panel-body .tab-content .tab-pane .tab-pane-content h3 .btn {
    margin-top: -5px;
}
.support-us-left, .support-us-right {
    padding: 25px 35px;
    height: 200px;
    color: #ffffff;
}
.support-us-left {
    margin-left: -2000em;
    padding-left: 2000em;
    margin-right: -15px;
}
.support-us-right {
    margin-right: -2000em;
    padding-right: 2000em;
    margin-left: -15px;
}
.support-us-right .input-group .form-control:first-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.support-us-right .input-group-btn:last-child>.btn {
    margin-left: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.input-group-btn {
    font-size: inherit;
}
.support-us-left h3 {
    margin-bottom: 10px;
    margin-top: 35px;
}

.support-us-right h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}

.support-us-right .legal {
    font-size: .8em;
    line-height: 1.4em;
    padding-left: .1em;
    margin-top: 1em;
    margin-bottom: 0;
}

.support-us-right .legal a {
    text-decoration: underline;
}

span.icon-circle {
    margin-right: 10px;
}
.box-wrapper {
    display: table;
}
.media-kit .box-wrapper {
    width: 100%;
}
.contribute .content-box {
    padding-bottom: 80px;
}
.no-margin {
    margin-bottom: 0;
}
.box-item {
    background: #ffffff;
    height: 100px;
    width: 210px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #e6e6e6;
}
.media-kit .box-item {
    background: #ffffff;
    height: 170px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #e6e6e6;
    background: #fafafa;
}
.box-item.add-tiem {
    width: 100px;
    font-size: 2.25em;
}
.box-item.add-tiem a {
    color: #000000;
}

/* Sidebar */

.sidebar .sidebar-menu {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 3em;
}
.sidebar .sidebar-menu .sidebar-menu-item-active {
    color: #2a61d4;
}
@media (max-width: 992px) {
    .sidebar {
        display: none;
    }
}

/* Content */

.content-box .content-heading {
    margin-bottom: 70px;
}
.content-box .content-wrap h3 {
    font-weight: 400;
    margin-bottom: 0;
}
.content-box .content-wrap span {
    color: #adadad;
    font-size: 1.125em;
    font-weight: 100;
}
.content-box .content-wrap .perex {
    margin: 2em 0;
}
.content-box  hr {
    margin-top: 40px;
    margin-bottom: 40px;
}
.content-wrap h3.dark-heading {
    color: #000000;
}
.post-paginav .glyphicon {
    font-size: 0.8em;
}
.post-paginav .page-numbers.current {
    font-weight: 600;
}
.glyphicon-disabled {
    color: rgba(0, 0, 0, 0.3);
}
.media-kit .main-content .content-box {
    padding-bottom: 200px;
}
.media-kit-item {
    margin-bottom: 40px;
}
.media-kit-item p {
    color: #2a61d4;
    font-weight: 400;
    margin-bottom: -5px;
}
.media-kit-item span {
    color: #adadad;
    font-weight: 100;
}
.about-img {
    position: relative;
    bottom: -30px;
    margin-bottom: -10px;
}
ul#basic-members {
    list-style: none;
    margin-bottom: 80px;
    padding: 0;
}
#contribute-form {
    padding-top: 30px;
}
#contribute-form .form-headline {
    margin-top: 15px;
}
#contribute-form .form-group {
    margin-right: 2em;
}
#contribute-form .payment .form-group {
    margin-bottom: 10px;
}
#contribute-form .payment .form-group label {
    font-weight: 100;
}

#contribute-form .payment-onetime {
    display: none;
}

#contribute-form .form-amount .payment-periodical {
    display: inline-block;
}

#contribute-form input[name=price_other] {
    width: 5em;
    height: inherit;
    margin: 0 0.5em;
    display: inline-block;
}

#contribute-form .rules p {
    margin: 0.5em 0;
    font-size: 0.9em;
    line-height: 1.8em;
}

.contribution {
    font-size: 1.25em;
}

.minifooter {
    margin-top: 3em;
    font-size: 0.9em;
    text-align: center;
}

.minifooter img {
   margin-right: 2em;
}

.checkbox label {
    font-size: 1em;
    font-weight: 100;
    text-transform: none;
    color: #808080;
}
.checkbox input[type=checkbox] {
    margin-top: 7px;
}
.checkbox {
    padding: 15px 0;
}
.form-group-box label, #contribute-form .payment label {
    font-size: 1em;
}



footer.main-footer {
    color: #ffffff;
    background: #1d1e21;
    padding-bottom: 70px;
}
footer.main-footer a {
    color: #ffffff;
}
.footer-main-menu {
    font-size: 1.25em;
}
.footer-contact .footer-contact-email {
    margin-top: 30px;
}
.studio-echt {
    margin-top: 25px;
    font-weight: 100;
}
.studio-echt:hover .icon-echt {
    opacity: 1;
}
.studio-echt .icon-echt {
    height: 40px;
    margin-left: 10px;
    padding-right: 5px;
    opacity: 0.6;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -ms-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}

.logos .col-sm-4 {
    line-height: 150px;
    padding: 2rem;
    text-align: center;
}

.logos img {
    display: inline-block;
    max-height: 150px;
}

@media (max-width: 768px) {
    .logos img {
        max-width: 250px;
    }
}

.carousel-indicators {
    bottom: 0;
}

.carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    background: rgba(0,0,0,.4);
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 0 !important;
}

.carousel-caption-holder {
    max-width: 50em;
    margin: 0 auto;
    text-align: center;
}

.carousel-inner .item img {
    max-height: 600px;
}

/* ==========================================================================
   Media queries
   ========================================================================== */

@media (max-width: 992px) {
    .support-us-left h3 {
        margin-top: 10px;
    }
    .nav-tabs>li>a span {
        font-size: 0.8em;
    }
}
@media (min-width: 768px) {
    .form-inline .form-group {
        margin-bottom: 15px;
    }
    .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .navbar-nav>li>a .caret {
        display: none;
    }
}
@media (max-width: 768px) {
    .hero {
        padding-top: 9em;
    }
    .section {
        padding-top: 4em;
    }
    .studio-echt {
        margin-top: 35px;
        display: block;
    }
    /* Navbar tabs */
    .nav-tabs>li {
        width: 100%;
    }
    .panel-heading {
        padding: 0;
        margin: 0 -15px;
    }
    .nav-tabs>li:hover, .nav-tabs>li:focus, .nav-tabs>.active {
        height: 85px;
    }
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        border-bottom: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgba(255, 255, 255, 0);
    }
    .nav-tabs>li>a span {
        font-size: 1em;
    }
    .support-us-left {
        height: 100px;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
    }
    .support-us-left h3 {
        margin-left: 20px;
    }
    .support-us-right {
        margin-left: -15px;
        padding-right: 20px;
        margin-right: -15px;
    }
    .team-wider .content-wrap {
        margin-bottom: 30px;
    }
    /* Navbar */
    .navbar-nav {
        margin: 35px -15px;
    }
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height: 100%;
    }
    .nav>li>a:hover, .nav>li>a:focus {
        margin-bottom: 0;
    }
    .navbar-nav .btn {
        padding: 15px 15px;
        margin-top: 23px;
        font-size: 1.25em;
    }
    .navbar-nav>li>a {
        font-size: 1.25em;
        text-shadow: none;
        color: #ffffff;
        border-bottom: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 20px 0;
    }
    .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-nav .open .dropdown-menu>li>a:hover {
        background: none;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        padding: 15px 15px 15px 0;
        border-bottom: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        margin-left: 50px;
        font-size: 1.25em;
        color: #ffffff;
    }
    .navbar.nav-scrolled {
        background: none;
    }
    .navbar.nav-scrolled .navbar-header {
        background: rgba(50, 37, 195, 0.95);
    }
    .navbar-collapse {
        padding: 0 40px;
        background: rgba(50, 37, 195, 0.95);
    }
    .panel-body .tab-content .tab-pane .tab-pane-content h3 .btn {
        margin-top: 10px;
        width: 100%;
    }
    footer.main-footer {
        text-align: center;
    }
    footer.main-footer .pull-right {
        float: inherit!important;
    }
        footer.main-footer .icon-circle {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .carousel-caption h3 {
        line-height: 1.2em;
        font-size: 16px;
    }

    .carousel-caption p {
        line-height: 1.2em;
        font-size: 11px;
    }
}


/* Collapsible tabs */

.panel-body {
    padding: 40px 15px;
}
.panel-title{
    font-size: 0.8em;
}
.panel-group {
    margin-bottom: -1px;
}
.panel-group .panel-title .glyphicon{
    font-size: 0.75em;
    padding-left: 5px;
}
.panel-group .panel+.panel {
    margin-top: 0;
}

.panel-default>.panel-heading{
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    border: 1px solid #ddd;
    margin-top: -1px;
    padding: 30px;
}

.nav-tabs .glyphicon{
    /* hide chevron on desktop */
    display: none;
}

@media (max-width: 768px) {
    .panel-group .panel-title .glyphicon{
        /* show chevron on mobile */
        display: inline-block;
    }
}


/* ==========================================================================
   Override default bootstrap behavior
   ========================================================================== */

.form-control {
    height: 50px;
    padding: 6px 12px;
    font-size: 1em;
    color: #555;
    border-radius: 5px;
}
.btn {
    font-size: 1.125em;
}

@media (min-width: 1200px) {
    .container {
        width: 1030px;
    }
}
@media (min-width: 1200px) {
    .container-offset {
        width: 1230px;
    }
}

input[type=radio], input[type=checkbox], label {
    cursor: pointer;
    cursor: hand;
}

/* custom breakpoint */
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .collapse.in{
        display:block !important;
    }
}

/** various */

.fb_iframe_widget span
{
    vertical-align: baseline !important;
}

a.anchor {
    display: block;
    position: relative;
    top: -140px;
    visibility: hidden;
}

a.jump-to-top {
    display: block;
    margin-top: 3rem;
    font-size: 85%;
    text-decoration: none;
}

a.jump-to-top:hover {
    text-decoration: underline;
}

/* supporters */
.content-supporters h3 {
    margin-top: 2em;
}

.table-supporters tfoot {
    font-weight: bold;
}

.embed-responsive-special {
    padding-bottom: 50%;
}

#activities .btn-group-vertical {
    width: 100%
}

#activities #filter .btn:hover {
    background: white;
    border-bottom: 2px solid grey;
}

@media (min-width: 779px) {
    .activity-card .thumbnail  {
        height: 30rem;
    }

    .activity-card .thumbnail .btn {
        position: absolute;
        right: 3rem;
        bottom: 3.5rem;
    }
}

.activity-card .thumbnail {
    border: .5px solid rgba(0,0,0,0.12);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.activity-card .thumbnail:hover {
    box-shadow: 0 12px 24px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.activity-card a {
    text-decoration: none;
}

.activity-card a:hover {
    text-decoration: none;
}

.activity-card h3 {
    font-weight: bold;
    line-height: 1.5em;
    margin-top: .8em;
    margin-bottom: 1em;
}

.activity-card .thumbnail .btn {
    background-color: #2a61d4;
    color: white;
}

#activities #filter .btn.category-itckari:hover {
    border-bottom-color: #f15555;
}

.activity-card.category-itckari .thumbnail {
    border-top: 2px solid #f15555
}

.activity-card.category-itckari div.category-label {
    color: #f15555
}

#activities #filter .btn.category-obcania:hover {
    border-bottom-color: #2a61d4;
}

.activity-card.category-obcania .thumbnail {
    border-top: 2px solid #2a61d4
}

.activity-card.category-obcania div.category-label {
    color: #2a61d4
}

#activities #filter .btn.category-uradnici:hover {
    border-bottom-color: #8ece46;
}

.activity-card.category-uradnici .thumbnail {
    border-top: 2px solid #8ece46
}

.activity-card.category-uradnici div.category-label {
    color: #8ece46
}

#activities #filter .btn.category-politici:hover {
    border-bottom-color: #808080;
}

.activity-card.category-politici .thumbnail {
    border-top: 2px solid #808080
}

.activity-card.category-politici div.category-label {
    color: #808080
}

#activities #filter .btn.category-firmy:hover {
    border-bottom-color: #f1b039;
}

.activity-card.category-firmy .thumbnail {
    border-top: 2px solid #f1b039
}

.activity-card.category-firmy div.category-label {
    color: #f1b039
}

#activities #filter .btn.category-iniciativy:hover {
    border-bottom-color: #3897b7;
}

.activity-card.category-iniciativy .thumbnail {
    border-top: 2px solid #3897b7
}

.activity-card.category-iniciativy div.category-label {
    color: #3897b7
}

.activity h3 {
    font-weight: bold;
}

.activity ul {
    font-weight: 100;
}

.activity .content a {
     font-weight: 400;
     color: #204ba3;
     text-decoration: underline;
}

#two-percent.panel-group .panel-body {
    padding: 30px;
}

#two-percent-landing .hero h2 {
    font-weight: normal;
}

#two-percent-landing #heads {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#two-percent-landing #cta-top {
    font-size: 1.4em;
    margin-top: 1.4em;
}

#two-percent-landing .success-item {
    margin-bottom: 1.5rem;
}

#two-percent-landing .success-item p {
    font-size: 1em;
}

#two-percent-landing .success-item .icon {
    font-size: 1.4em;
    color: #2a61d4;
    text-align: right;
    padding-right: 0;
}

p.tip {
    border: 1px solid rgba(0,0,0,0.33);
    border-radius: 3px;
    padding: 1em;
    margin-left: -1em;
    margin-right: -1em;
    font-size: 1em;
}

.p-0 {
    padding: 0rem !important;
}
.p-1 {
    padding: .25rem !important;
}
.p-2 {
    padding: .5rem !important;
}
.p-3 {
    padding: 1rem !important;
}
.p-4 {
    padding: 1.5rem !important;
}
.p-5 {
    padding: 3rem !important;
}

.pl-0 {
    padding-left: 0rem !important;
}
.pl-1 {
    padding-left: .25rem !important;
}
.pl-2 {
    padding-left: .5rem !important;
}
.pl-3 {
    padding-left: 1rem !important;
}
.pl-4 {
    padding-left: 1.5rem !important;
}
.pl-5 {
    padding-left: 3rem !important;
}

.pt-0 {
    padding-top: 0rem !important;
}
.pt-1 {
    padding-top: .25rem !important;
}
.pt-2 {
    padding-top: .5rem !important;
}
.pt-3 {
    padding-top: 1rem !important;
}
.pt-4 {
    padding-top: 1.5rem !important;
}
.pt-5 {
    padding-top: 3rem !important;
}

.pb-0 {
    padding-bottom: 0rem !important;
}
.pb-1 {
    padding-bottom: .25rem !important;
}
.pb-2 {
    padding-bottom: .5rem !important;
}
.pb-3 {
    padding-bottom: 1rem !important;
}
.pb-4 {
    padding-bottom: 1.5rem !important;
}
.pb-5 {
    padding-bottom: 3rem !important;
}


.px-0 {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}
.px-1 {
    padding-left: .25rem !important;
    padding-right: .25rem !important;
}
.px-2 {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}
.px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.px-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.px-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}


.mb-0 {
    margin-bottom: 0rem !important;
}
.mb-1 {
    margin-bottom: .25rem !important;
}
.mb-2 {
    margin-bottom: .5rem !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}

.mt-0 {
    margin-top: 0rem !important;
}
.mt-1 {
    margin-top: .25rem !important;
}
.mt-2 {
    margin-top: .5rem !important;
}
.mt-3 {
    margin-top: 1rem !important;
}
.mt-4 {
    margin-top: 1.5rem !important;
}
.mt-5 {
    margin-top: 3rem !important;
}
