<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/narodeniny">Narodeniny</a></li>
          <li class="sidebar-menu-item-active">Kamaráti</li>
          <li><a href="/narodeniny/prihody">Príhody</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Aj ja som Slovensko.Digital</h1>

        <p class="lead">
          K narodeninám partia predsa darčeky. Pridaj sa ku komunite a reprezentuj Slovensko.Digital! Každému podporovateľovi posielame perfektnú nálepku na notebook:
          <!-- TODO sticker photo -->
        </p>

        <p class="text-center">
          <!-- TODO link -->
          <a href="/" class="btn btn-primary">Chcem nálepku!</a>
        </p>

        <p class="text-center">
          <!-- TODO link -->
          <a href="/" class="btn btn-primary">Chcem badge na Facebook!</a>
        </p>
      </div>
    </div>
  </div>
</div>
