<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/narodeniny">Narodeniny</a></li>
          <li class="sidebar-menu-item-active">Kamaráti</li>
          <li><a href="/narodeniny/prihody">Príhody</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Aj ja som Slovensko.Digital</h1>

        <p class="lead">
          K narodeninám patria predsa darčeky. Pridaj sa ku komunite a&nbsp;reprezentuj Slovensko.Digital! Každému podporovateľovi posielame perfektnú nálepku na notebook:
        </p>

        <div class="section">
          <div class="row">
            <div class="col-md-offset-1 col-md-4">
              <img src="/img/birthday/stickers/love.png" class="img-responsive" alt="Nálepka">
            </div>
            <div class="col-md-offset-1 col-md-5">
              <br>
              <img src="/img/birthday/stickers/rec.png" class="img-responsive" alt="Nálepka">
            </div>
          </div>

          <br>

          <p class="text-center">
            <a href="/podpora" class="btn btn-info">Podporím, lebo chcem takúto nálepku!</a>
          </p>
        </div>

        <div class="section">
          <div class="row">
            <div class="col-md-offset-4 col-md-4">
              <img src="/img/birthday/badge.png" class="img-responsive" alt="Odznak">
            </div>
          </div>

          <br>

          <p class="text-center">
            <a href="http://twibbon.com/Support/1-narodky-slovenskodigital" class="btn btn-info">Chcem aspoň badge na Facebook profilovku!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
