<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/narodeniny">Narodeniny</a></li>
          <li><a href="/narodeniny/kamarati">Kamaráti</a></li>
          <li class="sidebar-menu-item-active">Príhody</li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Príhody 2016</h1>

        <p class="lead">
          Aj taká vec ako je informatizácia štátu môže byť zábava. Za rok sa nám prihodilo niekoľko zábavných príhod. Tu sú tie najlepšie:
        </p>

        <blockquote>
          <p>Chalani, keď ste spustili Slovensko.Digital, tak sa ma na jednej firemnej akcii pýtali, že čo blbneme, že kazíme biznis.</p>
          <footer>signatár výzvy</footer>
        </blockquote>

        <blockquote>
          <p>V IT firmách straším kóderov takto: “No a čo by ti na toto povedalo Slovensko.Digital?</p>
          <footer>Team líder z komerčnej firmy dodávajúcej pre štát
          </footer>
        </blockquote>

        <blockquote>
          <p>Musíme si trošku už dávať pozor, sú tu také veci ako Slovensko.Digital</p>
          <footer>z mítingu IT firmy dodávajúcej pre štát</footer>
        </blockquote>

        <blockquote>
          <p>Máme Illeka a nebojíme sa ho použiť</p>
          <footer>pred stretnutím na úrade
          </footer>
        </blockquote>

        <blockquote>
          <p>Čau Jano, začal som si čítať tvoje blogy, išiel za šéfom a spýtal sa ho pár otázok. Potom som podal výpoveď.</p>
          <footer>náhodné stretnutie v električke</footer>
        </blockquote>

        <blockquote>
          <p>Rozhnevaní, mladí muži</p>
          <footer>charakteristika Slovensko.Digital na ITAPA</footer>
        </blockquote>

        <blockquote>
          <p>Kontaktovala nás práve firma, čo by chcela dáta z Ekosystému do štátneho projektu. Ten oficiálny register má vraj svoje muchy.</p>
        </blockquote>

        <blockquote>
          <p>Chalani dostali sme pozvánku na golfový turnaj. Viete to niekto hrať?</p>
        </blockquote>


        <blockquote>
          <p>Jano HargaŠ: "Dáme im najprv šancu na vyjadrenie."</p>
           <p>Jano Suchal a Ľubor Illek na seba pozrú: "Ty si toho ešte asi veľa nezažil s katastrom, že?"</p>
        </blockquote>

        <blockquote>
          <p>Na platforme sa objavili od anonyma nejaké faktúry, o pár dní sme mali v&nbsp;schránke list od právnikov veľkej distribútorskej firmy.</p>
        </blockquote>

        <blockquote>
          <p>Keď je niekto autor dokumentu, tak je niekto autor dokumentu.</p>
          <footer>Poučenie z kauzy Trošková, že nie ku všetkému sa musím hneď vyjadrovať. (Jano Hargaš)</footer>
        </blockquote>

        <p class="lead">Ak ste o nás alebo od nás niečo vtipné počuli, <a href="/kontakt">dajte nám vedieť</a>.</p>
     </div>
    </div>
  </div>
</div>




