<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/narodeniny">Narodeniny</a></li>
          <li><a href="/narodeniny/kamarati">Kamaráti</a></li>
          <li class="sidebar-menu-item-active">Príhody</li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Príhody 2016</h1>

        <p class="lead">
          Aj taká vec ako je informatizácia štátu môže byť zábava. Za rok sa nám prihodilo niekoľko zábavných príhod. Tu sú tie najlepšie:
        </p>

        <!-- TODO content -->
      </div>
    </div>
  </div>
</div>




