<h2 id="dary">Prijaté dary</h2>
<h3 id="firmy-a-granty">Firmy a granty</h3>
<table class="table table-supporters">
  <tbody>
  <tr>
    <td>PLACEHOLDER NAZOV FIRMY</td>
    <td class="text-right">666 €</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td>Spolu</td>
    <td class="text-right">666 €</td>
  </tr>
  </tfoot>
</table>

<h3 id="sukromne-osoby">Súkromné osoby</h3>
<p>V prípade anonymných alebo pseudonymných darcov overujeme ich identitu dodatočne.</p>
