<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/projekty/red-flags">Red Flags</a></li>
          <li><a href="/projekty/ekosystem">Ekosystém</a></li>
          <li><a href="https://navody.digital">Návody.Digital</a></li>
          <li><a href="https://priznanie.digital">Priznanie.Digital</a></li>
          <li><a href="/projekty/lepsie-sluzby">Lepšieslužby.sk</a></li>
          <li><a href="/projekty/lepsi-egovernment">Lepší e-Government</a></li>
          <li class="sidebar-menu-item-active">Aj Ty si Slovensko.Digital</li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <div class="content-heading text-center">
          <h1>Aj Ty si Slovensko.Digital</h1>
          <a href="https://acfslovakia.sk/">
            <img src="/img/projects/active-citizens-fund.png" width="90%">
          </a>
        </div>

        <p class="lead">Od 1. júla 2019 realizujeme projekt <strong>Aj Ty si Slovensko.Digital</strong>. Hlavný cieľ projektu je budovať
          komunitu angažovaných, informovaných a participujúcich ľudí, ktorí sa nielen zaujímajú o dianie v oblasti
          eGovernmentu na Slovensku, ale sa aj aktívne zapájajú do aktivít na zlepšenie súčasného stavu eGovernmentu, či
          už z hľadiska tvorby politík, hodnotenia IT projektov alebo vývoja komunitných IT aplikácií. Podporu nám
          poskytol Active Citizens Fund - Slovakia.</p>

        <p><a href="https://acfslovakia.sk/">Active Citizens Fund – Slovakia</a> je grantový program
          zameraný na posilnenie občianskej spoločnosti, podporu
          aktívneho občianstva a zlepšenie postavenia zraniteľných skupín na Slovensku.</p>

        <p>Súčasťou nášho projektu budú aktivity zamerané na informovanie o dianí v oblasti eGovernmentu a zároveň
          budeme vytvárať priestor na diskusiu o dianí a politikách eGovernmentu. Viac ako vítané sú pripomienky a
          návrhy na zlepšenie, či už ide o systémové fungovanie eGovernmentu alebo používanie konkrétnych elektronických
          služieb.</p>

        <p>Priestor na zapojenie budeme v rámci projektu umožňovať nielen ľuďom z IT komunity a z našich členských
          firiem. Vítaní sú všetci ľudia, ktorí chcú prispieť k budovaniu lepších elektronických služieb a majú chuť
          pomôcť nám s vytváraním portálu <a href="https://navody.digital/">Návody.Digital</a> alebo
          hodnotením IT projektov <a href="https://redflags.slovensko.digital/">Red Flags</a>. Rozšíriť chceme aj
          spoluprácu s profesijnými združeniami, aby sme získali relevantné pripomienky k vecnej stránke pripravovaných
          IT projektov. A vďaka projektu <strong>Aj Ty si Slovensko.Digital</strong> budeme organizovať aj ďalšie 2 Hackathony!</p>

        <p>Projekt <strong>Aj Ty si Slovensko.Digital</strong> je podporený z programu ACF - Slovakia, ktorý je financovaný z Finančného
          mechanizmu EHP 2014-2021. Správcom programu je Nadácia Ekopolis v partnerstve s Nadáciou otvorenej spoločnosti
          Bratislava a Karpatskou nadáciou.</p>

        <p><strong>Pre všetkých, ktorí chcú byť informovaní, odporúčame odoberať náš nespamujúci newsletter tu dole ↓
        </strong></p>
      </div>
    </div>
  </div>
</div>
