<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/projekty/red-flags">Red Flags</a></li>
          <li class="sidebar-menu-item-active">Lepší e-Government</li>
          <li><a href="/projekty/ekosystem">Ekosystém</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <div class="content-heading text-center">
          <h1>Lepšie služby e-Governmentu</h1>
        </div>

        <div class="row mt-5 mb-5">
          <div class="col-md-6">
            <img class="img-responsive" src="/img/projects/logo-EU-ESF-farba-svk.png">
          </div>
          <div class="col-md-6">
            <img class="img-responsive" src="/img/projects/logo-OP-EVS-farba-svk.png">
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-6">
            <strong>Názov projektu:</strong>
            <br>
            Lepšie riešenia eGovernmentu v SR
          </div>
          <div class="col-md-6">
            <strong>Názov a sídlo príjimateľa:</strong>
            <br>
            Slovensko.Digital, Staré grunty 12, 841 04 Bratislava
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-6">
            <strong>Miesto realizácie projektu:</strong>
            <br>
            celé územie SR
          </div>
          <div class="col-md-6">
            <strong>Výška poskytnutého NFP:</strong>
            <br>
            292 992,00 €
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-12">
            <strong>Opis projektu:</strong>
            <br>
            <p class="mb-2">Slovensko.Digital si od svojho vzniku v roku 2015 kladie za cieľ zvyšovanie kvality služieb slovenského eGovernmentu. Tento cieľ dosahuje prostredníctvom niekoľkých druhov aktivít. Najdôležitejšou z nášho pohľadu je set aktivít zameraný na skvalitňovaniu práce verejnej správy. Projektom chceme podporiť práve túto časť našich aktivít.</p>
            <p class="mb-2">Cieľom projektu je prispieť k zvýšeniu efektívnosti verejnej správy cez skvalitnenie informatizácie verejnej správy.</p>
            <p class="mb-2" `>Hlavnou aktivitou projektu je Podpora tvorby verejných politík pre oblasť informatizácie verejnej správy. Detailné aktivity sú:</p>
            <ol class="mb-4">
              <li>Odborné návrhy - príprava a prezentácia odborných návrhov riešení pre skvalitnenie prínosu elektronizácie verejnej správy pre konečného užívateľa - občana a podnikateľa</li>
              <li>Pripomienkovanie materiálov a legislatívy verejnej správy týkajúcich sa eGovernmentu</li>
              <li><a href="https://platforma.slovensko.digital/t/upvii-pracovne-skupiny-k9/2758">Pracovné skupiny</a> - Zapojenie do činnosti pracovných skupín týkajúcich sa problematiky eGovernmentu</li>
              <li>Hodnotenie eGovernmentu - Monitorovanie a hodnotenie stavu a zmien eGovernmentu, najmä v oblastiach pokrývaných pracovnými skupinami a odbornými návrhmi, ktoré prinášame.</li>
            </ol>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-xs-12">
            <strong>Priebežne aktualizované informácie o projekte a jeho aktivitách</strong>
            <a href="https://platforma.slovensko.digital/t/lepsie-riesenia-egovernmentu-v-sr-op-evs-projekt/5078">https://platforma.slovensko.digital/t/lepsie-riesenia-egovernmentu-v-sr-op-evs-projekt/5078</a>
            <p><a href="https://platforma.slovensko.digital/t/seminar-na-temu-pripravne-trhove-konzultacie/6078">Seminár na tému Prípravné trhové konzultácie</a> (19.2.2019)</p>
          </div>
        </div>

        <p>Informácie o operačnom programe Efektívna verejná správa nájdete na <a href="http://www.reformuj.sk/">www.reformuj.sk</a>.</p>
      </div>
    </div>
  </div>
</div>
