<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/projekty/red-flags">Red Flags</a></li>
          <li class="sidebar-menu-item-active">Ekosystém</a></li>
          <li><a href="https://navody.digital">Návody.Digital</a></li>
          <li><a href="https://priznanie.digital/ ">Priznanie.Digital</a></li>
          <li><a href="/projekty/lepsie-sluzby">Lepšieslužby.sk</a></li>
          <li><a href="/projekty/lepsi-egovernment">Lepší e-Government</a></li>
          <li><a href="/projekty/aj-ty-si-slovensko-digital">Aj Ty si Slovensko.Digital</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <div class="content-heading text-center">
          <h1>Ekosystém</h1>
          <a href="https://ekosystem.slovensko.digital/">
            <img src="/img/projects/ekosystem.png" width="80%">
          </a>
          <a href="https://ekosystem.slovensko.digital/">https://ekosystem.slovensko.digital/</a>
        </div>

        <p>
          Hneď na začiatku roka 2016 sme spoločnými silami umožnili 20.000 občanom Slovenska v zahraničí zúčastniť sa
          volieb cez Volby.Digital (to je 2,5 násobný nárast účasti oproti predošlým voľbám) a ďalších 10.000 občanov si
          cez Volby.Digital vybavilo voličský preukaz na Slovensku. Tento jednoduchý “zlepšovák” vznikol v rámci komunity
          Slovensko.Digital.
        </p>

        <p>
          <a href="https://ekosystem.slovensko.digital">Ekosystém.Slovensko.Digital</a> sme spustili v auguste 2016 ako priestor na tvorbu podobných služieb aj do budúcnosti. Cieľom je ukázať štátu, ako sa dá e-government robiť kvalitnejší s väčším zapojením komunity. V rámci Ekosystému sme následne spustili služby
          <a href="https://ekosystem.slovensko.digital/sluzby/datahub">Datahub</a> a
          <a href="https://ekosystem.slovensko.digital/sluzby/autoform">Autoform</a>.
        </p>

        <p>
          V máji 2017 sme Ekosystém doplnili o službu <a href="https://ekosystem.slovensko.digital/sluzby/govbox">GovBox</a>, ktorá zjednodušuje prístup k štátnym správam na slovensko.sk.
        </p>

        <p>
          <strong>Blog vysvetľujúci Ekosystém:</strong>
          <br>
          <a href="https://dennikn.sk/blog/540248/ako-v-statnom-it-predbehnut-estoncov/">Ako v štátnom IT predbehnúť Estóncov</a>
        </p>
      </div>
    </div>
  </div>
</div>
