<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/projekty/red-flags">Red Flags</a></li>
          <li><a href="/projekty/lepsi-egovernment">Lepší e-Government</a></li>
          <li><a href="/projekty/ekosystem">Ekosystém</a></li>
          <li><a href="https://navody.digital">Návody.Digital</a></li>
          <li><a href="/projekty/lepsie-sluzby">Lepšieslužby.sk</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <h1 class="content-heading text-center">Projekty</h1>
        <div class="content-wrap">
          <div class="row">
            <div class="col-md-6">
              <h3><a href="/projekty/red-flags">Red Flags</a></h3>
              <p>
                Otvorené a transparentné hodnotenie projektov informatizácie komunitou IT odborníkov.
              </p>
            </div>
            <div class="col-md-6">
              <h3><a href="/projekty/lepsi-egovernment">Lepší e-Government</a></h3>
              <p>
                Zvýšenie efektívnosti verejnej správy cez skvalitnenie informatizácie verejnej správy.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3><a href="/projekty/ekosystem">Ekosystém</a></h3>
              <p>
                Platforma pre datasety a služby postavené na štátnych dátach so zapojením IT komunity.
              </p>
            </div>
            <div class="col-md-6">
              <h3><a href="https://navody.digital/">Návody.Digital</a></h3>
              <p>
                Jednoduché a interaktívne návody, ako vybaviť úradné záležitosti elektronicky.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3><a href="https://lepsiesluzby.sk">Lepšieslužby.sk</a></h3>
              <p>
                Platforma na zadávanie podnetov a hlásenie chýb štátnych e-gov služieb.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
