<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/projekty/red-flags">Red Flags</a></li>
          <li><a href="/projekty/ekosystem">Ekosystém</a></li>
          <li><a href="https://navody.digital">Návody.Digital</a></li>
          <li><a href="https://priznanie.digital/ ">Priznanie.Digital</a></li>
          <li class="sidebar-menu-item-active">Lepšieslužby.sk</li>
          <li><a href="/projekty/lepsi-egovernment">Lepší e-Government</a></li>
          <li><a href="/projekty/aj-ty-si-slovensko-digital">Aj Ty si Slovensko.Digital</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <div class="content-heading text-center">
          <h1>LepšieSlužby.sk</h1>
          <a href="https://lepsiesluzby.sk/">www.lepsiesluzby.sk</a>
        </div>

        <p>Nahlasovanie podnetov je jedna z aktivít, ktorá pomáha k lepším elektronickým službám štátu na Slovensku.</p>
        <p>Aj preto sme sa v Slovensko.Digital, v spolupráci s naším členom, spoločnosťou EEA, rozhodli pripravit projekt Lepšiesluzby.sk. Je to priestor, kde sa môžu občania, podnikatelia, ale aj úradníci, zapojiť a upozorniť na problémy elektronických služieb štátu, alebo zaslať podnety v podobe návrhov na ich zlepšenie.</p>
        <p>Každý podnet je odborne spracovaný, posúdený a posunutý do rúk zodpovedných úradov a správcov elektronických služieb. Všetky podnety sú uverejnené v časti „Zadané podnety“, kde môžete získať prehľad o tom, v akom stave riešenia podnety sú.</p>
        <p>Prihlásený užívateľ má navyše možnosť aktívne sa zapojiť do diskusie k podnetom.</p>
        <p>Vopred Vám chceme poďakovať a veríme, že konštruktívnou spätnou väzbou sa nám podarí napomôcť rozvoju elektronických služieb na Slovensku. Zapojte sa teraz a pomôžte nám v snahe o lepšie IT</p>
        <p>Tím Slovensko.Digital<p>

      </div>
    </div>
  </div>
</div>
