<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li class="sidebar-menu-item-active">Pomoc podnikateľom</li>
          <li><a href="/projekty/red-flags-5-0-sd-za">Red Flags 5.0 SD ZA</a></li>
          <li><a href="/projekty/red-flags">Red Flags</a></li>
          <li><a href="https://navody.digital">Návody.Digital</a></li>
          <li><a href="https://priznanie.digital">Priznanie.Digital</a></li>
          <li><a href="/projekty/ekosystem">Ekosystém</a></li>
          <li><a href="/projekty/lepsie-sluzby">Lepšieslužby.sk</a></li>
          <li><a href="/projekty/lepsi-egovernment">Lepší e-Government</a></li>
          <li><a href="/projekty/aj-ty-si-slovensko-digital">Aj Ty si Slovensko.Digital</a></li>
        </ul>
      </div>

      <div class="content-box col-md-9">
        <div class="content-heading text-center">
          <h1>Slovensko.Digital pomáha aj podnikateľom</h1>
          <a href="https://www.nadaciapontis.sk/projekty/fond-sk-nic/">
            <img src="/img/projects/fond_sk_nic.png" width="50%">
          </a><br>
          <b>Fond SK-NIC - Nadácia Pontis.</b>
        </div>

        <div class="row mb-4">
          <div class="col-md-6">
            <strong>Trvanie projektu:</strong>
            <br>
            1.12.2021 - 30.11.2022
          </div>
          <div class="col-md-6">
            <strong>Celkové náklady projektu:</strong>
            <br>
            14 268,40 €
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-6">
            <strong>Výška grantu:</strong>
            <br>
            9 862,88 €
          </div>
          <div class="col-md-6">
            <strong>Spolufinancovanie Slovensko.Digital:</strong>
            <br>
            4 405,52 €
          </div>
        </div>

        <p>Prostredníctvom grantu bude projekt špecificky rozvinutý v oblasti riešenia životných situácií podnikateľov. V rámci portálu Návody.Digital vzniknú návody zamerané na splnenie povinností pri začatí podnikania, riešení konkrétnych a zložitých situácií podnikateľov.
          Cieľovou skupinou sú malí podnikatelia, živnostníci, ktorí sa snažia výraznú časť povinností realizovať svojpomocne.</p>

        <p>Sekundárnym cieľom projektu je vzdelávať podnikateľov v tom, ako používať elektronické služby štátu a nástroje potrebné pre elektronickú komunikáciu so štátom. Mnohé z týchto informácii sú zároveň relevantné pre širokú verejnosť, čím by grant prispel k edukácii aj iných skupín obyvateľov.</p>
      </div>
    </div>
  </div>
</div>
