<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li><a href="/projekty/red-flags">Red Flags</a></li>
          <li class="sidebar-menu-item-active">Red Flags 5.0 SD ZA</li>
          <li><a href="https://navody.digital">Návody.Digital</a></li>
          <li><a href="https://priznanie.digital">Priznanie.Digital</a></li>
          <li><a href="/projekty/ekosystem">Ekosystém</a></li>
          <li><a href="/projekty/lepsie-sluzby">Lepšieslužby.sk</a></li>
          <li><a href="/projekty/lepsi-egovernment">Lepší e-Government</a></li>
          <li><a href="/projekty/aj-ty-si-slovensko-digital">Aj Ty si Slovensko.Digital</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <div class="content-heading text-center">
          <h1>Red Flags 5.0: SD ZA Transparentné regióny</h1>
        </div>

        <p>Investície do IT za stovky miliónov eur ročne riešia aj obce, mestá či VÚC-ky. Ich plánovanie a realizácia je pomerne komplikovaná téma. Tieto investície by mali priniesť pridanú hodnotu občanom a úradníkom a mali by byť zároveň ekonomicky výhodné. Participácia, zdieľanie skúseností a znalostí sú jedným z hlavných pilierov Slovensko.Digital. Partnerom projektu v žilinskom regióne je <a href="https://www.zait.sk">ZAIT</a>.</p>

        <p>Hlavným cieľom projektu je prenos know-how Slovensko.Digital v oblasti nastavenia a implementácie procesov a kultúry participácie, transparentnosti a kontroly nákupu a implementácie IKT projektov na strane verejnej správy v rámci konkrétneho pilotného regiónu. Za 5 rokov svojej existencie sme v Slovensko.Digital nazbierali veľa skúseností, vieme, čo funguje a čo nie, vypracovali sme viacero metodík a odporúčaní a toto know-how by sme radi v štruktúrovanej podobe zdieľali do regiónov.</p>

        <p>V rámci tohto projektu sa snažíme o vytvorenie jednoduchého toolkitu, ktorý by v budúcnosti zabezpečil a zjednodušil replikovateľnosť tohto projektu ako celku a jeho výsledkov do ďalších regiónov.</p>

        <p><strong>Projekt Red Flags 5.0: SD ZA Transparentné regióny realizuje občianske združenie Slovensko.Digital spolu so záujmovým združením právnických osôb ZA IT s podporou Fondu pre transparentné Slovensko v Nadácii Pontis.</strong></p>
      </div>
    </div>
  </div>
</div>
