<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li class="sidebar-menu-item-active">Red Flags</li>
          <li><a href="/projekty/lepsi-egovernment">Lepší e-Government</a></li>
          <li><a href="/projekty/ekosystem">Ekosystém</a></li>
          <li><a href="https://navody.digital">Návody.Digital</a></li>
          <li><a href="/projekty/lepsie-sluzby">Lepšieslužby.sk</a></li>
        </ul>
      </div>
      <div class="content-box col-md-9">
        <div class="content-heading text-center">
          <h1>Red Flags</h1>
          <a href="https://redflags.slovensko.digital/">
            <img src="/img/projects/red_flags.png" width="80%">
          </a>
          <a href="https://redflags.slovensko.digital/">https://redflags.slovensko.digital</a>
        </div>

        <p class="lead">Hlavným cieľom projektu je prispieť k úspešnej a kvalitnej realizácii projektov informatizácie verejnej správy identifikovaním kritických miest a potenciálnych rizík.</p>

        <p>Štát dnes pripravuje alebo realizuje IT projekty v celkovej hodnote viac ako 500 miliónov eur. Ako komunite IT odborníkov v Slovensko.Digital nám záleží na tom, aby ich výsledky boli pre občana použiteľné a za normálne peniaze. Nechceme však čakať až kým budú nové IT projekty hotové. Začali sme ich preto systematicky hodnotiť už od začiatku a budeme upozorňovať na tie rizikové.</p>

        <p>Na základe svojich skúseností a skúseností širšej odbornej komunity sme preto vypracovali metodiku, ktorá sa zameriava na viac ako 50 kriitérií úspešnosti projektov. Hodnotenie vzniká priebežne a môže sa do neho zapojiť aj širšia odborná verejnosť cez otvorenú diskusnú platformu. Odborná komunita sa môže zapojiť aj do zlepšovania samotnej metodiky.</p>

        <p>Zverejnenie hodnotení umožní zadávateľom z verejnej správy aj dodávateľom riešení urobiť potrebné korekcie a širokej verejnosti v prípade potreby vyvinúť tlak, aby sa takéto korekcie v projektoch udiali. V neposlednom rade tento otvorený prístup a verejné informovanie pomôže odhaľovať a eliminovať prípadnú korupciu.</p>

        <p><strong>Projekt Red Flags realizuje občianske združenie Slovensko.Digital s podporou Fondu pre transparentné Slovensko v Nadácii Pontis a Veľvyslanectva USA na Slovensku.</strong></p>
      </div>
    </div>
  </div>
</div>
