<div class="hero"></div>

<div class="section main-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <ul class="sidebar-menu list-unstyled">
          <li class="sidebar-menu-item-active">Spolu sme S.D.</li>
          <li><a href="/projekty/pomoc-podnikatelom">Pomoc podnikateľom</a></li>
          <li><a href="/projekty/red-flags-5-0-sd-za">Red Flags 5.0 SD ZA</a></li>
          <li><a href="/projekty/red-flags">Red Flags</a></li>
          <li><a href="https://navody.digital">Návody.Digital</a></li>
          <li><a href="https://priznanie.digital">Priznanie.Digital</a></li>
          <li><a href="/projekty/ekosystem">Ekosystém</a></li>
          <li><a href="/projekty/lepsie-sluzby">Lepšieslužby.sk</a></li>
          <li><a href="/projekty/lepsi-egovernment">Lepší e-Government</a></li>
          <li><a href="/projekty/aj-ty-si-slovensko-digital">Aj Ty si Slovensko.Digital</a></li>
        </ul>
      </div>

      <div class="content-box col-md-9">
        <div class="content-heading text-center">
          <h1>Spolu sme Slovensko.Digital</h1>
          <img src="/img/projects/active-citizens-fund.png" width="50%"><br>
        </div>

        <div class="row mb-4">
          <div class="col-md-6">
            <strong>Trvanie projektu:</strong>
            <br>
            1.1.2022 - 30.4.2023
          </div>
          <div class="col-md-6">
            <strong>Celkové náklady projektu:</strong>
            <br>
            64 110,00 €
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-6">
            <strong>Výška grantu:</strong>
            <br>
            57 699,00 €
          </div>
          <div class="col-md-6">
            <strong>Spolufinancovanie Slovensko.Digital:</strong>
            <br>
            6 411,00 €
          </div>
        </div>

        <p><a href="https://acfslovakia.sk/">Active Citizens Fund – Slovakia</a> je grantový program zameraný na posilnenie občianskej spoločnosti, podporu aktívneho občianstva a zlepšenie postavenia zraniteľných skupín na Slovensku.</p>
        <p>Projekt <i>“Spolu sme Slovensko.Digital”</i> ktorý budeme realizovať v rámci poslednej 3. výzvy nórskych grantov nám umožní robiť aktivity v rámci našich kľúčových projektov.<br>
          Cieľom projektu je odstrániť bariéry, ktoré bránia participácii a umožniť širokej verejnosti angažovať sa v témach eGovernmentu.</p>
        <p>Tieto témy prinášame jednoducho spracované, aby sa v nich mohli ľudia ľahko a rýchlo zorientovať a následne si vybrať do akých aktivít sa zapoja. Pandémia zvýšila záujem o všetky elektronické služby, poukázala na nedostatky a my chceme z tejto situácie vyťažiť maximum a zapojiť ľudí do zlepšovania elektronických služieb štátu.</p>
        <p>Hlavnými oblasťami realizácie grantu sú:
          <ul>
            <li><a href="https://redflags.slovensko.digital/">Red Flags</a></li>
            <li><a href="https://navody.digital/">Navody.Digital</a></li>
            <li><a href="https://lepsiesluzby.sk/">Lepšie služby</a></li>
            <li>Investigatíva</li>
            <li>Komunita</li>
          </ul>
        </p>
        <p><i>“Projekt 'Spolu sme Slovensko.Digital' je podporený z programu ACF-Slovakia, ktorý je financovaný z Finančného mechanizmu EHP 2014-2021. Správcom programu je Nadácia Ekopolis v partnerstve s Nadáciou otvorenej spoločnosti Bratislava a Karpatskou nadáciou”.</i></p>
      </div>
    </div>
  </div>
</div>
