<div class="col-sm-6 col-md-4">
  <div class="thumbnail participation-activity">
    <div class="caption">
      <h3><%= activity.title %></h3>
      <p class="perex hidden-xs"><%= activity.perex %></p>
      <div class="text-right">
        <a href="/zapoj-sa/<%= activity.url %>" class="btn btn-default" role="button">Viac info</a>
      </div>
    </div>
  </div>
</div>
