<div class="row">
  <div class="col-xs-12">
    <p>IT projekty financované z eurofondov  sa majú štúdiou uskutočniteľnosti. Štát sa zaviazal, že štúdie uskutočniteľnosti IT projektov budú  prerokované s odbornou verejnosťou v rámci tzv. <em>verejného vypočutia</em>. Cieľom je vytvoriť priestor pre odborníkov formulovať pripomienky k štúdiám, a teda ovplyvniť podobu IT projektu ešte v prípravnej fáze. </p>
    <p>Verejné vypočutie je otvorené verejnosti. Vítaný je každý, kto je schopný svojimi pripomienkami zvýšiť kvalitu štúdií resp. IT projektov.</p>
    <p>Termín verejných vypočutí stanovuje gestor IT projektu. V prípade, ak máš záujem sa verejného vypočutia zúčastniť alebo štúdiu pripomienkovať online, sleduj na platforme kategóriu <a href="https://platforma.slovensko.digital/c/pripomienkovanie">Pripomienkovanie</a>, kde zverejňujeme aj termíny verejných vypočutí. </p>
  </div>
</div>
