<div class="row">
  <div class="col-xs-12">
    <p>Už od vzniku Slovensko.Digital zapájame odbornú ale aj laickú verejnosť do diskusie (nielen) o informatizácii verejnej správy prostredníctvom <a href="https://platforma.slovensko.digital/">Platformy Slovensko.Digital</a> (platforma). Platforma je participačné fórum otvorené pre každého. </p>
    <p class="mb-0"><strong>Preto nezáleží na tom, či si:</strong></p>
    <ul class="mb-5">
      <li>IT odborník pripravený navrhovať technické riešenia,</li>
      <li>občan, ktorý potrebuje pomôcť zorientovať sa v používaní e-government služieb štátu,</li>
      <li>úradník, ktorý hľadá odborné vstupy do diskusie,</li>
      <li>podnikateľ, ktorý chce vyjadriť svoje skúsenosti s e-governmentom.</li>
    </ul>
    <p class="mb-0"><strong>Diskutovať môžeš v týchto kategóriách:</strong></p>
    <ul class="mb-5">
      <li><a href="https://platforma.slovensko.digital/c/slovensko-digital">Čo je nové v Slovensko.Digital</a></li>
      <li><a href="https://platforma.slovensko.digital/c/red-flags">RedFlags</a></li>
      <li><a href="https://platforma.slovensko.digital/c/ekosystem">Ekosystém Slovensko.Digital</a></li>
      <li><a href="https://platforma.slovensko.digital/c/pracovne-skupiny">Pracovné skupiny</a></li>
      <li><a href="https://platforma.slovensko.digital/c/pripomienkovanie">Pripomienkovanie</a></li>
      <li><a href="https://platforma.slovensko.digital/c/egov">Čo sa deje v eGovernmente</a></li>
      <li><a href="https://platforma.slovensko.digital/c/napady-na-zlepsenie-pomoc-komunite-brigady">Nápady na zlepšenie, pomoc komunite, brigády</a></li>
      <li><a href="https://platforma.slovensko.digital/c/spolupraca">Spolupráce so štátom a samosprávami</a></li>
      <li><a href="https://platforma.slovensko.digital/c/skusenosti-pouzivatelov">Manuály, príručky, otázky a odpovede</a></li>
      <li><a href="https://platforma.slovensko.digital/c/uncategorized">Ostatné</a></li>
    </ul>
    <p>Na platforme si vždy vítaný/á.</p>
  </div>
</div>
