<div class="row">
  <div class="col-xs-12">
    <p>Samosprávy majú množstvo kompetencií, ktorých riadny výkon ovplyvňuje náš každodenný život, preto je dôležité dohliadať na jej činnosť. Aj ty sa môžeš aktívne pričiniť o to, aby bola Tvoja samospráva viac transparentná a inovatívna.</p>
    
    <h3>Ako? Prijmi ju zverejňovať <a href="https://www.slovensko.sk/sk/zivotne-situacie/zivotna-situacia/_open-data-otvorene-data/">otvorené dáta</a>.</h3>
    <p>Zverejňovanie (samosprávnych) otvorených dát vedie nielen k vyššej transparentnosti, ale aj k participácii, rastu podnikateľských príležitostí v regióne vďaka vývoju nových aplikácií, služieb, prípadne vzniku nových start-upov. Pre viac informácií si pozri <a href="http://opendatahandbook.org/guide/en/">Open data príručku</a>, <a href="https://www.youtube.com/channel/UCvc9yQ_9nA3OFk-ZZHx-_1A">Open Data Akadémiu</a> alebo <a href="https://www.europeandataportal.eu/sk/highlights/our-interactive-elearning-modules-open-data">Open data e-learning</a>. Aj vďaka Tebe by v Tvojom regióne mohli vzniknúť aplikácie ako napr. <a href="http://app.wheredoesmymoneygo.org/">Where does my money go</a>, <a href="https://www.councilmatic.org/">Councilmatic</a>, <a href="https://test-942e4.firebaseapp.com/">Hackuj Hazard</a>, <a href="http://www.busguru.co.uk/">Bus Guru</a> a iné.</p>
    <p>Dobrým príkladom ako pristupuje samospráva k zverejňovaniu otvorených dát je napr. mesto Prešov. Medzi <a href="https://data.gov.sk/organization/8a043e04-3ef8-45d4-a9a9-ede214e5fac5">datasetmi</a> nájdeš napr. zoznam verejných toaliet, fontány, štatistiky vybavovanie sťažností obyvateľov, počet psov. Tvoja samospráva má tieto dáta taktiež. </p>
    <p>Hecni svoju samosprávu, nadviaž s ňou spoluprácu, vysvetli jej potenciál otvorených dát. Využi priestor na diskusiu na platforme v kategórii <a href="https://platforma.slovensko.digital/c/spolupraca">Spolupráce so štátom a samosprávami</a>, kde Ti my zo Slovensko.Digital alebo komunita poradí ako na to. </p>
  </div>
</div>
