<div class="row">
  <div class="col-xs-12">
    <p>Štát zahájil intenzívny boj voči byrokracii, zaviazal sa k dodržiavaniu princípu <em>jedenkrát a dosť</em>, tzn. že podľa <em>Zákona o niektorých opatreniach na znižovanie administratívnej záťaže využívaním informačných systémov verejnej správy</em> si úrady nemôžu pýtať od občanov tie výpisy, ktorými štát už disponuje v informačných systémoch registra právnických osôb, podnikateľov a orgánov verejnej moci, katastra nehnuteľností a register trestov.</p>
    <p>Podľa Úradu podpredsedu vlády SR pre investície a informatizáciu si “<a href="https://slovensko.hnonline.sk/1698282-jedenkrat-a-dost-vlada-vyhlasila-vojnu-byrokracii-schvalila-novy-zakon">v roku 2017 ... vyžiadali občania a podnikatelia v papierovej forme 348 680 výpisov z listu vlastníctva, 280 325 výpisov z obchodného registra, 67 690 výpisov zo živnostenského registra a 316 130 výpisov a odpisov z registra trestov</a>” (Hospodárske noviny). Tejto neúmerne veľkej byrokracii by malo byť koniec od účinnosti spomínaného zákona.</p>
    <p>Iniciatívu a boj proti byrokracii vítame, ale zaujíma nás ako sa princíp <em>jedenkrát a dosť</em> dodržiava v praxi. Ak ste sa stretli s porušením zákona a úrady si od Vás neprávom pýtali výpisy v rozpore so zákonom, dajte nám vedieť a popíšte Váš prípad v kategórii <a href="https://platforma.slovensko.digital/c/egov">eGovernment</a>.</p>
  </div>
</div>
