<div class="row">
  <div class="col-xs-12">
    <p>Vybaviť elektronickú službu štátu je častokrát náročnou úlohou. Príručky sú rozsiahle, komplikovane napísané a pokyny nejasné. Očakávanie, že žiadosť, či službu vybavím do pár minút sa často nesplní a vybavovanie sa natiahne aj na niekoľko hodín, či dní. Samozrejme, existujú aj pozitívne príklady.</p>
    <p>Ak si už “zdolal/a” vybavovanie žiadostí, či Ťa to ešte len čaká, popíš svoju skúsenosť prostredníctvom zmapovania procesu. Štátu pomôžete upozornením na dobré/zlé riešenia a ostatným používateľom tým, že vytvoríš jednoduchý manuál ako postupovať. </p>
    <p>Napíš návod v kategórii <a href="https://platforma.slovensko.digital/c/skusenosti-pouzivatelov">Manuály, príručky, otázky a odpovede</a>.</p>
  </div>
</div>
