<div class="row">
  <div class="col-xs-12">
    <p>Máš nápad ako zlepšiť e-službu štátu pre občana? Napríklad z hľadiska technického riešenia, procesu, relevantnej legislatívy?  Máš aj ďalšie nápady na zlepšenia, ktoré zapadajú do celkovej vízie Slovensko.Digital o lepšom IT?</p>
    <p>Popíš svoje nápady na zlepšenia na platforme v kategórii <a href="https://platforma.slovensko.digital/c/napady-na-zlepsenie-pomoc-komunite-brigady">Nápady na zlepšenie, pomoc komunite, brigády</a>.</p>
  </div>
</div>
