<div class="row">
  <div class="col-xs-12">
    <p>Chceme štátne IT, kde IT firmy veria, že má zmysel súťažiť, snažiť sa o najlepšie riešenia a veria v korektné podnikateľské prostredie, nediskrimináciu a rovnosť príležitostí. Slovensko.Digital ponúka všetkým férovým IT firmám členstvo.</p>
    <p>Firmám, kde je úprimný záujem dodávať kvalitnejšie výstupy vieme poskytnúť aj odborné poradenstvo v projektoch, zorientovanie sa v relevantných procesoch, legislatíve, či integráciách a naše know-how.</p>
    <p>Kontaktuj nás na <a href="mailto:kontakt@slovensko.digital">kontakt@slovensko.digital</a>.</p>
  </div>
</div>
