<div class="row">
  <div class="col-xs-12">
    <p>Ako Slovensko.Digital sme súčasťou viacerých pracovných skupín, ktoré nastavujú verejné politiky v oblasti štátneho IT. Dohliadame na dobré riešenia, transparentnosť, otvorenosť a participatívnosť procesov. Aktuálne pôsobíme v týchto pracovných skupinách:</p>
    <ul>
      <li><a href="https://platforma.slovensko.digital/t/upvii-pracovna-skupina-k9-1-delivery/2745">K9.1 Delivery</a></li>
      <li><a href="https://platforma.slovensko.digital/t/upvii-pracovna-skupina-k9-2-governance/3322">K9.2 Governance</a></li>
      <li><a href="https://platforma.slovensko.digital/t/upvii-pracovna-skupina-k9-3-strategicka-architektura/3179">K9.3 Strategická architektúra</a></li>
      <li><a href="https://platforma.slovensko.digital/t/upvii-pracovna-skupina-k9-4-lepsie-data/2736">K9.4 Lepšie dáta</a></li>
      <li><a href="https://platforma.slovensko.digital/t/upvii-pracovna-skupina-k9-5-lepsie-sluzby/2750">K9.5 Lepšie služby</a></li>
      <li><a href="https://platforma.slovensko.digital/t/upvii-pracovna-skupina-k9-6-digitalizacia-agiend-vs/3308">K9.6 Digitalizácia agiend VS</a></li>
      <li><a href="https://platforma.slovensko.digital/t/upvii-pracovna-skupina-k9-7-vladny-cloud/2749">K9.7 Vládny cloud</a></li>
      <li><a href="https://platforma.slovensko.digital/t/upvii-pracovna-skupina-k9-8-kyberneticka-bezpecnost/3307">K9.8 Kybernetická bezpečnosť</a></li>
    </ul>
    <p>Ak máš expertízu na dané témy a máš záujem byť členom pracovnej skupiny, daj nám vedieť.</p>
    <p>V prípade, ak sa chceš zapojiť do pripomienkovania cez platformu, klikni na názov skupín alebo sleduj kategóriu <a href="https://platforma.slovensko.digital/c/pracovne-skupiny">Pracovné skupiny</a>, či <a href="https://platforma.slovensko.digital/c/pripomienkovanie">Pripomienkovanie</a>.</p>
  </div>
</div>
