<div class="row">
  <div class="col-xs-12">
    <p><em>Chceme aby bol hlas verejnosti a občianskych iniciatív počuť a aby boli pre vládu rovnocenným partnerom na diskusiu</em>. Preto  Slovensko.Digital spolupracuje  s občianskymi iniciatívami a organizáciami, ktoré sa snažia presadzovať verejný záujem, či už z hľadiska zvyšovania transparentnosti, boja proti korupcii, upozorňovania na konflikty záujmov, neefektívneho vynakladania zdrojov, či na kauzy zo sveta štátneho IT.</p>
    <p>V tomto duchu sme spolupracovali s viacerými občianskymi iniciatívami <strong>koordinovane</strong> za účelom dosiahnutia verejného záujmu a tlaku,  napr. pri voľbe predsedu úradu pre verejné obstarávanie, či pri pochybnom nákupe internetu pre školy (kauza Edunet). Mimovládnym organizáciám a občianskym iniciatívam ponúkame nielen spoluprácu, ale aj expertízu Slovensko.Digital napr.vo forme odborných stanovísk, konzultácií, či nástrojov v oblasti IT.</p>
    <p>Kontaktujte nás na <a href="mailto:kontakt@slovensko.digital">kontakt@slovensko.digital</a>.</p>
  </div>
</div>
