<div class="row">
  <div class="col-xs-12">
    <p>V našej vízii sú digitálne služby štátu politickou prioritou a majú jasné politické vlastníctvo, sú príkladom úspešnej spolupráce medzi verejným a súkromným sektorom s jasným prínosom pre občana</p>
    <p>Aj ako politik nám vieš pomáhať s presadzovaním kvalitných IT riešení. Slovensko.Digital Ti vie poskytnúť odborné stanoviská k legislatívnym iniciatívam a odbornú podporu pre zavádzanie systémových zmien v štátnom IT, ktoré majú potenciál zvýšiť kvalitu e-governmentu.</p>
    <p>Kontaktuj nás na <a href="mailto:kontakt@slovensko.digital">kontakt@slovensko.digital</a>.</p>
  </div>
</div>
