<div class="row">
  <div class="col-xs-12">
    <p>Chceme so štátom spolupracovať, nielen ho kritizovať. Spolupráca medzi štátom a nezávislou komunitou IT-čkárov je v zahraničí celkom bežná (<a href="https://www.codeforamerica.org/">Code For America</a>, <a href="https://codefor.de/">Code for Germany</a>, <a href="https://codeforaustralia.org/">Code for Australia</a>).</p>
    <p>Na Slovensku spolupráca prebieha zatiaľ hlavne v rovine pripomienkovania verejných politík, avšak Slovensko.Digital a komunita vie byť nápomocná aj v ďalších veciach.</p>
    <p class="mb-0"><strong>Dajte nám vedieť, ak by Váš úrad potreboval pomoc komunity napr. v týchto bodoch:</strong></p>
    <ul class="mb-4">
      <li>využitia otvorených dát;</li>
      <li>verejného alpha testovania IT projektov;</li>
      <li>čistením databáz;</li>
      <li>lepšieho obstarávania informačných systémov;</li>
      <li>poskytnúť spätnú väzbu na open data, API, pripravovaného IT projektu, strategického dokumentu;</li>
      <li>naprogramovať jednoduchú aplikáciu, ktorá by mohla úradu plniť si svoje povinnosti;</li>
      <li>zorganizovať hackathon, hacknight.</li>
    </ul>
    <p>Ak to bude v našich kapacitách, radi pomôžeme. Svoj nápad na spoluprácu môžete spísať na platforme v kategórii <a href="https://platforma.slovensko.digital/c/spolupraca">Spolupráce so štátom a samosprávami</a>.</p>
    <p>Ak hľadáte spätnú na väzbu na pripravovaný strategický dokument, štátny IT projekt, metodiku, atď. kategória <a href="https://platforma.slovensko.digital/c/pripomienkovanie">Pripomienkovanie</a> je určená práve pre Vás. </p>
  </div>
</div>
