<div class="row">
  <div class="col-xs-12">
    <p>Chceme štátne IT, kde IT firmy veria, že má zmysel súťažiť, snažiť sa o najlepšie riešenia a veria v korektné podnikateľské prostredie, nediskrimináciu a rovnosť príležitostí.</p>
    <p>Aj Tvoja firma sa môže stať členom Slovensko.Digital.</p>
    <p class="mb-0"><strong>Pridajte sa k nám a získate:</strong></p>
    <ul class="mb-4">
      <li>Možnosť rozhodovať o budúcnosti Slovensko.Digital</li>
      <li>Network, komunitu a výmenu skúseností</li>
      <li>Informácie o dianí v štátnom IT - členský newsletter s aktualitami a príležitosťami</li>
      <li>Propagáciu v IT komunite a na verejnosti</li>
      <li>Bezplatné služby pre Vaše podnikanie</li>
    </ul>
    <p>Viac informácií o členstve nájdeš <a href="https://slovensko.digital/clenstvo">na tomto mieste</a>, prípadne nás kontaktuj na <a href="mailto:kontakt@slovensko.digital">kontakt@slovensko.digital</a>.</p>
  </div>
</div>
