<div class="row">
  <div class="col-xs-12">
    <p>Ak si programátor e-government systémov, dávame Ti do pozornosti sekciu platformy, ktorá je zameraná na otázky a odpovede na technické problémy spojené s integráciou na štátne IT projekty. Sekciu nájdeš na <a href="https://platforma.slovensko.digital/c/egov/stat-overflow">tomto mieste</a>.</p>
  </div>
</div>
