<div class="row">
  <div class="col-xs-12">
    <ul>
      <li>Rád by si komunite predstavil dobrú robotu aby si inšpiroval ostatných?</li>
      <li>Rozbehol si zaujímavý projekt?</li>
      <li>Naprogramoval dobrú aplikáciu nad verejnými dátami?</li>
      <li>Navrhol si dobré (technické) riešenie, ktoré by mohlo byť zaujímavé pre ostatných členov komunity?</li>
      <li>Riešenie, ktoré by mohlo inšpirovať aj organizácie štátnej/verejnej správy?</li>
    </ul>
    <p>Ak áno, daj nám vedieť. Slovensko.Digital organizuje stretnutia komunity, kde Ti môže vytvoriť priestor na prezentáciu Tvojho projektu.</p>
    <p>Prípadne, predstav Tvoj projekt na platforme v kategórii <a href="https://platforma.slovensko.digital/c/napady-na-zlepsenie-pomoc-komunite-brigady">Nápady na zlepšenie, pomoc komunite, brigády</a>.</p>
  </div>
</div>
