<div class="row">
  <div class="col-xs-12">
    <p>Slovensko.Digital záleží na tom, aby IT štátne služby boli kvalitné a ľahko používateľné aj pre občanov. Užívateľské príručky sú často komplikované, náročné na pochopenie, “nečitateľné” pre laikov, rozsiahle a zverejnené na rôznych miestach.</p>
    <p>Ak sa neorientuješ v elektronických službách štátnej správy, príručky a manuály k vybraným elektronickým službám štátu si môžeš dohľadať aj na platforme v kategórii <a href="https://platforma.slovensko.digital/c/skusenosti-pouzivatelov">Manuály, príručky, otázky/odpovede</a>.</p>
    <p>Na platforme nájdeš príručky (návody) pre občanov z dielne gestora projektu, alebo z dielne komunity, ktorá sa snaží o ich zjednodušenie.</p>
  </div>
</div>
