<div class="row">
  <div class="col-xs-12">
    <p>Štát dnes pripravuje alebo realizuje IT projekty v celkovej hodnote viac ako 500 miliónov eur ročne. Slovensko.Digital záleží na tom, aby ich výsledky boli pre občana použiteľné a za slušnú cenu. Preto sme ich začali systematicky hodnotiť už od začiatku a pravidelne upozorňujeme na tie rizikové.</p>
    <p>V rámci projektu <a href="https://redflags.slovensko.digital/">RedFlags</a> sa nám doteraz spoločne <a href="https://redflags.slovensko.digital/projekty">podarilo vyhodnotiť viac ako 20 veľkých IT projektov štátnej správy</a>. O výsledky hodnotenia projektov “RedFlags” sa pravidelne zaujímajú média (<a href="https://dennikn.sk/940771/it-ckari-zo-slovensko-digital-zhodnotili-14-statnych-projektov-pochvalili-len-5-z-nich/">Denník N</a>; <a href="https://www.etrend.sk/technologie/stat-pripravuje-it-projekty-za-pol-miliardy-eur-ktore-si-zasluzia-cervenu.html">Trend</a>, a i.), <a href="https://platforma.slovensko.digital/c/red-flags">odborná komunita</a>, gestori projektov či <a href="http://itas.sk/itas-k-iniciative-red-flags/">veľkí hráči v oblasti IT</a>.</p>
    <p>Do hodnotenia sa môžeš zapojiť aj ty, ako? Napr. v roli <strong>prispievateľa do hodnotenia; odborníka na niektorú tému; editora projektu</strong>. Čo konkrétne tieto role vyžadujú, nájdeš <a href="https://redflags.slovensko.digital/ako-sa-zapojit">na tomto mieste</a>.</p>
    <p>Samozrejme, tím Slovensko.Digital Ti postup hodnotenia detailne vysvetlí. Klikni na web RedFlags, diskutuj na platforme <a href="https://platforma.slovensko.digital/c/red-flags">v kategórii Red Flags</a> alebo nám napíš.</p>
  </div>
</div>
