<div class="row">
  <div class="col-xs-12">
    <p>Našim cieľom nie je len kritizovať, ale aj na konkrétnych príkladoch, službách ukázať ako si predstavujeme moderné a kvalitné elektronické služby pre občana.</p>
    <p>V roku 2016 sme spustili <a href="https://ekosystem.slovensko.digital/">ekosystém.slovensko.digital</a>, ktorý uľahčuje komunikáciu so štátom, prácu s dátami a verejnými registrami štátu.</p>

    <p class="mb-0">V rámci Ekosystému poskytujeme nasledujúce služby:</p>
    <ul class="mb-4">
      <li><a href="https://ekosystem.slovensko.digital/sluzby/govbox">GovBox</a> &ndash; Jednoduchý prístup k štátnej elektronickej schránke priamo cez Váš email a bez elektronického občianskeho preukazu.</li>
      <li><a href="https://ekosystem.slovensko.digital/sluzby/autoform">Autoform</a> &ndash; Automatické dopĺňanie kontaktných a fakturačných údajov o právnických osobách. Denne aktualizované. Integrácia na pár riadkov HTML kódu.</li>
      <li><a href="https://ekosystem.slovensko.digital/sluzby/datahub">Datahub</a> &ndash; Prístup ku konsolidovaným a prepojeným štruktúrovaným dátam cez jednoduché REST APIa rozhranie pre analytické reporty cez SQL</li>
    </ul>
    <p>Všetky potrebné informácie o možnostiach a spôsobe  využívania jednotlivých služieb v rámci ekosystému nájdeš na <a href="https://ekosystem.slovensko.digital/">tomto mieste</a>, prípadne nás kontaktuj na <a href="mailto:kontakt@slovensko.digital">kontakt@slovensko.digital</a>.</p>
  </div>
</div>
