<p>V Slovensko.Digital sa snažíme ukázať na konkrétnych príkladoch, že tlačiť na témy ako <strong>otvorené dáta, otvorené API, otvorený softvér</strong> má zmysel, a to nielen z hľadiska biznis príležitostí, ale aj z hľadiska zvyšovania transparentnosti, participácie, či zlepšovania života komunít. Aj preto sme rozbehli <a href="https://ekosystem.slovensko.digital/">ekosystém.slovensko.digital</a> (GovBox, Autoform, DataHub), či projekt <a href="https://volby.digital/">volby.digital</a>.</p>
<p><strong>Dobrých príkladov nie je nikdy dosť a aj Ty vieš pomôcť Slovensko.Digital a komunite. Ako?</strong></p>
<h3>Príď s nápadom a začni programovať:</h3>
<ul>
  <li>
    Vyber si komunitný projekt na ktorom chceš pracovať:
    <ul>
      <li>Inšpiruj sa už existujúcimi nápadmi napr. tu, alebo,</li>
      <li>popíš svoj nápad, zámer na platformu Slovensko.Digital pod kategóriu <a href="https://platforma.slovensko.digital/c/napady-na-zlepsenie-pomoc-komunite-brigady">Nápady na zlepšenie, pomoc komunite, brigády</a>.</li>
    </ul>
  </li>
  <li>Daj vedieť komunite, že ideš na projekte pracovať napr. cez <a href="http://slack.slovensko.digital/">Komunitný Slack Slovensko.Digital</a> alebo cez <a href="https://platforma.slovensko.digital/">platformu</a>.</li>
  <li>Začni programovať alebo u nás nájdi pomocníkov.</li>
  <li>Dotiahnime Tvoj projekt úspešne do konca.</li>
  <li>Slovensko.Digital spraví PR tvojej aplikácii.</li>
</ul>

<h3>Vyrieš “issues” na GitHube:</h3>
<p><a href="https://github.com/slovensko-digital/ekosystem/issues">Tu nájdeš</a> verejne dostupný GitHub Slovensko.Digital vrátane aktuálnych issues na riešenie. Každá pomoc sa nám zíde.</p>
