<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Lepšie digitálne služby štátu <strong>nie sú</strong> sci-fi</h1>
      </div>
    </div>
  </div>
</div>

<div id="activities" class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center">Zoznam aktivít Slovensko.Digital</h2>
      </div>
    </div>
    <div id="filter" class="row mb-5">
      <div class="col-xs-12 text-center">
        <div class="btn-group hidden-xs hidden-sm" role="group">
          <button type="button" class="btn btn-default active" data-category="all">Všetko</button>
          <button type="button" class="btn btn-default" data-category="IT expert">IT experti</button>
          <button type="button" class="btn btn-default" data-category="Občania">Občania</button>
          <button type="button" class="btn btn-default" data-category="Politici">Politici</button>
          <button type="button" class="btn btn-default" data-category="Rebeli">Rebeli</button>
          <button type="button" class="btn btn-default" data-category="IT firmy">IT firmy</button>
        </div>

        <div class="btn-group-vertical visible-xs visible-sm" role="group">
          <button type="button" class="btn btn-default active" data-category="all">Všetko</button>
          <button type="button" class="btn btn-default" data-category="IT expert">IT experti</button>
          <button type="button" class="btn btn-default" data-category="Občania">Občania</button>
          <button type="button" class="btn btn-default" data-category="Politici">Politici</button>
          <button type="button" class="btn btn-default" data-category="Rebeli">Rebeli</button>
          <button type="button" class="btn btn-default" data-category="IT firmy">IT firmy</button>
        </div>
      </div>
    </div>
    <div id="list" class="row pt-3 pb-5">
      <% @activities.each do |activity| %>
        <%= erb :'participation/_activity_card', locals: { activity: activity } %>
      <% end %>
    </div>
  </div>
</div>

